@import 'normalize'
@import 'global'
@import 'fonts'

.header
  margin-bottom: 30px
  @media screen and ( max-width: 500px )
    margin-bottom: 15px
  .header__upper
    font-size: 16px
    color: #fff
    background: $gradient
    box-shadow: 0 3px 23px rgba(#000, .33)
    padding: 25px 0
    @media screen and ( max-width: 500px )
      padding: 20px 0
    .header__inner
      display: flex
      justify-content: space-between
      align-items: center
      .header__logo
        margin-top: 4px
        @media screen and ( max-width: 500px )
          width: 180px
        @media screen and ( max-width: 425px )
          width: 150px
        @media screen and ( max-width: 375px )
          width: 130px
      .header__btns
        display: flex
        align-items: center
        @media screen and ( max-width: 720px )
          display: grid
          grid-template-areas: 'money replenish user'
        .header__money
          margin-top: 7px
          margin-right: 15px
          @media screen and ( max-width: 720px )
            grid-area: money
            margin-right: 4px
          @media screen and ( max-width: 375px )
            margin-right: 0
        .header__user
          position: relative
          display: flex
          align-items: center
          line-height: 1
          background: rgba(#fff, .25)
          border-radius: 19px
          padding: 5px 35px 5px 5px
          margin-right: 15px
          @media screen and ( max-width: 720px )
            grid-area: user
            margin-right: 0
          @media screen and ( max-width: 375px )
            padding-right: 20px
          span
            @media screen and ( max-width: 720px )
              display: none
          &::after
            content: ''
            position: absolute
            right: 15px
            top: 50%
            transform: translateY(-100%) rotate(135deg)
            width: 8px
            height: 8px
            border-top: 2px solid #fff
            border-right: 2px solid #fff
            cursor: pointer
            @media screen and ( max-width: 375px )
              right: 7px
              transform: translateY(-50%) rotate(135deg)
              width: 6px
              height: 6px
          img
            margin-right: 18px
            @media screen and ( max-width: 720px )
              margin-right: 0
            @media screen and ( max-width: 375px )
              width: 20px
        .header__replenish
          line-height: 1
          color: $dark
          background: #fff
          border-radius: 19px
          padding: 10px 20px
          @media screen and ( max-width: 720px )
            grid-area: replenish
            background: none
            padding: 10px
            margin-right: 5px
          @media screen and ( max-width: 375px )
            margin-right: 0
          img
            display: none
            width: 12px
            height: 12px
            object-fit: cover
            @media screen and ( max-width: 720px )
              display: block
          span
            @media screen and ( max-width: 720px )
              display: none
  .header__lower
    background: rgba(#eee, .4)
    padding: 20px 0
    @media screen and ( max-width: 500px )
      padding: 15px 0
    .container
      @media screen and ( max-width: 820px )
        padding: 0
    .nav
      .nav__inner
        display: flex
        @media screen and ( max-width: 820px )
          overflow-x: scroll
        .nav__item
          font-size: 20px
          font-weight: 700
          color: $light
          padding: 7px 20px
          border-radius: 8px
          margin-right: 25px
          transition: .2s
          @media screen and ( max-width: 1200px )
            font-size: 16px
            margin-right: 15px
            padding: 7px 14px
          @media screen and ( max-width: 920px )
            padding: 7px
            white-space: nowrap
          @media screen and ( max-width: 820px )
            padding: 7px 20px
            &:first-child
              margin-left: 10px
          &:last-child
            margin-right: 0
          &--active,
          &:hover
            color: #fff
            background: $light

.games
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  .games__card
    max-width: 380px
    width: 32%
    background: #f8f8f8
    border-radius: 10px
    margin-bottom: 30px
    @media screen and ( max-width: 1200px )
      max-width: 49%
      width: 49%
    .games-card__header
      position: relative
      display: flex
      justify-content: space-between
      align-items: center
      padding: 20px 20px 15px
      border-radius: 10px 10px 0 0
      margin-bottom: 20px
      @media screen and ( max-width: 750px )
        flex-direction: column
        padding: 15px 10px
      &::after
        content: ''
        position: absolute
        bottom: 0
        left: 5px
        right: 5px
        height: 1px
        background: url(../img/games/border.svg)
        background-size: cover
        background-repeat: no-repeat
      .games-card__number
        font-weight: 500
        @media screen and ( max-width: 750px )
          text-align: center
          margin-bottom: 10px
        @media screen and ( max-width: 375px )
          font-size: 15px
      .games-card__price
        color: #fff
        display: flex
        background: $gradient
        padding: 12px 20px
        border-radius: 7px
        @media screen and ( max-width: 750px )
          width: 100%
          justify-content: space-between
        @media screen and ( max-width: 375px )
          font-size: 15px
          padding: 5px 10px
        img
          margin-right: 15px
          @media screen and ( max-width: 750px )
            margin-right: 0
          @media screen and ( max-width: 375px )
            width: 20px
    .games-card__body
      display: flex
      justify-content: space-between
      flex-wrap: wrap
      padding: 0 20px 20px
      @media screen and ( max-width: 750px )
        padding: 0 15px 15px
      .games-card__participants,
      .games-card__chance
        position: relative
        font-size: 14px
        color: $light
        padding-left: 20px
        margin-bottom: 20px
        @media screen and ( max-width: 375px )
          font-size: 12px
          padding-left: 17px
        &::before
          content: ''
          position: absolute
          left: 0
          background-position: center
          background-repeat: no-repeat
          background-size: cover
      .games-card__participants
        span
          @media screen and ( max-width: 600px )
            display: none
        .games-card__link
          color: #535da1
          text-decoration: underline
        &::before
          width: 12px
          height: 16px
          top: 1px
          background-image: url(../img/games/participant.svg)
      .games-card__chance
        @media screen and ( max-width: 500px )
          padding-left: 0
        &::before
          width: 12px
          height: 12px
          top: 3px
          background-image: url(../img/games/percent.svg)
          @media screen and ( max-width: 500px )
            display: none
      .games-card__btn
        width: 100%
        font-weight: 500
        color: #fff
        text-align: center
        background: $light
        padding: 15px
        border-radius: 7px
        @media screen and ( max-width: 600px )
          padding: 10px 5px
        @media screen and ( max-width: 500px )
          font-size: 15px
        @media screen and ( max-width: 375px )
          font-size: 12px
    &--completed
      .games-card__header
        .games-card__price
          background: $light
      .games-card__body
        .games-card__participants
            @media screen and ( max-width: 750px )
              padding-left: 0
              &::before
                display: none
            @media screen and ( max-width: 375px )
              font-size: 12px
              white-space: nowrap
        .games-card__chance
          @media screen and ( max-width: 750px )
            display: none
        .games-card__btn
          background: rgba($light, .2)
          color: $light
    &--participating
      .games-card__header
        color: #fff
        background: $gradient
        &::after
          display: none
        .games-card__price
          background: none
      .games-card__body
        .games-card__participants
          padding-left: 0
          @media screen and ( max-width: 550px )
            font-size: 0
            padding-left: 20px
            @media screen and ( max-width: 375px )
              padding-left: 17px
          span
            display: none
            @media screen and ( max-width: 550px )
              display: block
              font-size: 14px
              @media screen and ( max-width: 375px )
                font-size: 12px
          &::before
            display: none
            @media screen and ( max-width: 550px )
              display: block
        .games-card__chance
          margin-left: auto
        .games-card__btn
          position: relative
          display: flex
          justify-content: space-between
          background: rgba($light, .2)
          color: $light
          padding: 0
          @media screen and ( max-width: 750px )
            background: $light
          .games-card__progress
            display: none
            @media screen and ( max-width: 750px )
              position: absolute
              top: 0
              left: 0
              display: block
              width: 60%
              height: 100%
              background: $gradient
              border-radius: 7px 0 0 7px
          span
            position: relative
            z-index: 1
            padding: 15px
            @media screen and ( max-width: 600px )
              padding: 10px
            &:first-of-type
              font-weight: 400
              color: #fff
              background: $gradient
              border-radius: 7px 0 0 7px
              @media screen and ( max-width: 750px )
                display: none
            &:last-of-type
              font-weight: 700
              @media screen and ( max-width: 750px )
                width: 100%
                color: #fff


.footer
  background: #f7f7f7
  padding: 30px 0
  margin-top: auto
  .footer__inner
    display: flex
    justify-content: space-between
    align-items: center
    flex: 1 1 auto
    font-size: 14px
    color: rgba($dark, .6)
    @media screen and ( max-width: 750px )
      display: grid
      grid-template-areas: 'links links' 'copyright madeby'
      font-size: 12px
    .footer__copyright
      @media screen and ( max-width: 750px )
        grid-area: copyright
    .footer_links
      display: flex
      @media screen and ( max-width: 750px )
        flex-direction: column
        grid-area: links
        margin-bottom: 15px
      .footer__link
        text-decoration: underline
        margin-right: 25px
        @media screen and ( max-width: 750px )
          margin-right: 0
          margin-bottom: 5px
        &:last-child
          margin-right: 0
          @media screen and ( max-width: 750px )
            margin-bottom: 0
    .footer__madeby
      display: flex
      align-items: center
      width: 125px
      color: $dark
      @media screen and ( max-width: 750px )
        grid-area: madeby
      img
        margin-left: 5px

.main
  display: flex
  justify-content: space-between
  @media screen and ( max-width: 575px )
    flex-direction: column
  .sidebar
    flex-basis: 18.333%
    min-width: 220px
    @media screen and ( max-width: 575px )
      max-height: 440px
      margin-bottom: 20px
    @media screen and ( max-width: 450px )
      max-height: 330px
    @media screen and ( max-width: 330px )
      max-height: 220px
  .content
    flex-basis: 80%
    margin-left: 20px
    @media screen and ( max-width: 575px )
      margin-left: 0

.avatar
  position: relative
  @media screen and ( max-width: 575px )
    max-height: 440px
  @media screen and ( max-width: 450px )
    max-height: 330px
  @media screen and ( max-width: 330px )
    max-height: 220px
  & > img
    width: 100%
    border-radius: 10px
    object-fit: cover
    @media screen and ( max-width: 575px )
      max-height: 440px
    @media screen and ( max-width: 450px )
      max-height: 330px
    @media screen and ( max-width: 330px )
      max-height: 220px
  .avatar__btn
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    width: 25px
    height: 25px
    background: #fff
    border-radius: 6px
    @media screen and ( max-width: 575px )
      width: 30px
      height: 30px
  .avatar__close
    top: 7px
    right: 7px
    img
      @media screen and ( max-width: 575px )
        width: 11px
  .avatar__upload
    bottom: 7px
    left: 7px
    img
      @media screen and ( max-width: 575px )
        width: 18px

.profile
  background: #f8f8f8
  padding: 25px 25px 35px
  border-radius: 10px
  margin-bottom: 20px
  @media screen and ( max-width: 575px )
    padding: 25px 10px
  .profile__title
    margin-bottom: 25px
    @media screen and ( max-width: 575px )
      text-align: center
    @media screen and ( max-width: 375px )
      font-size: 15px
  .profile__form
    position: relative
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    .profile-form__label
      flex-basis: 48%
      margin-bottom: 15px
      @media screen and ( max-width: 865px )
        flex-basis: 100% 
        margin-right: 0
      &:last-of-type
        margin-bottom: 30px
      .profile-form__text
        font-size: 14px
        color: $light
        margin-left: 20px
        margin-bottom: 12px
        span
          color: #d20000
      .profile-form__input
        @media screen and ( max-width: 865px )
          max-width: 100%
    .profile-form__btn
      margin-left: auto
      margin-right: 0
      @media screen and ( max-width: 575px )
        max-width: 100%
    .profile__updated
      position: absolute
      width: 100%
      height: 100%
      background: $gradient
      box-shadow: 0 0 55px rgba(#000, .16)
      border-radius: 8px
      display: flex
      justify-content: center
      align-items: center
      font-size: 30px
      font-weight: 500
      color: #fff
      text-align: center
      padding: 25px
      @media screen and ( max-width: 375px )
        font-size: 22px

.tabs,
.withdrawal,
.balance,
.history
  max-width: 80%
  width: 100%
  margin-left: auto
  @media screen and ( max-width: 1225px )
    max-width: 100%

.tabs
  display: flex
  @media screen and ( max-width: 600px )
    flex-direction: column
    background: #f8f8f8
    border-radius: 10px 10px 0 0
    padding-bottom: 30px
  .tabs__item
    font-weight: 500
    color: $dark
    background: #f8f8f8
    border-radius: 10px 10px 0 0
    padding: 20px 40px
    margin-right: 20px
    @media screen and ( max-width: 600px )
      margin: 0 auto
      width: calc(100% - 20px)
      text-align: center
      padding: 15px
      border-radius: 10px
    @media screen and ( max-width: 375px )
      font-size: 15px
    &:last-child
      margin-right: 0
      @media screen and ( max-width: 600px )
        margin: 0 auto
    &--active
      color: #fff
      background: $gradient

.withdrawal
  background: #f8f8f8
  padding: 20px
  border-radius: 0 10px 10px 10px
  margin-bottom: 40px
  @media screen and ( max-width: 575px )
    padding: 10px
    margin-bottom: 20px
  .withdrawal__header,
  .withdrawal__row
    display: flex
    justify-content: space-between
    margin-bottom: 2px
    .withdrawal__col
      font-size: 14px
      color: $light
      text-align: center
      background: #fff
      padding: 15px 10px
      margin-right: 10px
      @media screen and ( max-width: 375px )
        font-size: 12px
        padding: 15px 5px
      &:last-child
        margin-right: 0
      &.withdrawal__number
        flex-basis: 5.882%
        @media screen and ( max-width: 725px )
          flex-basis: 13.793%
      &.withdrawal__date
        flex-basis: 17.647%
        @media screen and ( max-width: 725px )
          display: none
      &.withdrawal__change
        flex-basis: 20%
        @media screen and ( max-width: 725px )
          flex-basis: 48.724%
      &.withdrawal__balance
        flex-basis: 17.647%
        @media screen and ( max-width: 725px )
          flex-basis: 31.31%
          margin-right: 0
      &.withdrawal__comment
        flex-basis: 41.176%
        @media screen and ( max-width: 725px )
          display: none
  .withdrawal__row
    &:last-of-type
      .withdrawal__col
        border-radius: 0 0 5px 5px 
  .withdrawal__header
    .withdrawal__col
      border-radius: 5px 5px 0 0

.balance
  background: #f8f8f8
  padding: 30px 25px
  display: flex
  justify-content: space-between
  border-radius: 0 10px 10px 10px
  margin-bottom: 20px
  @media screen and ( max-width: 980px )
    flex-direction: column
  @media screen and ( max-width: 500px )
    padding: 0 10px 25px
  .balance__info
    position: relative
    flex-basis: 44%
    margin-top: 20px
    @media screen and ( max-width: 980px )
      width: 53%
      margin: 0 0 40px 20px
    @media screen and ( max-width: 840px )
      width: 100%
      margin-left: 0
    @media screen and ( max-width: 500px )
      text-align: center
    .balance__title
      font-size: 30px
      @media screen and ( max-width: 375px )
        font-size: 22px
    .balance__subtitle
      font-size: 14px
      color: $light
      @media screen and ( max-width: 375px )
        font-size: 12px
    .balance__btn
      position: absolute
      top: 0
      right: 0
      width: 55px
      height: 55px
      display: flex
      justify-content: center
      align-items: center
      background: $gradient
      border-radius: 10px
      @media screen and ( max-width: 840px )
        right: 20px
      @media screen and ( max-width: 500px )
        display: none
  .balance__form
    position: relative
    flex-basis: 48%
    @media screen and ( max-width: 980px )
      display: flex
      justify-content: space-between
      flex-wrap: wrap
    @media screen and ( max-width: 600px )
      flex-direction: column
    .balance-form__label
      display: block
      margin-bottom: 15px
      @media screen and ( max-width: 980px )
        flex-basis: 49%
      &:last-of-type
        margin-bottom: 30px
      .balance-form__text
        font-size: 14px
        color: $light
        margin-left: 20px
        margin-bottom: 12px
        span
          color: #d20000
      .balance-form__input
        @media screen and ( max-width: 600px )
          max-width: 100%
    .balance-form__btn
      display: block
      width: 100%
      max-width: 265px
      font-size: 18px
      color: #fff
      font-weight: 500
      background: $gradient
      padding: 20px
      border: 0
      border-radius: 10px
      margin-left: auto
      @media screen and ( max-width: 600px )
        max-width: 100%
    .balance__formalized
      position: absolute
      width: 100%
      height: 100%
      background: $gradient
      box-shadow: 0 0 55px rgba(#000, .16)
      border-radius: 8px
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      font-size: 30px
      line-height: 1.3
      font-weight: 500
      color: #fff
      padding: 25px
      @media screen and ( max-width: 375px )
        font-size: 22px
      img
        margin-bottom: 15px
      p
        max-width: 270px
        text-align: center

.history
  background: #f8f8f8
  padding: 30px 25px
  border-radius: 10px
  margin-bottom: 40px
  @media screen and ( max-width: 575px )
    margin-bottom: 20px
    padding: 20px 10px
  .history__title
    margin-bottom: 25px
    @media screen and ( max-width: 575px )
      margin-left: 15px
  .history__header,
  .history__row
    display: flex
    justify-content: space-between
    margin-bottom: 2px
    .history__col
      font-size: 14px
      color: $light
      text-align: center
      background: #fff
      padding: 15px 10px
      margin-right: 10px
      @media screen and ( max-width: 375px )
        padding: 15px 5px
        font-size: 12px
      &:last-child
        margin-right: 0
      &.history__bucket
        flex-basis: 5.882%
        background: none
        @media screen and ( max-width: 725px )
          flex-basis: 13.793%
        img
          margin: 0 auto
          min-width: 18px
      &.history__date
        flex-basis: 17.647%
        @media screen and ( max-width: 725px )
          display: none
      &.history__money
        flex-basis: 17.647%
        @media screen and ( max-width: 725px )
          flex-basis: 31.31%
      &.history__comment
        flex-basis: 35.294%
        @media screen and ( max-width: 725px )
          display: none
      &.history__status
        flex-basis: 23.529%
        @media screen and ( max-width: 725px )
          flex-basis: 48.724%
  .history__row
    &--consideration
      .history__status
        color: #d20000
    &:last-of-type
      .history__col
        border-radius: 0 0 5px 5px 
  .history__header
    .history__col
      border-radius: 5px 5px 0 0

.popup
  display: none
  justify-content: center
  align-items: center
  position: fixed
  z-index: 1000
  width: 100vw
  height: 100vh
  background: rgba(#000, .1)
  &--active
    display: flex
  .popup__inner
    position: relative
    border-radius: 10px
    background: #f8f8f8
    box-shadow: 0 0 88px rgba(96, 96, 96, .16)
    width: 100%
    max-width: 490px
    padding: 40px 30px
    margin: 0 10px
    @media screen and ( max-width: 500px )
      padding: 30px 10px
    .popup__title
      font-size: 30px
      margin-bottom: 30px
      @media screen and ( max-width: 500px )
        font-size: 25px
        margin-left: 20px
    .popup__form
      .popup-form__label
        display: block
        margin-bottom: 40px
        @media screen and ( max-width: 500px )
          margin-bottom: 20px
        .popup-form__text
          font-size: 14px
          color: $light
          margin-left: 20px
          margin-bottom: 12px
          @media screen and ( max-width: 500px )
            font-size: 12px
          span
            color: #d20000
        .popup-form__input
          margin-bottom: 15px
      .popup-form__btn
        @media screen and ( max-width: 500px )
          max-width: 100%
    .popup__close
      position: absolute
      top: 54px
      right: 44px
      @media screen and ( max-width: 500px )
        top: -36px
        right: 14px
      img
        width: 14px
        height: 14px
        cursor: pointer
    .popup__replenished
      display: none
      position: absolute
      top: 15px
      bottom: 15px
      left: 15px
      right: 15px
      background: $gradient
      box-shadow: 0 0 55px rgba(#000, .16)
      border-radius: 8px
      justify-content: center
      align-items: center
      flex-direction: column
      font-size: 30px
      line-height: 1.3
      font-weight: 500
      color: #fff
      &--active
        display: flex
      @media screen and ( max-width: 500px )
        top: 10px
        bottom: 10px
        left: 10px
        right: 10px
      img
        margin-bottom: 20px
      p
        max-width: 270px
        text-align: center

.auth-popup
  display: flex
  .auth-popup__inner
    max-width: 330px
    width: 100%
    background: #f8f8f8
    box-shadow: 0 0 88px rgba(96, 96, 96, .16)
    border-radius: 10px
    margin: 0 10px
    .auth-popup__header
      display: flex
      justify-content: space-between
      .auth-popup__login,
      .auth-popup__reg
        flex-basis: 50%
        font-weight: 500
        color: #fff
        text-align: center
        background: $dark
        padding: 30px 10px
      .auth-popup__login
        border-radius: 10px 0 10px 0
        &--active
          color: $dark
          background: #f8f8f8
          border-radius: 10px 0 0 0
      .auth-popup__reg
        border-radius: 0 10px 0 10px
        &--active
          color: $dark
          background: #f8f8f8
          border-radius: 0 10px 0 0
    .auth-popup__body
      padding: 30px
      &--login,
      &--reg
        display: none
        &--active
          display: block
      .auth-popup__error,
      .auth-popup__info
        position: relative
        font-size: 14px
        color: $light
        padding-left: 45px
        margin-bottom: 30px
        b
          color: $dark
        &::before
          content: ''
          position: absolute
          top: 0
          left: 15px
          width: 15px
          height: 15px
          background-position: center
          background-repeat: no-repeat
      .auth-popup__error::before
        background-image: url(../img/popup/close.svg)
      .auth-popup__info::before
        background-image: url(../img/popup/gray-info.svg)
      .auth-popup__info--white
        color: #fff
        &::before
          background-image: url(../img/popup/white-info.svg)
      .auth-popup__formed
        display: flex
        flex-direction: column
        background: $gradient
        box-shadow: 0 0 55px rgba(#000, .16)
        padding: 30px 15px 15px
        border-radius: 8px
        .auth-popup__thanks
          display: block
          width: 100%
          text-align: center
          background: #fff
          padding: 10px
          border-radius: 8px
          margin-top: auto
      .auth-popup__form
        .auth-popup-form__input
          position: relative
          margin-bottom: 12px
          &:last-of-type
            margin-bottom: 18px
          &::before
            content: ''
            position: absolute
            left: 15px
            top: 50%
            transform: translateY(-50%)
            background-position: center
            background-repeat: no-repeat
            width: 16px
            height: 18px
          &--login::before
            background-image: url(../img/popup/login.svg)
          &--password::before
            background-image: url(../img/popup/password.svg)
          &--email::before
            background-image: url(../img/popup/email.svg)
          &--phone::before
            background-image: url(../img/popup/phone.svg)
          &--key::before
            background-image: url(../img/popup/key.svg)
          input
            padding: 20px 20px 20px 40px
            &:disabled
              background: #f8f8f8
        .auth-popup-form__btn
          max-width: 100%
          @media screen and ( max-width: 500px )
            padding: 20px 10px
        .auth-popup-form__text
          font-size: 14px
          color: $light
          margin: 0 15px 15px
      .auth-popup__link
        font-size: 14px
        color: $light
        text-align: center
        text-decoration: underline
        display: block
        max-width: 150px
        margin: 20px auto 0

.participants-popup
  display: flex
  .participants-popup__inner
    position: relative
    color: $dark
    max-width: 320px
    width: 100%
    background: #f8f8f8
    box-shadow: 0 0 88px rgba(96, 96, 96, .16)
    padding: 25px 10px 10px 25px
    border-radius: 10px
    margin: 0 10px
    .participants-popup__header
      font-size: 18px
      font-weight: 500
      display: flex
      justify-content: space-between
      align-items: center
      padding: 0 20px 0 10px
      margin-bottom: 30px
      .participants-popup__info
        .participants-popup__title
          line-height: 1
        .participants-popup__name
          font-size: 14px
          font-weight: 400
          color: $light
      .participants-popup__quantity
        position: relative
        padding-left: 25px
        &::before
          content: ''
          position: absolute
          left: 0
          top: 5px
          width: 12px
          height: 16px
          background: url(../img/games/participant.svg) center no-repeat
    .participants-popup__body
      .participants-popup__list
        overflow-y: scroll
        max-height: 480px
        font-size: 14px
        &::-webkit-scrollbar
          width: 8px
          border-radius: 4px
          background-color: #e2e2e2
          &-thumb
            width: 100%
            border-radius: 4px
            background: $dark
        .participants-popup-list__item
          display: flex
          margin-bottom: 10px
          &:last-child
            margin-bottom: 0
          .participants-popup-list__number,
          .participants-popup-list__name
            background: #fff
            border-radius: 5px
            padding: 10px 20px
          .participants-popup-list__number
            width: 50px
            margin-right: 2px
          .participants-popup-list__name
            width: calc(100% - 60px)
            .participants-popup-list__link
              position: relative
              &::after
                content: ''
                position: absolute
                bottom: 1px
                left: 0
                width: 100%
                height: 1px
                background: $dark
    .participants-popup__close
      position: absolute
      top: -36px
      right: 14px
      img
        width: 14px
        height: 14px
        cursor: pointer