@import 'normalize'
@import 'global'
@import 'fonts'

.header
  position: absolute
  top: 0
  left: 0
  z-index: 1000
  width: 100%
  height: 80px
  background: #fff
  padding: 30px 0
  border-bottom: 1px solid $green-blue
  @media screen and ( max-width: 1200px )
    position: fixed
    height: 56px
    padding: 18px 0
  &__inner
    display: flex
    justify-content: space-between
    align-items: center
  &__search
    display: none
    position: fixed
    top: 17px
    right: 67px
    width: 28px
    height: 28px
    background: url(../img/icons/search.svg) center / cover no-repeat
    transform: translateY(-2px)
    &--active
      display: block
  &__burger
    display: none
    width: 33px
    height: 22px
    background: url(../img/icons/burger.svg) center / cover no-repeat
    @media screen and ( max-width: 1200px )
      display: block
  &__social
    display: none
    position: fixed
    bottom: 0
    left: 0
    width: 100%
    background: #fff
    padding: 20px 0
    transform: translateY(100%)
    transition: transform .1s
    @media screen and ( max-width: 1200px )
      display: block
      .social__inner
        flex-direction: column
      .social__text
        margin: 0 auto 10px
    &--active
      transform: translateY(0)
      transition-delay: .2s

.nav
  &__list
    display: flex
    @media screen and ( max-width: 1200px )
      // display: none
      position: fixed
      top: 56px
      left: 0
      width: 100vw
      height: 100vh
      flex-direction: column
      background: #fff
      padding: 15px 15px 180px
      transform: translateX(100%)
      transition: transform .4s
      overflow: scroll
      &::after
        content: ''
        position: fixed
        top: calc(100% - 165px)
        right: 0
        z-index: -1
        transform: translate(50%, -50%)
        width: 380px
        height: 380px
        background: rgba($green-blue, .1)
        border-radius: 50%
    &--active
      transform: translateX(0)
  &__item
    color: #3a352e
    @media screen and ( max-width: 1200px )
      font-size: 32px
      font-weight: 300
    &--active
      font-weight: 700
      @media screen and ( max-width: 1200px )
        font-weight: 300
    &:not(:last-child)
      margin-right: 50px
      @media screen and ( max-width: 1200px )
        margin: 0 0 15px

.intro
  position: relative
  min-height: calc(100vh - 80px)
  background: #9ad3e9 url(../img/home-bg.jpg) center / cover no-repeat
  margin-top: 80px
  @media screen and ( max-width: 1200px )
    min-height: calc(100vh - 56px)
    margin-top: 56px
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 1
    background: rgba($green-blue, .2)
  &__inner
    position: relative
    z-index: 2
    height: calc(100vh - 80px)
    display: flex
    justify-content: center
    align-items: center
  &__circles
    flex-basis: 50%
  &__headers
    flex-basis: 50%
    padding-left: 8%

.circles
  position: relative
  &__item
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    display: flex
    justify-content: center
    align-items: center
    width: 170px
    height: 170px
    line-height: 1.2
    text-align: center
    text-transform: uppercase
    background: #fff
    box-shadow: 0 2px 6px rgba(#000, .2)
    border: 8px solid #fff
    border-radius: 50%
    cursor: pointer
    &:hover
      border-color: $green-blue
    &:nth-child(1)
      transform: translate(-50%, calc(-150% - 45px))
    &:nth-child(2)
      transform: translate(calc(-50% + 170px), calc(-50% - 150px))
    &:nth-child(3)
      transform: translate(calc(-50% + 210px), calc(-50% + 30px))
    &:nth-child(4)
      transform: translate(calc(-50% + 100px), calc(-50% + 190px))
    &:nth-child(5)
      transform: translate(calc(-50% + -100px), calc(-50% + 190px))
    &:nth-child(6)
      transform: translate(calc(-50% - 210px), calc(-50% + 30px))
    &:nth-child(7)
      transform: translate(calc(-50% - 170px), calc(-50% - 150px))
    &--main
      font-size: 18px
      font-weight: 700
      color: #fff
      background: $green-blue
      border: 8px solid $green-blue
      &:hover
        color: $green-blue
        background: #fff
      &:nth-child(1)
        transform: translate(-50%, -50%)
  &__link
    max-width: 120px

.headers
  &__item
    display: none
    max-width: 500px
    &--main
      display: block
      .headers__title
        max-width: 400px
        font-weight: 700
      .headers__subtitle
        font-size: 44px
        line-height: 1.2
        font-weight: 300
  &__subtitle
    text-align: justify

.why
  display: flex
  flex-wrap: wrap
  &__founder
    flex-basis: 100%
    @media screen and ( max-width: 1200px )
      order: 2
  &__item
    flex-basis: 50%
    padding: 145px 75px 75px
    @media screen and ( max-width: 1200px )
      flex-basis: 100%
    @media screen and ( max-width: 576px )
      padding: 45px 15px 25px
    p
      text-align: justify
      margin-bottom: 15px
      &:last-of-type
        margin-bottom: 40px
        @media screen and ( max-width: 576px )
          margin-bottom: 25px
      &:not(:first-of-type)
        @media screen and ( max-width: 576px )
          padding-left: 25px
    &--estonia
      @media screen and ( min-width: 577px )
        @include quarter()
      @media screen and ( max-width: 1200px )
        order: 1
    &--us
      @media screen and ( max-width: 1200px )
        order: 3
      @media screen and ( max-width: 576px )
        @include quarter()
  &__link
    position: relative
    color: #000
    text-transform: uppercase
    &::after
      content: ''
      position: absolute
      top: 50%
      right: -20px
      transform: translateY(-50%)
      width: 16px
      height: 16px
      background: url(../img/icons/arrow-right.svg) center / cover no-repeat

.founder
  display: flex
  align-items: center
  color: #fff
  text-align: center
  background: $dark-green
  @media screen and ( max-width: 1200px )
    flex-direction: column-reverse
    padding: 30px 15px
  &__text,
  &__info,
  &__about,
  &__img
    flex-basis: 50%
  &__text
    position: relative
    z-index: 1
    max-width: 450px
    font-style: italic
    margin: 0 auto
    @media screen and ( max-width: 576px )
      text-align: justify
    &::before,
    &::after
      content: ''
      position: absolute
      z-index: -1
      width: 130px
      height: 100px
      background-position: center
      background-size: cover
      background-repeat: no-repeat
      @media screen and ( max-width: 1439px )
        width: 100px
        height: 80px
    &::before
      bottom: -120px
      left: -130px
      background-image: url(../img/icons/quotes-down.svg)
      @media screen and ( max-width: 1439px )
        bottom: -90px
        left: -100px
      @media screen and ( max-width: 1200px )
        bottom: -25px
        left: -10px
    &::after
      top: -120px
      right: -130px
      background-image: url(../img/icons/quotes-up.svg)
      @media screen and ( max-width: 1439px )
        top: -90px
        right: -100px
      @media screen and ( max-width: 1200px )
        top: -35px
        right: 15px
  &__info
    display: flex
    justify-content: space-between
    align-items: center
    @media screen and ( max-width: 1200px )
      margin-bottom: 40px
  &__about
    max-width: 325px
    margin: 0 auto
  &__name
    margin-bottom: 10px
  &__img
    max-width: 360px
    max-height: 360px
    img
      width: 100%
      height: 100%
      object-fit: cover

.footer
  color: #fff
  background: $dark-green
  padding: 40px 0
  &__inner
    position: relative
    display: flex
    @media screen and ( max-width: 992px )
      flex-direction: column
  &__list
    flex-basis: 320px
    margin-right: 30px
    @media screen and ( max-width: 992px )
      flex-basis: auto
      display: flex
      flex-direction: column
      align-items: center
      margin: 0 0 40px
    @media screen and ( max-width: 576px )
      display: block
      &:nth-child(1)
        order: 2
      &:nth-child(2)
        order: 3
      &:nth-child(3)
        order: 1
  &__title
    margin-bottom: 25px
  &__item
    &:not(:last-child)
      margin-bottom: 5px
  &__start
    position: absolute
    bottom: -10px
    right: 0
    display: flex
    align-items: center
    justify-content: center
    height: 35px
    font-weight: 600
    text-transform: uppercase
    padding: 0 25px
    border: 2px solid #fff
    @media screen and ( max-width: 992px )
      width: 100%
      max-width: 340px
      left: 50%
      transform: translateX(-50%)

.social
  padding: 25px 0
  @media screen and ( max-width: 992px )
    padding: 20px 0
  &__inner
    display: flex
    align-items: center
    @media screen and ( max-width: 992px )
      flex-direction: column
  &__text
    margin-left: auto
    margin-right: 50px
    @media screen and ( max-width: 992px )
      margin: 0 auto 10px
  &__list
    display: flex
  &__item
    &:not(:last-child)
      margin-right: 50px
  &__link
    display: block
    width: 40px
    height: 40px
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    &--email
      background-image: url(../img/icons/email.svg)
    &--facebook
      background-image: url(../img/icons/facebook.svg)
    &--whatsapp
      background-image: url(../img/icons/whatsapp.svg)