@import 'normalize'
@import 'global'
@import 'fonts'

.header
  background: #fff
  padding: 30px 0
  @media screen and ( max-width: 740px )
    padding: 15px 0
  .header__inner
    display: flex
    justify-content: space-between
    align-items: center
    .header__logo
      flex-basis: 30%
      display: flex
      align-items: center
      @media screen and ( max-width: 950px )
        flex-basis: 15%
      @media screen and ( max-width: 740px )
        flex-basis: 50%
      img
        margin-right: 30px
      .header-logo__text
        display: flex
        flex-direction: column
        @media screen and ( max-width: 950px )
          display: none
        b
          font-size: 14px
          margin-bottom: 5px
        p
          font-size: 12px
          max-width: 160px
    .header__contacts
      flex-basis: 70%
      @media screen and ( max-width: 950px )
        flex-basis: 85%
      @media screen and ( max-width: 740px )
        flex-basis: 50%
      .header__burger
        display: none
        position: relative
        z-index: 21000
        width: 30px
        height: 30px
        margin-left: auto
        transition: transform .2s
        @media screen and ( max-width: 740px )
          display: block
        span,
        span::after,
        span::before,
          content: ''
          position: absolute
          top: 50%
          display: block
          width: 100%
          height: 3px
          background: #000
          transition: transform .6s, background 2s
        span::before
          margin-top: -10px
        span::after
          margin-top: 7px
        &--active
          transform: translateY(-25px)
          transition: transform .2s
          span
            background: transparent
            transition: transform .6s, background .6s
          span::before,
          span::after
            background: #fff
            margin-top: 0
            transition: transform .6s, background .2s
          span::before
            transform: rotate(495deg)
          span::after
            transform: rotate(405deg)
      .header-contacts__inner
        display: flex
        justify-content: flex-end
        align-items: center
        @media screen and ( max-width: 740px )
          // display: none
          position: absolute
          top: 0
          right: 0
          z-index: 20000
          width: 0
          height: 0
          transform: translate(100px, -100px)
          max-height: 215px
          background: $gradient
          flex-direction: column
          padding: 20px
          border-radius: 0 0 0 20px
          transition: .4s
          &--active
            width: auto
            height: 100%
            transform: translate(0, 0)
        .header__social
          display: flex
          margin-right: 60px
          @media screen and ( max-width: 830px )
            margin-right: 30px
          @media screen and ( max-width: 740px )
            display: flex
            justify-content: center
            margin-right: 0
            margin-bottom: 20px
          .header-social__item
            margin-right: 25px
            &:hover
              animation: jump .6s
            &:last-child
              margin-right: 0
            path
              @media screen and ( max-width: 740px )
                fill: #fff
        .header__col
          margin-right: 45px
          @media screen and ( max-width: 830px )
            margin-right: 25px
          @media screen and ( max-width: 740px )
            margin-right: 0
            margin-bottom: 8px
          &:last-child
            .header__phone
              margin-bottom: 8px
            margin-bottom: auto
            margin-right: 0
          .header__phone
            display: flex
            justify-content: flex-end
            align-items: center
            font-size: 24px
            font-weight: 700
            margin-bottom: 5px
            img
              margin-right: 20px
              @media screen and ( max-width: 740px )
                display: none
            a
              color: $text
              @media screen and ( max-width: 740px )
                color: #fff
          .header__email
            display: flex
            justify-content: flex-end
            align-items: center
            @media screen and ( max-width: 740px )
              justify-content: center
            img
              margin-right: 20px
              @media screen and ( max-width: 740px )
                display: none
            a
              color: $text
              @media screen and ( max-width: 740px )
                color: #fff
          .header__link
            font-size: 14px
            color: $text
            text-decoration: underline
            display: block
            text-align: right
            @media screen and ( max-width: 740px )
              color: #fff
              text-align: center

@keyframes jump
  0%
    transform: translateY(0)
  50%
    transform: translateY(-6px)
  100%
    transform: translateY(0)

.intro
  background: url(../img/intro/bg.jpg) center no-repeat
  background-size: cover
  padding-bottom: 100px
  margin-bottom: 200px

.nav
  position: absolute
  top: 0
  width: 100%
  height: 60px
  display: flex
  align-items: center
  &--fixed
    position: fixed
    top: 0
    left: 0
    z-index: 10000
    width: 100%
    background: #000
    padding: 18px 0
    .nav__inner
      padding: 0 12%
      margin: 0 auto
      @media screen and ( max-width: 1260px )
        padding: 0 15px
  .nav__inner
    display: flex
    align-items: center
    width: 100%
    height: 100%
    @media screen and ( max-width: 1024px )
      overflow-x: scroll
    .nav__item
      color: #fff
      white-space: nowrap
      transition: color .2s, text-shadow .2s
      margin-right: 80px
      @media screen and ( max-width: 768px )
        margin-right: 60px
      @media screen and ( max-width: 425px )
        margin-right: 40px
      &:hover
        color: $main
        text-shadow: $shadow
      &:last-child
        margin-right: 0
        @media screen and ( max-width: 1024px )
          padding-right: 15px

.main
  color: #fff
  margin-bottom: 200px
  @media screen and ( max-width: 768px )
    margin-bottom: 100px
  .main__inner
    position: relative
    display: flex
    justify-content: space-between
    .main__content
      flex-basis: 60%
      padding-top: 20vh
      @media screen and ( max-width: 1000px )
        flex-basis: 100%
      @media screen and ( max-width: 768px )
        padding-top: 15vh
      @media screen and ( max-width: 425px )
        padding-top: 10vh
      .main__title
        max-width: 850px
        margin-bottom: 1vh
        @media screen and ( max-width: 600px )
          font-size: 39px
          text-align: center
        @media screen and ( max-width: 500px )
          font-size: 32px
      .main__subtitle
        max-width: 490px
        margin-bottom: 5vh
        @media screen and ( max-width: 600px )
          text-align: center
          margin: 0 auto 5vh
      .main__btns
        margin-bottom: 5vh
        @media screen and ( max-width: 600px )
          display: flex
          flex-direction: column
        .main__btn
          margin-right: 20px
          @media screen and ( max-width: 600px )
            max-width: 270px
            margin: 0 auto 20px
            &:not(.btn--transparent)
              padding: 25px
          &:last-child
            margin-right: 0
            @media screen and ( max-width: 600px )
              margin: 0 auto
      .main__lists
        display: flex
        @media screen and ( max-width: 425px )
          flex-direction: column
        .main__list
          .main-list__item
            position: relative
            max-width: 285px
            padding-left: 40px
            margin-bottom: 2vh
            @media screen and ( max-width: 425px )
              max-width: 100%
              margin: 0 auto 2vh
            &::before
              @include listMark ()
    .main__img
      flex-basis: 40%
      display: flex
      align-items: flex-end
      @media screen and ( max-width: 1000px )
        display: none
      img
        transform: translate(-30%, 25%)
        @media screen and ( max-width: 1700px )
          transform: translate(0, 0)

.development
  color: #fff
  .development__inner
    position: relative
    .development__header
      display: flex
      justify-content: space-between
      margin-bottom: 100px
      @media screen and ( max-width: 1120px )
        margin-bottom: 50px
      @media screen and ( max-width: 1024px )
        flex-direction: column
        margin-bottom: 25px
      .development__titles
        flex-basis: 65%
        @media screen and ( max-width: 1440px )
          flex-basis: 70%
        @media screen and ( max-width: 1260px )
          flex-basis: 65%
        @media screen and ( max-width: 1024px )
          text-align: center
        .development__suptitle
          font-size: 48px
          font-weight: 700
          @media screen and ( max-width: 1520px )
            font-size: 40px
          @media screen and ( max-width: 1440px )
            font-size: 36px
          @media screen and ( max-width: 500px )
            font-size: 32px
          @media screen and ( max-width: 400px )
            font-size: 28px
          @media screen and ( max-width: 355px )
            font-size: 24px
        .development__title
          font-size: 72px
          @include gradientText ()
          @media screen and ( max-width: 500px )
            font-size: 60px
          @media screen and ( max-width: 355px )
            font-size: 50px
          span
            font-size: 288px
            line-height: 1
            @media screen and ( max-width: 1800px )
              font-size: 244px
            @media screen and ( max-width: 1520px )
              font-size: 222px
            @media screen and ( max-width: 1440px )
              font-size: 200px
            @media screen and ( max-width: 1120px )
              font-size: 180px
            @media screen and ( max-width: 1024px )
              font-size: 100px
            @media screen and ( max-width: 500px )
              font-size: inherit
      .development__text
        flex-basis: 35%
        display: flex
        flex-direction: column
        @media screen and ( max-width: 1440px )
          flex-basis: 30%
        @media screen and ( max-width: 1260px )
          flex-basis: 35%
        @media screen and ( max-width: 1024px )
          text-align: center
        p
          font-size: 36px
          margin: auto 0 40px
          @media screen and ( max-width: 1610px )
            font-size: 30px
          @media screen and ( max-width: 1440px )
            font-size: 26px
          @media screen and ( max-width: 1120px )
            margin: auto 0 30px
          @media screen and ( max-width: 500px )
            font-size: 24px
          @media screen and ( max-width: 355px )
            font-size: 20px
            margin-bottom: 15px
          b
            @include gradientText ()
    .development__body
      max-width: 1200px
      .development__list
        display: flex
        align-items: center
        margin-bottom: 50px
        @media screen and ( max-width: 940px )
          flex-direction: column
          margin-bottom: 40px
          &:last-of-type
            margin-bottom: 0
        @media screen and ( max-width: 500px )
          margin-bottom: 25px
        .development-list__item
          flex-basis: 50%
          display: flex
          align-items: center
          transform: translateX(40px)
          @media screen and ( max-width: 1700px )
            flex-basis: 45%
          @media screen and ( max-width: 1440px )
            flex-basis: 43.5%
          @media screen and ( max-width: 1320px )
            flex-basis: 50%
          @media screen and ( max-width: 940px )
            flex-basis: 100%
            width: 100%
            transform: translateX(30px)
            margin-bottom: 40px
            &:last-child
              margin-bottom: 0
          @media screen and ( max-width: 500px )
            transform: translateX(0)
            min-height: 70px
            margin-bottom: 25px
          @media screen and ( max-width: 320px )
            min-height: 0
          &:last-child
            margin-bottom: 0
          .development-list__number
            position: relative
            display: flex
            justify-content: center
            align-items: center
            min-width: 90px
            font-size: 144px
            font-weight: 700
            @include gradientText ()
            margin-right: 70px
            @media screen and ( max-width: 1700px )
              font-size: 122px
              margin-right: 50px
            @media screen and ( max-width: 1440px )
              font-size: 100px
              margin-right: 40px
            @media screen and ( max-width: 600px )
              font-size: 80px
              margin-right: 30px
            @media screen and ( max-width: 500px )
              font-size: 40px
              margin-right: 20px
            @media screen and ( max-width: 425px )
              margin-right: 10px
            @media screen and ( max-width: 320px )
              display: none
            &::before,
            &::after
              content: ''
              position: absolute
              top: 50%
              left: 50%
              transform: translate(-50%, -50%)
              border-radius: 50%
            &::before
              width: 160px
              height: 160px
              border: 1px solid #878787
              @media screen and ( max-width: 1700px )
                width: 140px
                height: 140px
              @media screen and ( max-width: 1440px )
                width: 120px
                height: 120px
              @media screen and ( max-width: 600px )
                width: 100px
                height: 100px
              @media screen and ( max-width: 500px )
                width: 60px
                height: 60px
            &::after
              width: 180px
              height: 180px
              border: 1px solid #313131
              @media screen and ( max-width: 1700px )
                width: 160px
                height: 160px
              @media screen and ( max-width: 1440px )
                width: 140px
                height: 140px
              @media screen and ( max-width: 600px )
                width: 120px
                height: 120px
              @media screen and ( max-width: 500px )
                width: 80px
                height: 80px
          .development-list__text
            max-width: 330px
            @media screen and ( max-width: 1440px )
              font-size: 16px
              max-width: 300px
            @media screen and ( max-width: 940px )
              max-width: calc( 100% - 180px )
            @media screen and ( max-width: 500px )
              max-width: 100%
            @media screen and ( max-width: 425px )
              font-size: 14px
            @media screen and ( max-width: 320px )
              text-align: center
              margin: 0 auto
            b
              @include gradientText ()
      .development__img
        position: absolute
        bottom: -50px
        right: -400px
        @media screen and ( max-width: 1580px )
          transform: scale(.7) translateY(10%)
        @media screen and ( max-width: 1440px )
          transform: scale(.7) translateY(15%)
        @media screen and ( max-width: 1320px )
          display: none
        img

.pricelist
  position: relative
  .pricelist__inner
    .pricelist__row
      display: flex
      justify-content: space-between
      margin-bottom: 20px
      &:last-child
        margin-bottom: 0
      .pricelist__cards
        flex-basis: 50%
        display: flex
        .pricelist__card
          flex-basis: 40%
          display: flex
          flex-direction: column
          background: #fff
          border: 1px solid #e5e5e5
          box-shadow: 0px 10px 20px #e5e5e5
          border-radius: 5px
          margin-right: 20px
          transition: .4s
          @media screen and ( max-width: 1440px )
            flex-basis: 45%
          &:hover
            .pricelist-card__img
              img
                transform: scale(1.1)
          &:last-child
            margin-right: 0
          &--lg
            flex-basis: 83%
            @media screen and ( max-width: 1440px )
              flex-basis: 93.5%
          .pricelist-card__img
            width: 100%
            height: 127px
            background: $gradient
            overflow: hidden
            opacity: .5
            transition: .4s
            img
              height: 100%
              transition: .4s
              object-fit: cover
              margin: 0 auto
          .pricelist-card__info
            padding: 10px 20px
            .pricelist-card__title
              font-size: 18px
              font-weight: 400
              margin-bottom: 10px
            .pricelist-card__text
              font-size: 14px
          .pricelist-card__btns
            position: relative
            display: flex
            justify-content: space-between
            align-items: center
            padding: 20px
            margin-top: auto
            &::before
              content: ''
              position: absolute
              top: 0
              left: 20px
              width: 60%
              height: 2px
              background: $gradient
              transition: .2s
            .pricelist-card__open-btn,
            .pricelist-card__close-btn
              position: relative
              font-size: 14px
              @include gradientText ()
              &::after
                content: ''
                position: absolute
                width: 15px
                height: 8px
            .pricelist-card__open-btn
              &::after
                right: -30px
                top: 50%
                transform: translateY(-50%)
                background: url(../img/pricelist/arrow-right.svg)
            .pricelist-card__btn
              display: none
              @include gradientText ()
              padding: 16px
              margin-right: 40px
              @media screen and ( max-width: 1550px )
                min-width: 240px
                margin-right: 20px
              &::before
                display: none
            .pricelist-card__close-btn
              display: none
              margin-top: 10px
              &::after
                left: 50%
                top: -10px
                transform: translateX(-50%)
                background: url(../img/pricelist/arrow-left.svg)
          &--active
            max-width: 65%
            &.pricelist__card--lg
              max-width: 100%
            .pricelist-card__img
              height: 10.5vw
              min-height: 170px
              opacity: 1
            .pricelist-card__btns
              &::before
                opacity: 0
              .pricelist-card__open-btn
                display: none
              .pricelist-card__btn
                display: inline-block
              .pricelist-card__close-btn
                display: inline-block
    .pricelist__img
      transform: translateX(-100px)
      @media screen and ( max-width: 1740px )
        transform: translateX(-50px)
      @media screen and ( max-width: 1600px )
        transform: translateX(0)
      @media screen and ( max-width: 1520px )
        transform: translateX(50px)
        flex-basis: 45%
      img
    .pricelist__info
      flex-basis: 40%
      @media screen and ( max-width: 1720px )
        flex-basis: 36%
      .pricelist__title
        font-weight: 700
        margin-bottom: 15px
        @media screen and ( max-width: 1720px )
          font-size: 34px
      .pricelist__text
        margin-bottom: 55px
      .pricelist__btn
  .pricelist__external-img
    position: absolute
    bottom: -450px
    right: 0
    z-index: -1
    @media screen and ( max-width: 1440px )
      right: -180px
      transform: scale(.8)
    img

.checked
  .checked__inner
    .checked__title
      max-width: 650px
      margin-bottom: 30px
    .checked__subtitle
      font-size: 24px
      max-width: 500px
    .checked__row
      display: flex
      justify-content: space-between
      .checked__info
        display: flex
        flex-direction: column
        margin-top: 80px
        .checked__tabs
          margin-right: 50px
          margin-bottom: 70px
          .checked-tabs__item
            position: relative
            display: flex
            align-items: center
            width: 350px
            height: 75px
            padding: 0 0 0 40px
            border-top: 1px solid #c4c4c4
            border-bottom: 1px solid #c4c4c4
            cursor: pointer
            transition: .2s
            &::before
              @include listMark ()
              left: -50px
              top: 50%
              transform: translateY(-50%)
              opacity: 0
              transition: .2s
            &--active
              @include gradientText ()
              font-weight: 700
              transition: .2s
              &::before
                left: -10px
                opacity: 1
        .checked__note
          max-width: 400px
          margin-top: auto
      .checked__img
        margin-right: 50px
        img
      .checked__top
        display: flex
        flex-direction: column
        .checked__list
          .checked-list__item
            display: flex
            align-items: center
            margin-bottom: 20px
            &:first-child
              font-weight: 700
            &:last-child
              margin-bottom: 0
            .checked-list__color
              display: flex
              justify-content: center
              width: 40px
              height: 40px
              margin-right: 30px
              img
            .checked-list__text
        .checked__note
          max-width: 340px
          margin-top: auto

.presentation
  color: #fff
  background: #000
  padding: 100px 0
  margin-bottom: 200px
  @media screen and ( max-width: 500px )
    padding: 75px 0
    margin-bottom: 100px
  .presentation__inner
    display: flex
    justify-content: space-between
    @media screen and ( max-width: 1330px )
      flex-direction: column
    .presentation__img
      flex-basis: 45%
      display: flex
      justify-content: center
      align-items: center
      transform: translateX(-50px)
      @media screen and ( max-width: 1330px )
        width: 50%
        transform: translateX(0)
        margin: 0 auto 20px
      @media screen and ( max-width: 768px )
        width: 75%
      @media screen and ( max-width: 500px )
        width: 100%
      img
    .presentation__content
      flex-basis: 55%
      @media screen and ( max-width: 1330px )
        text-align: center
      .presentation__title
        @media screen and ( max-width: 1600px )
          font-size: 38px
        @media screen and ( max-width: 500px )
          font-size: 32px
          margin-bottom: 10px
      .presentation__subtitle
        font-size: 36px
        margin-bottom: 30px
        @media screen and ( max-width: 1600px )
          font-size: 30px
        @media screen and ( max-width: 500px )
          font-size: 22px
          margin-bottom: 10px
      .presentation__text
        margin-bottom: 115px
        @media screen and ( max-width: 1330px )
          margin-bottom: 50px
        @media screen and ( max-width: 500px )
          margin-bottom: 30px
      .presentation__btns
        @media screen and ( max-width: 600px )
          display: flex
          flex-direction: column
        .presentation__btn
          margin-right: 20px
          @media screen and ( max-width: 600px )
            max-width: 270px
            margin: 0 auto 20px
          &:last-child
            margin-right: 0
            @media screen and ( max-width: 600px )
              margin: 0 auto
        .btn:not(.btn--transparent)
          padding: 25px 35px

.tech
  @media screen and ( max-width: 500px )
    margin-bottom: 50px
  .tech__inner
    .tech__title
      max-width: 420px
      @media screen and ( max-width: 800px )
        margin-bottom: 35px
    .tech__item
      display: flex
      justify-content: center
      align-items: center
      margin-bottom: 120px
      @media screen and ( max-width: 1440px )
        margin-bottom: 100px
      @media screen and ( max-width: 1024px )
        margin-bottom: 80px
      @media screen and ( max-width: 800px )
        flex-direction: column
      @media screen and ( max-width: 500px )
        margin-bottom: 60px
      &:nth-child(odd)
        flex-direction: row-reverse
        @media screen and ( max-width: 800px )
          flex-direction: column
        .tech-item__img
          margin-right: 0
          margin-left: 20px
          @media screen and ( max-width: 800px )
            margin-left: 0
        .tech-item__content
          text-align: right
          padding-left: 0
          padding-right: 70px
          @media screen and ( max-width: 1440px )
            padding-right: 40px
          @media screen and ( max-width: 1024px )
            padding-right: 20px
          @media screen and ( max-width: 800px )
            text-align: center
            padding-right: 0
          .tech-item__text
            margin-left: auto
      &:last-child
        margin-bottom: 0
      .tech-item__img
        flex-basis: 50%
        width: 705px
        height: 320px
        background: $gradient
        border-radius: $radius
        margin-right: 20px
        @media screen and ( max-width: 1440px )
          height: 260px
        @media screen and ( max-width: 800px )
          width: 100%
          margin-right: 0
          margin-bottom: 40px
        @media screen and ( max-width: 500px )
          margin-bottom: 30px
        img
          width: 100%
          height: 100%
          opacity: .8
          border-radius: $radius
          object-fit: cover
      .tech-item__content
        flex-basis: 50%
        padding-left: 70px
        @media screen and ( max-width: 1440px )
          padding-left: 40px
        @media screen and ( max-width: 1024px )
          padding-left: 20px
        @media screen and ( max-width: 800px )
          text-align: center
          padding-left: 0
        .tech-item__title
          line-height: 1
          margin-bottom: 30px
          @media screen and ( max-width: 1440px )
            font-size: 40px
          @media screen and ( max-width: 500px )
            font-size: 32px
            margin-bottom: 15px
        .tech-item__text
          max-width: 560px
          @media screen and ( max-width: 1440px )
            font-size: 16px

.terms
  background: url(../img/terms/bg.jpg) center no-repeat
  background-size: cover
  padding: 100px 0
  @media screen and ( max-width: 500px )
    padding: 75px 0
    margin-bottom: 50px
  .terms__inner
    .terms__title
      max-width: 750px
    .terms__row
      display: flex
      justify-content: space-between
      margin-bottom: 100px
      @media screen and ( max-width: 1440px )
        margin-bottom: 75px
      @media screen and ( max-width: 850px )
        flex-wrap: wrap
        justify-content: center
        margin-bottom: 55px
      @media screen and ( max-width: 500px )
        margin-bottom: 40px
      .terms__card
        position: relative
        flex-basis: 25%
        max-width: 340px
        padding: 20px
        margin-right: 25px
        @media screen and ( max-width: 1440px )
          padding: 15px
        @media screen and ( max-width: 850px )
          flex-basis: 47%
          margin-right: 0
          margin-bottom: 20px
          &:nth-child(odd)
            margin-right: 20px
        @media screen and ( max-width: 500px )
          flex-basis: 100%
          max-width: 100%
          margin: 0 0 20px
          &:nth-child(odd)
            margin: 0 0 20px
        &:last-child
          margin-right: 0
        .terms-card__img
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
          object-fit: cover
          border-radius: $radius
        .terms-card__number,
        .terms-card__title,
        .terms-card__text,
          position: relative
          z-index: 1
        .terms-card__number
          font-size: 144px
          font-weight: 700
          @include gradientText ()
          @media screen and ( max-width: 1440px )
            font-size: 100px
          @media screen and ( max-width: 500px )
            font-size: 80px
        .terms-card__title
          font-size: 24px
          margin-bottom: 10px
          @include gradientText ()
          @media screen and ( max-width: 1440px )
            font-size: 18px
          @media screen and ( max-width: 500px )
            font-size: 22px
        .terms-card__text
          font-size: 14px
          color: #fff
          max-width: 80%
          @media screen and ( max-width: 1440px )
            font-size: 12px
            max-width: 85%
          @media screen and ( max-width: 500px )
            font-size: 14px
  .terms__get-title
    text-align: center
    max-width: 630px
    margin: 0 auto 50px
    @media screen and ( max-width: 500px )
      font-size: 36px
      margin-bottom: 40px
  .terms__btn
    display: block
    max-width: 320px
    padding: 25px
    margin: 0 auto

.video
  .video__inner
    .video__title
      max-width: 780px
    .video__card
      position: relative
      border-radius: $radius
      width: 100%
      min-height: 300px
      height: 35vw
      background: $gradient
      .video-card__poster
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        width: 100%
        height: 100%
        object-fit: cover
        border-radius: $radius
        opacity: .5
      .video-card__content
        position: relative
        z-index: 1
        display: flex
        justify-content: center
        align-items: center
        height: 100%
        cursor: pointer
        .video-card__img
          width: 150px
          margin-right: 20px
          @media screen and ( max-width: 1440px )
            width: 120px
          @media screen and ( max-width: 500px )
            width: 100px
            margin-right: 10px
          @media screen and ( max-width: 350px )
            margin-right: 0
          img
        .video-card__text
          color: #fff
          .video-card__title
            font-size: 36px
            @media screen and ( max-width: 1440px )
              font-size: 34px
            @media screen and ( max-width: 500px )
              font-size: 30px
            @media screen and ( max-width: 350px )
              font-size: 28px
          .video-card__subtitle
            font-size: 24px
            @media screen and ( max-width: 1440px )
              font-size: 22px
            @media screen and ( max-width: 500px )
              font-size: 18px
            @media screen and ( max-width: 350px )
              font-size: 16px

.video__modal
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 20000
  background: rgba(#000, .5)
  display: flex
  justify-content: center
  align-items: center
  opacity: 0
  visibility: hidden
  transition: opacity .3s, visibility .3s
  .video-modal__area
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
  .video-modal__inner
    position: relative
    transform: translateY(100%)
    transition: transform .3s
    .video-modal__close
      position: absolute
      top: -40px
      right: -40px
      width: 40px
      height: 40px
      cursor: pointer
      @media screen and ( max-width: 655px )
        display: none
      img
    .video-modal__video
      iframe
        max-width: 100%
        min-height: 315px
        padding: 0 15px
        @media screen and ( max-width: 500px )
          min-height: 0
          height: 270px
        @media screen and ( max-width: 375px )
          height: 230px
        @media screen and ( max-width: 320px )
          height: 200px
  &--active
    opacity: 1
    visibility: visible
    .video-modal__inner
      transform: translateY(0)

.special
  position: relative
  .special__inner
    .special__title
    .special__subtitle
      font-size: 36px
      margin-bottom: 70px
      @media screen and ( max-width: 1440px )
        margin-bottom: 55px
    .special__row
      display: flex
      justify-content: space-between
      @media screen and ( max-width: 860px )
        flex-direction: column
      .special__card
        flex-basis: 50%
        display: flex
        flex-direction: column
        background: #fff
        border-radius: $radius
        border: 1px solid #ff9334
        padding: 40px
        margin-right: 25px
        transition: box-shadow .2s
        @media screen and ( max-width: 1440px )
          padding: 20px
        @media screen and ( max-width: 860px )
          align-items: center
          margin-right: 0
          margin-bottom: 20px
        &:last-child
          margin-right: 0
          @media screen and ( max-width: 860px )
            margin-bottom: 0
        &:hover
          box-shadow: 0 10px 20px #e5e5e5
        .special-card__header
          display: flex
          align-items: center
          margin-bottom: 40px
          @media screen and ( max-width: 860px )
            margin-bottom: 20px
          .special-card__img
            flex-shrink: 0
            margin-right: 40px
            @media screen and ( max-width: 500px )
              margin-right: 20px
              width: 100px
              height: 100px
            img
              width: 100%
              height: 100%
          .special-card__title
            font-size: 36px
            font-weight: 400
            max-width: 240px
            @media screen and ( max-width: 1440px )
              font-size: 32px
            @media screen and ( max-width: 500px )
              font-size: 28px
              max-width: 160px
        .special-card__list
          margin-bottom: 60px
          @media screen and ( max-width: 860px )
            width: 100%
            margin-bottom: 30px
          .special-card-list__item
            position: relative
            max-width: 80%
            padding-left: 40px
            margin-bottom: 15px
            @media screen and ( max-width: 1440px )
              font-size: 16px
            @media screen and ( max-width: 860px )
              text-align: center
              max-width: 75%
              margin: 0 auto 15px
            @media screen and ( max-width: 650px )
              text-align: left
              margin: 0 auto 15px 0
            &:last-child
              margin-bottom: 0
            &::before
              @include listMark ()
              top: -9px
        .special-card__btn
          display: block
          width: 320px
          padding: 25px
          margin-top: auto
          @media screen and ( max-width: 1440px )
            width: 280px
  .special__img
    position: absolute
    right: 0
    bottom: -200px
    @media screen and ( max-width: 1440px )
      transform: scale(.75)
      right: -100px
      bottom: -200px
    @media screen and ( max-width: 1300px )
      display: none
    img

.production
  .production__inner
    .production__title
      margin-bottom: 70px
      @media screen and ( max-width: 1440px )
        margin-bottom: 55px
      @media screen and ( max-width: 600px )
        font-size: 36px
    .production__row
      display: flex
      justify-content: space-between
      margin-bottom: 20px
      @media screen and ( max-width: 600px )
        flex-direction: column
      &:last-child
        margin-bottom: 0
      .production__img-card,
      .production__card,
      .production__dark-card
        color: #fff
        padding: 40px
        border-radius: $radius
        @media screen and ( max-width: 1440px )
          padding: 40px 20px
        @media screen and ( max-width: 768px )
          padding: 20px
        @media screen and ( max-width: 500px )
          padding: 15px
      .production__col
        flex-basis: 50%
        margin-right: 20px
        min-height: 515px
        @media screen and ( max-width: 1440px )
          min-height: 400px
        @media screen and ( max-width: 768px )
          min-height: 280px
        @media screen and ( max-width: 600px )
          min-height: 0
          margin-right: 0
          margin-bottom: 20px
          &:last-child
            margin-bottom: 0
        &:last-child
          margin-right: 0
        .production__img-card
          position: relative
          display: flex
          flex-direction: column
          justify-content: flex-end
          background: $gradient
          height: 100%
          @media screen and ( max-width: 600px )
            height: 310px
          .production-img-card__img
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            object-fit: cover
        .production__card
          display: flex
          justify-content: center
          align-items: center
          background: $gradient
          margin-bottom: 20px
          height: 50%
          &:last-child
            height: calc( 50% - 20px )
            margin-bottom: 0
      .production__dark-card
        background: url(../img/production/dark-img.jpg) center no-repeat
        background-size: cover
        width: 100%
        .production-dark-card__header
          display: flex
          align-items: center
          padding-left: 35px
          margin-bottom: 15px
          @media screen and ( max-width: 500px )
            padding-left: 25px
          .production-dark-card__img
            margin-right: 30px
            @media screen and ( max-width: 768px )
              margin-right: 15px
            @media screen and ( max-width: 600px )
              display: none
            img
          .production-dark-card__title
            font-size: 24px
            @media screen and ( max-width: 768px )
              font-size: 20px
            @media screen and ( max-width: 500px )
              font-size: 18px
      .production-card__text
        position: relative
        font-size: 24px
        max-width: 600px
        padding-left: 35px
        @media screen and ( max-width: 1440px )
          font-size: 20px
        @media screen and ( max-width: 768px )
          font-size: 16px
        @media screen and ( max-width: 500px )
          padding-left: 25px
        &::before
          content: ''
          position: absolute
          left: 0
          top: 5px
          width: 15px
          height: 15px
          border-top: 3px solid #fff
          border-right: 3px solid #fff
          transform: rotate(45deg)
          @media screen and ( max-width: 500px )
            width: 10px
            height: 10px

.reviews
  .reviews__inner
    .reviews__title
      margin-bottom: 70px
      @media screen and ( max-width: 1440px )
        margin-bottom: 55px
    .reviews__row
      display: flex
      justify-content: space-between
      @media screen and ( max-width: 768px )
        flex-direction: column
      .reviews__card
        flex-basis: 33%
        display: flex
        flex-direction: column
        margin-right: 20px
        background: #fff
        border-radius: $radius
        border: 2px solid $main
        @media screen and ( max-width: 768px )
          margin-right: 0
          margin-bottom: 20px
        &:last-child
          margin-right: 0
          @media screen and ( max-width: 768px )
            margin-bottom: 0
        .reviews-card__text
          font-size: 14px
          padding: 30px 40px
          @media screen and ( max-width: 1440px )
            font-size: 12px
            padding: 15px 25px
          @media screen and ( max-width: 768px )
            font-size: 14px
          @media screen and ( max-width: 350px )
            padding: 15px
        .reviews-card__footer
          position: relative
          min-height: 100px
          color: #fff
          background: $gradient
          padding: 20px 40px
          margin-top: auto
          @media screen and ( max-width: 1440px )
            padding: 15px 25px
          @media screen and ( max-width: 350px )
            padding: 15px
          .reviews-card__name
            font-size: 24px
            font-weight: 700
            @media screen and ( max-width: 1440px )
              font-size: 22px
            @media screen and ( max-width: 768px )
              font-size: 24px
          .reviews-card__profession
            font-size: 14px
            max-width: 260px
            @media screen and ( max-width: 1440px )
              font-size: 12px
            @media screen and ( max-width: 768px )
              font-size: 14px
          .reviews-card__city
            position: absolute
            bottom: 15px
            right: 40px
            font-size: 12px
            font-weight: 700
            text-align: right
            @media screen and ( max-width: 1440px )
              bottom: 10px
              right: 25px

.free
  background: #000
  padding: 150px 0
  margin-bottom: 200px
  @media screen and ( max-width: 1440px )
    padding: 100px 0
  @media screen and ( max-width: 500px )
    padding: 75px 0
    margin-bottom: 100px
  .free__inner
    display: flex
    justify-content: space-between
    @media screen and ( max-width: 880px )
      flex-direction: column-reverse
    .free__content
      flex-basis: 50%
      color: #fff
      @media screen and ( max-width: 880px )
        text-align: center
      .free__title
        @media screen and ( max-width: 1440px )
          font-size: 36px
        @media screen and ( max-width: 500px )
          font-size: 24px
      .free__subtitle
        font-size: 36px
        margin-bottom: 30px
        @media screen and ( max-width: 1440px )
          font-size: 30px
          margin-bottom: 25px
        @media screen and ( max-width: 500px )
          font-size: 22px
          margin-bottom: 10px
      .free__text
        margin-bottom: 100px
        max-width: 560px
        @media screen and ( max-width: 1440px )
          margin-bottom: 75px
        @media screen and ( max-width: 880px )
          margin: 0 auto 50px
        @media screen and ( max-width: 500px )
          margin-bottom: 30px
      .free__btn
    .free__img
      position: relative
      flex-basis: 50%
      img
        position: absolute
        transform: translate(-100px, 120px) scale(1.4)
        @media screen and ( max-width: 1440px )
          transform: translate(0, 70px) scale(1.4)
        @media screen and ( max-width: 1024px )
          top: 50%
          left: 50%
          transform: translate(-50%, -50%) scale(1)
        @media screen and ( max-width: 880px )
          position: static
          transform: translate(0, 0) scale(1)
          width: 75%
          margin: 0 auto 20px

.achievements
  overflow-x: hidden
  padding-bottom: 100px
  margin-bottom: 100px
  .achievements__inner
    position: relative
    display: flex
    @media screen and ( max-width: 700px )
      flex-direction: column
    .achievements__col
      display: flex
      flex-direction: column
      margin-right: 160px
      @media screen and ( max-width: 1440px )
        margin-right: 120px
      @media screen and ( max-width: 1024px )
        margin-right: 80px
      @media screen and ( max-width: 700px )
        margin-right: 0
      .achievements__title
        max-width: 280px
        @media screen and ( max-width: 700px )
          margin-bottom: 15px
      .achievements__arrows
        display: flex
        margin-top: auto
        @media screen and ( max-width: 700px )
          position: absolute
          bottom: -90px
          left: 50%
          transform: translateX(-50%)
          @media screen and ( max-width: 340px )
            bottom: -75px
        .achievements__arrow-left,
        .achievements__arrow-right
          position: relative
          z-index: 1
          cursor: pointer
          width: 80px
          @media screen and ( max-width: 1440px )
            width: 70px
          @media screen and ( max-width: 340px )
            width: 60px
          img
            width: 100%
        .achievements__arrow-left
          margin-right: 20px
          @media screen and ( max-width: 500px )
            margin-right: 40px
        .achievements__arrow-right
    .achievements__slider
      min-width: 0
      .achievements-slider__item
        margin-right: 20px
        @media screen and ( max-width: 1440px )
          height: 450px
        @media screen and ( max-width: 500px )
          margin-right: 0
          width: 100vw
          height: 130vw
        &:last-child
          margin-right: 0
        img
          height: 100%
          @media screen and ( max-width: 500px )
            margin: 0 auto
      .slick-list
        overflow: visible
      .slick-slide
        opacity: 0
        transition: opacity .4s
      .slick-current.slick-active
        opacity: 1
      .slick-current.slick-active ~ .slick-slide
        opacity: 1
        @media screen and ( max-width: 500px )
          opacity: 0
      .slick-arrow
        position: absolute
        opacity: 0

// .achievements__modal
//   position: fixed
//   top: 0
//   bottom: 0
//   left: 0
//   right: 0
//   z-index: 20000
//   background: rgba(#000, .5)
//   display: flex
//   justify-content: center
//   align-items: center
//   opacity: 0
//   visibility: hidden
//   transition: opacity .3s, visibility .3s
//   .achievements-modal__img
//     position: relative
//     max-width: 520px
//     width: 100%
//     max-height: 770px
//     height: 100%
//     transform: translateY(100%)
//     transition: transform .3s
//     .achievements-modal__close
//       position: absolute
//       top: 10px
//       right: 10px
//       width: 40px
//       height: 40px
//       cursor: pointer
//     img
//       width: 100%
//       height: 100%
//       object-fit: cover
//   &--active
//     opacity: 1
//     visibility: visible
//     transform: translateY(0)
//     .achievements-modal__img
//       transform: translateY(0)

.quality
  position: relative
  .quality__inner
    .quality__title
      max-width: 810px
      @media screen and ( max-width: 768px )
        font-size: 36px
    .quality__card
      max-width: 1000px
      width: 100%
      padding: 40px
      border-radius: $radius
      border: 1px solid $main
      margin-bottom: 40px
      @media screen and ( max-width: 1440px )
        max-width: 800px
      @media screen and ( max-width: 500px )
        padding: 20px
        margin-bottom: 20px
      .quality-card__img
        margin-bottom: 30px
        img
          @media screen and ( max-width: 500px )
            margin: 0 auto
      .quality-card__list
        .quality-card-list__item
          position: relative
          max-width: 450px
          padding-left: 35px
          margin-bottom: 10px
          @media screen and ( max-width: 500px )
            font-size: 16px
          &:last-child
            margin-bottom: 0
          &::before
            @include listMark ()
            top: -9px
    .quality__btn
      @media screen and ( max-width: 500px )
        display: block
        max-width: 320px
        padding: 25px
        margin: 0 auto
    .quality__img
      position: absolute
      right: 0
      bottom: -130px
      @media screen and ( max-width: 1600px )
        right: -180px
        transform: scale(.8)
      @media screen and ( max-width: 1120px )
        display: none
      img

.geo
  .geo__inner
    position: relative
    display: flex
    justify-content: space-between
    @media screen and ( max-width: 1000px )
      flex-direction: column-reverse
    .geo__content
      flex-basis: 53%
      @media screen and ( max-width: 1040px )
        flex-basis: 55%
      .geo__title
        max-width: 715px
        margin-bottom: 30px
        @media screen and ( max-width: 1600px )
          font-size: 36px
          margin-bottom: 15px
        @media screen and ( max-width: 500px )
          font-size: 32px
        b
          white-space: nowrap
      .geo__subtitle
        max-width: 400px
        margin-bottom: 65px
        @media screen and ( max-width: 1440px )
          margin-bottom: 45px
      .geo__img
        img
          position: relative
          z-index: 1
          transform: translate(115px, 40px) scale(1.35)
          @media screen and ( max-width: 1440px )
            transform: translate(95px, 40px) scale(1.35)
          @media screen and ( max-width: 1000px )
            transform: translate(0, 0) scale(1)
    .geo__map
      flex-basis: 47%
      @media screen and ( max-width: 1040px )
        flex-basis: 45%
      @media screen and ( max-width: 1000px )
        position: absolute
        z-index: -1
      img
        transform: translate(-60px, 50px) scale(1.1)
        @media screen and ( max-width: 1600px )
          transform: translate(20px, 50px) scale(1.2)
        @media screen and ( max-width: 1440px )
          transform: translate(50px, 60px) scale(1.4)
        @media screen and ( max-width: 1000px )
          transform: translate(30px, 60px) scale(1)
          opacity: .75
        @media screen and ( max-width: 600px )
          transform: translate(10px, 40px) scale(1.2)

.footer
  background: url(../img/footer/bg.jpg) center no-repeat
  background-size: cover
  padding: 70px 0

.consultation
  margin-bottom: 250px
  @media screen and ( max-width: 1600px )
    margin-bottom: 150px
  .consultation__inner
    display: flex
    justify-content: space-between
    .consultation__col
      flex-basis: 75%
      .consultation__title
        font-size: 36px
        color: #fff
        @media screen and ( max-width: 1440px )
          font-size: 30px
      .consultation__form
        .consultation-form__row
          position: relative
          display: flex
          align-items: center
          margin-bottom: 70px
          @media screen and ( max-width: 1440px )
            margin-bottom: 60px
          &:last-child
            margin-bottom: 0
          .consultation-form__input
            position: relative
            max-width: 415px
            width: 100%
            margin-right: 100px
            @media screen and ( max-width: 1800px )
              max-width: 380px
              margin-right: 80px
            @media screen and ( max-width: 1600px )
              max-width: 350px
              margin-right: 75px
            @media screen and ( max-width: 1440px )
              max-width: 320px
              margin-right: 55px
            &::before
              content: ''
              position: absolute
              left: 10px
              top: 50%
              transform: translateY(-50%)
              width: 26px
              height: 26px
            &:nth-child(1)::before
              background: url(../img/footer/name.svg)
              background-size: cover
            &:nth-child(2)::before
              background: url(../img/footer/tel.svg)
              background-size: cover
            &:last-child
              margin-right: 0
            input
              font-size: 24px
              color: #fff
              width: 100%
              background: transparent
              border: 0
              border-bottom: 1px solid #414141
              padding: 15px 15px 15px 60px
              @media screen and ( max-width: 1440px )
                font-size: 18px
          .consultation-form__radio
            position: absolute
            opacity: 0
            &:checked
              & + .consultation-form__text
                font-weight: 700
                @include gradientText ()
                &::before
                  background: $gradient
          .consultation-form__text
            position: relative
            font-size: 24px
            color: #fff
            cursor: pointer
            padding-left: 60px
            margin-right: 100px
            @media screen and ( max-width: 1440px )
              font-size: 18px
              margin-right: 55px
            &:last-child
              margin-right: 0
            &::before
              content: ''
              position: absolute
              left: 0
              top: 50%
              transform: translateY(-50%)
              width: 27px
              height: 27px
              display: block
              border-radius: 50%
              background: #e4e4e4
              border: 4px solid #e4e4e4
          .consultation-form__btn
            font-size: 18px
            max-width: 400px
            width: 100%
            margin-right: 60px
            @media screen and ( max-width: 1440px )
              max-width: 320px
              margin-right: 50px
          .consultation-form__policy
            font-size: 12px
            color: #9c9c9c
            max-width: 260px
    .consultation__img
      flex-basis: 25%
      img
        transform: translate(0px, 90px) scale(1.4)

.contacts
  .contacts__inner
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    .contacts__col
      flex-basis: 35%
      color: #fff
      .contacts__title
        font-size: 36px
        margin-bottom: 50px
        @media screen and ( max-width: 1440px )
          font-size: 30px
          margin-bottom: 30px
      .contacts__subtitle
        font-size: 24px
        margin-bottom: 60px
        @media screen and ( max-width: 1440px )
          font-size: 18px
          margin-bottom: 40px
      .contacts__adress,
      .contacts__phones,
      .contacts__email,
      .contacts__social
        position: relative
        padding-left: 35px
        &::before
          content: ''
          position: absolute
          left: 0
          top: 4px
          width: 17px
      .contacts__adress,
      .contacts__phones
        font-size: 24px
        margin-bottom: 15px
        @media screen and ( max-width: 1440px )
          font-size: 18px
      .contacts__adress
        &::before
          height: 23px
          background: url(../img/footer/contacts-adress.svg)
      .contacts__phones
        &::before
          height: 17px
          background: url(../img/footer/contacts-tel.svg)
        a
          color: #fff
          font-weight: 700
        p
          font-size: 18px
          margin-bottom: 15px
          @media screen and ( max-width: 1440px )
            font-size: 16px
      .contacts__email
        display: block
        color: #fff
        margin-bottom: 40px
        &::before
          width: 18px
          height: 14px
          background: url(../img/footer/contacts-email.svg)
      .contacts__social
        display: flex
        .contacts-social__item
          margin-right: 25px
          &:hover
            animation: jump .6s
          &:last-child
            margin-right: 0
    .contacts__map
      flex-basis: 60%
      iframe
        height: 470px
        @media screen and ( max-width: 1440px )
          height: 370px
    .contacts__img
      margin: 80px auto 0
      img
        border-radius: 12px