* {
  margin: 0;
  padding: 0;
  bottom: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  line-height: 1.6;
}

nav,
footer,
header,
aside {
  display: block;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

*:focus,
*:active {
  outline: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #585858;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1460px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  color: #fff;
  font-weight: 700;
  text-shadow: 0 2px 2px #02c7a7;
  background: linear-gradient(150.95deg, #54e2cb 8.63%, #35CCB1 84.35%);
  -webkit-box-shadow: 0 2px 10px #54e2cb;
          box-shadow: 0 2px 10px #54e2cb;
  border-radius: 30px;
  padding: 20px 70px;
}

.section {
  margin-bottom: 200px;
}

.section .section__title {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
}

.section .section__title_color {
  color: #35ccb1;
}

.intro {
  background: url(../img/intro/bg.jpg) center no-repeat;
  background-size: cover;
}

.header {
  padding-top: 35px;
  margin-bottom: 160px;
}

.header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__inner .header__nav {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.header .header__inner .header__nav .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  margin-bottom: 30px;
}

.header .header__inner .header__nav .header__logo img {
  margin-right: 20px;
}

.header .header__inner .header__nav .header__logo p {
  max-width: 150px;
}

.header .header__inner .header__nav .nav .nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__inner .header__nav .nav .nav__inner .nav__item {
  color: #585858;
  margin-right: 50px;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.header .header__inner .header__nav .nav .nav__inner .nav__item:hover {
  color: #35ccb1;
}

.header .header__inner .header__nav .nav .nav__inner .nav__item:last-child {
  margin-right: 0;
}

.header .header__inner .header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__inner .header__contacts .header__phones {
  font-size: 24px;
  line-height: 29px;
  color: #fff;
}

.header .header__inner .header__contacts .header__phones .header-phones__item:first-child {
  position: relative;
}

.header .header__inner .header__contacts .header__phones .header-phones__item:first-child::before {
  content: '\f879';
  position: absolute;
  top: 50%;
  left: -40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
  font-family: FontAwesome;
  font-size: 16px;
  color: #40d4ba;
}

.header .header__inner .header__contacts .header-contacts__link {
  position: relative;
  color: #fff;
}

.header .header__inner .header__contacts .header-contacts__link .header-contacts__link {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #fff;
  text-decoration: underline;
}

.header .header__inner .header__contacts .header-contacts__link::before {
  content: '\f232';
  position: absolute;
  top: 0;
  left: -40px;
  font-family: FontAwesome;
  font-size: 25px;
}

.header .header__inner .header__poor-vision .header-poor-vision__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .header__inner .header__poor-vision .header-poor-vision__wrapper img {
  margin-right: 20px;
}

.header .header__inner .header__poor-vision .header-poor-vision__wrapper p {
  max-width: 150px;
  font-weight: 700;
  color: #fff;
}

.main {
  margin-bottom: 20px;
}

.main .main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .main__inner .main__content {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
}

.main .main__inner .main__content .main__title {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  margin-bottom: 40px;
}

.main .main__inner .main__content .main__title span {
  color: #40d4ba;
}

.main .main__inner .main__content .main__list {
  margin-bottom: 80px;
}

.main .main__inner .main__content .main__list .main-list__item {
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
}

.main .main__inner .main__content .main__list .main-list__item::before {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  background: #40d4ba;
  display: block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.main .main__inner .main__content .main__list .main-list__item .main-list__title {
  font-weight: 600;
  margin-bottom: 5px;
}

.main .main__inner .main__content .main__button {
  margin: 0 30px 100px 0;
}

.main .main__inner .main__content .main__link {
  color: #35ccb1;
  font-weight: 700;
  text-decoration: underline;
}

.main .main__inner .main__content .main__city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .main__inner .main__content .main__city .fas {
  font-size: 20px;
  color: #35ccb1;
  margin-right: 15px;
}

.main .main__inner .main__img {
  position: relative;
}

.main .main__inner .main__img img {
  -webkit-transform: translateY(-120px);
          transform: translateY(-120px);
}

.main .main__inner .main__img .main__card {
  position: absolute;
  right: 0;
  bottom: 80px;
  max-width: 280px;
  background: #fff;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 20px;
}

.main .main__inner .main__img .main__card .main-card__surname {
  font-weight: 700;
  color: #35ccb1;
}

.main .main__inner .main__img .main__card .main-card__name {
  font-weight: 500;
  color: #35ccb1;
  margin-bottom: 20px;
}

.main .main__inner .main__img .main__card .main-card__profession {
  font-size: 12px;
  line-height: 15px;
}

.features {
  position: relative;
  background: url(../img/features/bg.jpg) top no-repeat;
  padding-top: 40px;
}

.features .features__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
}

.features .features__inner .features__text:not(:first-child) {
  margin-bottom: 70px;
}

.features .features__inner .features__title {
  position: relative;
  font-size: 200px;
  line-height: 1;
  color: rgba(53, 204, 177, 0.6);
}

.features .features__inner .features__title::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -140px;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  display: block;
  width: 80px;
  height: 80px;
  border-top: 20px solid rgba(53, 204, 177, 0.6);
  border-right: 20px solid rgba(53, 204, 177, 0.6);
}

.features .features__inner .features__subtitle {
  font-size: 96px;
  line-height: 117px;
  font-weight: 500;
  color: #35ccb1;
  margin-bottom: 200px;
}

.features .features__inner .features__cards {
  margin-bottom: 200px;
}

.features .features__inner .features__cards .features-cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  -webkit-box-shadow: 0 10px 20px rgba(2, 170, 176, 0.3);
          box-shadow: 0 10px 20px rgba(2, 170, 176, 0.3);
  border-radius: 12px;
  max-width: 1140px;
  padding: 30px;
  margin-bottom: 30px;
}

.features .features__inner .features__cards .features-cards__item:last-child {
  margin-bottom: 0;
}

.features .features__inner .features__cards .features-cards__item:nth-last-child(2n+2) {
  margin-left: auto;
}

.features .features__inner .features__cards .features-cards__item .features-cards__img {
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
  margin-right: 50px;
}

.features .features__inner .features__cards .features-cards__item .features-cards__img img {
  width: 100%;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}

.features .features__inner .features__cards .features-cards__item .features-cards__content {
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features .features__inner .features__cards .features-cards__item .features-cards__content .features-cards__number {
  font-size: 56px;
  line-height: 1;
  font-weight: 700;
  color: #40d4ba;
  margin-bottom: 25px;
}

.features .features__inner .features__cards .features-cards__item .features-cards__content .features-cards__title {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  color: #40d4ba;
  margin-bottom: 12px;
}

.help .help__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.help .help__inner .help__content {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.help .help__inner .help__content .help__title {
  margin-bottom: 40px;
}

.help .help__inner .help__content .help__text {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 50px;
}

.help .help__inner .help__content .help__text p {
  margin-bottom: 20px;
}

.help .help__inner .help__content .help__text p:last-child {
  font-weight: 600;
}

.help .help__inner .help__img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.help .help__inner .help__img img {
  width: 100%;
  border-radius: 12px 0 0 12px;
  -o-object-fit: cover;
     object-fit: cover;
}

.use {
  background: url(../img/use/illustration.jpg) top no-repeat;
}

.use .use__inner .use__text {
  position: relative;
  z-index: 2;
  max-width: 1150px;
  padding-left: 45px;
  margin-bottom: 740px;
}

.use .use__inner .use__text::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 0;
  width: 15px;
  height: 93%;
  background: rgba(64, 212, 186, 0.6);
}

.use .use__inner .use__text::after {
  content: '';
  position: absolute;
  top: -100px;
  right: -357px;
  width: 357px;
  height: 369px;
  background: url(../img/use/leaves-small.png) center no-repeat;
  background-size: cover;
}

.use .use__inner .use__text .use__title {
  font-size: 48px;
  line-height: 59px;
  font-weight: 700;
  color: #40d4ba;
  margin-bottom: 15px;
}

.use .use__inner .use__text .use__subtitle {
  font-size: 36px;
  line-height: 44px;
  font-weight: 500;
}

.use .use__inner .use__img {
  padding-left: 45px;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

.use .use__inner .use__img img {
  margin: 0 auto;
}

.use .use__inner .use__card {
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0 10px 20px rgba(2, 170, 176, 0.3);
          box-shadow: 0 10px 20px rgba(2, 170, 176, 0.3);
  border-radius: 12px;
  max-width: 995px;
  padding: 45px;
  margin-left: auto;
}

.use .use__inner .use__card::before {
  content: '';
  position: absolute;
  top: -50px;
  left: -870px;
  width: 900px;
  height: 800px;
  background: url(../img/use/leaves-large.png) center no-repeat;
  background-size: cover;
}

.use .use__inner .use__card .use-card__title {
  margin-bottom: 30px;
}

.use .use__inner .use__card .use-card__text {
  margin-bottom: 60px;
}

.use .use__inner .use__card .use-card__list .use-card__item:first-child {
  margin-bottom: 30px;
}

.use .use__inner .use__card .use-card__list .use-card__item:not(:first-child) {
  position: relative;
  font-weight: 600;
  padding-left: 50px;
  margin-bottom: 20px;
}

.use .use__inner .use__card .use-card__list .use-card__item:not(:first-child)::before {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  background: #40d4ba;
  display: block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.request .request__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.request .request__inner .request__content {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.request .request__inner .request__content .request__title {
  margin-bottom: 40px;
}

.request .request__inner .request__content .request__text {
  margin-bottom: 70px;
}

.request .request__inner .request__content .request__button {
  margin-right: 30px;
}

.request .request__inner .request__content .request__link {
  font-weight: 700;
  color: #35ccb1;
  text-decoration: underline;
}

.request .request__inner .request__img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.request .request__inner .request__img img {
  width: 100%;
  border-radius: 12px 0 0 12px;
  -o-object-fit: cover;
     object-fit: cover;
}

.services,
.services-onco {
  position: relative;
}

.services .services__img,
.services-onco .services__img {
  position: absolute;
  top: 250px;
  right: -250px;
}

.services .services__inner .services__title,
.services .services-onco__inner .services__title,
.services-onco .services__inner .services__title,
.services-onco .services-onco__inner .services__title {
  width: 76%;
  margin-bottom: 40px;
}

.services .services__inner .services__row,
.services .services-onco__inner .services__row,
.services-onco .services__inner .services__row,
.services-onco .services-onco__inner .services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 20px;
}

.services .services__inner .services__row:last-of-type,
.services .services-onco__inner .services__row:last-of-type,
.services-onco .services__inner .services__row:last-of-type,
.services-onco .services-onco__inner .services__row:last-of-type {
  margin-bottom: 40px;
}

.services .services__inner .services__row::before,
.services .services-onco__inner .services__row::before,
.services-onco .services__inner .services__row::before,
.services-onco .services-onco__inner .services__row::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 60%;
  background: #ededed;
  -webkit-filter: blur(100px);
          filter: blur(100px);
  border-radius: 133px;
}

.services .services__inner .services__row .services__card,
.services .services-onco__inner .services__row .services__card,
.services-onco .services__inner .services__row .services__card,
.services-onco .services-onco__inner .services__row .services__card {
  min-height: 750px;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  margin-right: 20px;
}

.services .services__inner .services__row .services__card:last-child,
.services .services-onco__inner .services__row .services__card:last-child,
.services-onco .services__inner .services__row .services__card:last-child,
.services-onco .services-onco__inner .services__row .services__card:last-child {
  margin-right: 0;
}

.services .services__inner .services__row .services__card .services-card__img,
.services .services-onco__inner .services__row .services__card .services-card__img,
.services-onco .services__inner .services__row .services__card .services-card__img,
.services-onco .services-onco__inner .services__row .services__card .services-card__img {
  margin-bottom: 30px;
}

.services .services__inner .services__row .services__card .services-card__img img,
.services .services-onco__inner .services__row .services__card .services-card__img img,
.services-onco .services__inner .services__row .services__card .services-card__img img,
.services-onco .services-onco__inner .services__row .services__card .services-card__img img {
  width: 100%;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}

.services .services__inner .services__row .services__card .services-card__title,
.services .services-onco__inner .services__row .services__card .services-card__title,
.services-onco .services__inner .services__row .services__card .services-card__title,
.services-onco .services-onco__inner .services__row .services__card .services-card__title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: #35ccb1;
  margin-bottom: 10px;
}

.services .services__inner .services__row .services__card .services-card__text,
.services .services-onco__inner .services__row .services__card .services-card__text,
.services-onco .services__inner .services__row .services__card .services-card__text,
.services-onco .services-onco__inner .services__row .services__card .services-card__text {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
}

.services .services__inner .services__row .services__card .services-card__text b,
.services .services-onco__inner .services__row .services__card .services-card__text b,
.services-onco .services__inner .services__row .services__card .services-card__text b,
.services-onco .services-onco__inner .services__row .services__card .services-card__text b {
  display: block;
  margin-bottom: 70px;
}

.services .services__inner .services__row .services__card .services-card__price,
.services .services-onco__inner .services__row .services__card .services-card__price,
.services-onco .services__inner .services__row .services__card .services-card__price,
.services-onco .services-onco__inner .services__row .services__card .services-card__price {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 30px;
}

.services .services__inner .services__row .services__card .services-card__price p:first-child,
.services .services-onco__inner .services__row .services__card .services-card__price p:first-child,
.services-onco .services__inner .services__row .services__card .services-card__price p:first-child,
.services-onco .services-onco__inner .services__row .services__card .services-card__price p:first-child {
  font-weight: 500;
}

.services .services__inner .services__row .services__card .services-card__price p:last-child,
.services .services-onco__inner .services__row .services__card .services-card__price p:last-child,
.services-onco .services__inner .services__row .services__card .services-card__price p:last-child,
.services-onco .services-onco__inner .services__row .services__card .services-card__price p:last-child {
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  color: #35ccb1;
}

.services .services__inner .services__row .services__card .services-card__button,
.services .services-onco__inner .services__row .services__card .services-card__button,
.services-onco .services__inner .services__row .services__card .services-card__button,
.services-onco .services-onco__inner .services__row .services__card .services-card__button {
  display: block;
  text-align: center;
  max-width: 280px;
  margin: 0 auto;
}

.services .services__inner .services__row .services__col,
.services .services-onco__inner .services__row .services__col,
.services-onco .services__inner .services__row .services__col,
.services-onco .services-onco__inner .services__row .services__col {
  min-height: 750px;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services .services__inner .services__row .services__col .services__consultation,
.services .services-onco__inner .services__row .services__col .services__consultation,
.services-onco .services__inner .services__row .services__col .services__consultation,
.services-onco .services-onco__inner .services__row .services__col .services__consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60%;
  background: linear-gradient(150.95deg, #54e2cb 8.63%, #35CCB1 84.35%);
  border-radius: 12px;
  padding: 30px;
  margin-bottom: 20px;
}

.services .services__inner .services__row .services__col .services__consultation .services-consultation__img,
.services .services-onco__inner .services__row .services__col .services__consultation .services-consultation__img,
.services-onco .services__inner .services__row .services__col .services__consultation .services-consultation__img,
.services-onco .services-onco__inner .services__row .services__col .services__consultation .services-consultation__img {
  margin: 40px 0 50px;
}

.services .services__inner .services__row .services__col .services__consultation .services-consultation__img img,
.services .services-onco__inner .services__row .services__col .services__consultation .services-consultation__img img,
.services-onco .services__inner .services__row .services__col .services__consultation .services-consultation__img img,
.services-onco .services-onco__inner .services__row .services__col .services__consultation .services-consultation__img img {
  margin: 0 auto;
}

.services .services__inner .services__row .services__col .services__consultation .services-consultation__title,
.services .services-onco__inner .services__row .services__col .services__consultation .services-consultation__title,
.services-onco .services__inner .services__row .services__col .services__consultation .services-consultation__title,
.services-onco .services-onco__inner .services__row .services__col .services__consultation .services-consultation__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: #fff;
  max-width: 200px;
  margin-bottom: 30px;
}

.services .services__inner .services__row .services__col .services__consultation .services-consultation__button,
.services .services-onco__inner .services__row .services__col .services__consultation .services-consultation__button,
.services-onco .services__inner .services__row .services__col .services__consultation .services-consultation__button,
.services-onco .services-onco__inner .services__row .services__col .services__consultation .services-consultation__button {
  display: block;
  text-align: center;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #fff;
}

.services .services__inner .services__row .services__col .services__pricelist,
.services .services-onco__inner .services__row .services__col .services__pricelist,
.services-onco .services__inner .services__row .services__col .services__pricelist,
.services-onco .services-onco__inner .services__row .services__col .services__pricelist {
  background: #fff;
  border-radius: 12px;
  padding: 30px;
}

.services .services__inner .services__row .services__col .services__pricelist .services-pricelist__img img,
.services .services-onco__inner .services__row .services__col .services__pricelist .services-pricelist__img img,
.services-onco .services__inner .services__row .services__col .services__pricelist .services-pricelist__img img,
.services-onco .services-onco__inner .services__row .services__col .services__pricelist .services-pricelist__img img {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.services .services__inner .services__row .services__col .services__pricelist .services-pricelist__title,
.services .services-onco__inner .services__row .services__col .services__pricelist .services-pricelist__title,
.services-onco .services__inner .services__row .services__col .services__pricelist .services-pricelist__title,
.services-onco .services-onco__inner .services__row .services__col .services__pricelist .services-pricelist__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: #35ccb1;
  margin-bottom: 30px;
}

.services .services__inner .services__row .services__col .services__pricelist .services-pricelist__button,
.services .services-onco__inner .services__row .services__col .services__pricelist .services-pricelist__button,
.services-onco .services__inner .services__row .services__col .services__pricelist .services-pricelist__button,
.services-onco .services-onco__inner .services__row .services__col .services__pricelist .services-pricelist__button {
  display: block;
  text-align: center;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  color: #35ccb1;
  border: 2px solid #35ccb1;
}

.services .services__inner .services__link,
.services .services-onco__inner .services__link,
.services-onco .services__inner .services__link,
.services-onco .services-onco__inner .services__link {
  display: block;
  max-width: 150px;
  font-weight: 700;
  color: #35ccb1;
  text-align: center;
  text-decoration: underline;
  margin: 0 auto;
}

.services-onco {
  background: linear-gradient(94.76deg, rgba(0, 205, 172, 0.5) 23.04%, rgba(2, 170, 176, 0.5) 91.95%);
  opacity: .8;
}

.services-onco::after {
  display: none;
}

.services-onco .services-onco__inner {
  padding: 50px 0 100px;
}

.services-onco .services-onco__inner .services-onco__title {
  color: #fff;
  margin-bottom: 50px;
}

.services-onco .services-onco__inner .services__row::before {
  display: none;
}

.stats {
  position: relative;
}

.stats::after {
  content: '';
  position: absolute;
  top: -150px;
  right: -300px;
  width: 1000px;
  height: 1000px;
  background: url(../img/stats/leaves.png) center no-repeat;
  background-size: cover;
}

.stats .stats__inner .stats__title {
  margin-bottom: 100px;
}

.stats .stats__inner .stats__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 130px;
}

.stats .stats__inner .stats__row .stats__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 515px;
  padding-left: 120px;
  margin-right: 80px;
}

.stats .stats__inner .stats__row .stats__item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -70px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 285px;
  height: 285px;
  background: url(../img/stats/circle.png) center no-repeat;
  background-size: cover;
}

.stats .stats__inner .stats__row .stats__item:last-child {
  margin-right: 0;
}

.stats .stats__inner .stats__row .stats__item .stats-item__title {
  font-size: 36px;
  line-height: 44px;
  color: #55ce7e;
}

.stats .stats__inner .stats__row .stats__item .stats-item__title span {
  font-size: 96px;
  line-height: 117px;
}

.individual .individual__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.individual .individual__inner .individual__img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.individual .individual__inner .individual__img img {
  width: 100%;
  border-radius: 0 12px 12px 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.individual .individual__inner .individual__content {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 530px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.individual .individual__inner .individual__content .individual__title {
  margin-bottom: 40px;
}

.individual .individual__inner .individual__content .individual__text {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 70px;
}

.specialists .specialists__inner .specialists__title {
  max-width: 530px;
  margin-bottom: 70px;
}

.specialists .specialists__inner .specialists__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.specialists .specialists__inner .specialists__row:last-of-type {
  margin-bottom: 40px;
}

.specialists .specialists__inner .specialists__row::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 60%;
  background: #ededed;
  -webkit-filter: blur(100px);
          filter: blur(100px);
  border-radius: 133px;
}

.specialists .specialists__inner .specialists__row .specialists__card {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 570px;
  background: #fff;
  border-radius: 12px;
  padding-top: 50px;
}

.specialists .specialists__inner .specialists__row .specialists__card::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(94.76deg, rgba(0, 205, 172, 0.5) 23.04%, rgba(2, 170, 176, 0.5) 91.95%);
  border-radius: 0 0 12px 12px;
}

.specialists .specialists__inner .specialists__row .specialists__card .specialists-card__img {
  position: absolute;
  bottom: 60px;
}

.specialists .specialists__inner .specialists__row .specialists__card .specialists-card__content {
  margin-left: 350px;
}

.specialists .specialists__inner .specialists__row .specialists__card .specialists-card__content .specialists-card__title {
  margin-bottom: 60px;
}

.specialists .specialists__inner .specialists__row .specialists__card .specialists-card__content .specialists-card__title p {
  font-weight: 700;
}

.specialists .specialists__inner .specialists__row .specialists__card .specialists-card__content .specialists-card__title p:first-child {
  font-size: 36px;
  line-height: 44px;
  color: #35ccb1;
}

.specialists .specialists__inner .specialists__row .specialists__card .specialists-card__content .specialists-card__title p:last-child {
  font-size: 24px;
  line-height: 29px;
}

.specialists .specialists__inner .specialists__row .specialists__card .specialists-card__content .specialists-card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.specialists .specialists__inner .specialists__row .specialists__card .specialists-card__content .specialists-card__list {
  max-width: 420px;
  font-size: 14px;
  line-height: 17px;
  margin-right: 45px;
}

.specialists .specialists__inner .specialists__row .specialists__card .specialists-card__content .specialists-card__list .specialists-card__item {
  position: relative;
  padding-left: 50px;
  margin-bottom: 60px;
}

.specialists .specialists__inner .specialists__row .specialists__card .specialists-card__content .specialists-card__list .specialists-card__item:last-child {
  margin-bottom: 80px;
}

.specialists .specialists__inner .specialists__row .specialists__card .specialists-card__content .specialists-card__list .specialists-card__item::before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  display: block;
  border-radius: 50%;
  background: #fff;
  padding: 10px;
  border: 10px solid rgba(64, 212, 186, 0.5);
}

.specialists .specialists__inner .specialists__row .specialists__col {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-right: 20px;
}

.specialists .specialists__inner .specialists__row .specialists__col:last-child {
  margin-right: 0;
}

.specialists .specialists__inner .specialists__row .specialists__col .specialists__card {
  height: 100%;
}

.specialists .specialists__inner .specialists__row .specialists__col .specialists__card .specialists-card__img {
  width: 40%;
}

.specialists .specialists__inner .specialists__row .specialists__col .specialists__card .specialists-card__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.specialists .specialists__inner .specialists__row .specialists__col .specialists__card .specialists-card__content {
  margin-left: 45%;
}

.specialists .specialists__inner .specialists__row .specialists__col .specialists__card .specialists-card__content .specialists-card__title {
  margin-bottom: 45px;
}

.specialists .specialists__inner .specialists__row .specialists__col .specialists__card .specialists-card__content .specialists-card__list .specialists-card__item {
  padding-left: 40px;
  margin-bottom: 30px;
}

.specialists .specialists__inner .specialists__row .specialists__col .specialists__card .specialists-card__content .specialists-card__list .specialists-card__item:last-child {
  margin-bottom: 80px;
}

.specialists .specialists__inner .specialists__row .specialists__col .specialists__card .specialists-card__content .specialists-card__list .specialists-card__item::before {
  top: -4px;
  background: #fff;
  padding: 6px;
  border: 8px solid rgba(64, 212, 186, 0.5);
}

.specialists .specialists__inner .specialists__link {
  display: block;
  max-width: 200px;
  font-weight: 700;
  color: #35ccb1;
  text-align: center;
  text-decoration: underline;
  margin: 0 auto;
}

.work .work__inner .work__title {
  margin-bottom: 80px;
}

.work .work__inner .work__subtitle {
  font-size: 64px;
  line-height: 78px;
  font-weight: 700;
  color: #35ccb1;
  margin-bottom: 40px;
}

.work .work__inner .work__card {
  padding: 55px 125px;
  border: 1px solid #ededed;
  background: #fff;
  border-bottom: 120px solid #40d4ba;
  border-radius: 12px;
  margin-bottom: 200px;
}

.work .work__inner .work__card .work__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.work .work__inner .work__card .work__row .work__item {
  position: relative;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin-right: 50px;
}

.work .work__inner .work__card .work__row .work__item::after {
  content: '';
  position: absolute;
  top: 40px;
  right: 35px;
  width: 23px;
  height: 15px;
  background: url(../img/work/arrow.svg) center no-repeat;
}

.work .work__inner .work__card .work__row .work__item:last-child {
  margin-right: 0;
}

.work .work__inner .work__card .work__row .work__item:last-child::after {
  display: none;
}

.work .work__inner .work__card .work__row .work__item .work-item__img {
  margin-bottom: 28px;
}

.work .work__inner .work__card .work__row .work__item .work-item__num {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  color: #35ccb1;
  margin-bottom: 10px;
}

.work .work__inner .work__card .work__row .work__item .work-item__text {
  font-weight: 600;
}

.work .work__inner .work__intramural {
  position: relative;
}

.work .work__inner .work__intramural::before, .work .work__inner .work__intramural::after {
  content: '';
  position: absolute;
}

.work .work__inner .work__intramural::before {
  top: -30px;
  right: -420px;
  width: 960px;
  height: 960px;
  background: url(../img/work/circle.png) center no-repeat;
}

.work .work__inner .work__intramural::after {
  top: 30px;
  left: 65%;
  width: 508px;
  height: 940px;
  background: url(../img/work/flower.png) center no-repeat;
}

.work .work__inner .work__extramural {
  position: relative;
}

.work .work__inner .work__extramural::before, .work .work__inner .work__extramural::after {
  content: '';
  position: absolute;
}

.work .work__inner .work__extramural::before {
  top: -30px;
  left: -420px;
  width: 960px;
  height: 960px;
  background: url(../img/work/circle.png) center no-repeat;
}

.work .work__inner .work__extramural::after {
  top: 5%;
  left: -28%;
  width: 1100px;
  height: 1180px;
  background: url(../img/work/branch.png) center no-repeat;
}

.work .work__inner .work__extramural .work__row {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.history .history__inner .history__title {
  margin-bottom: 80px;
}

.history .history__inner .history__card {
  max-width: 690px;
  padding-right: 150px;
}

.history .history__inner .history-card__date {
  position: relative;
  font-size: 72px;
  line-height: 88px;
  font-weight: 700;
  color: #35ccb1;
}

.history .history__inner .history-card__date::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  height: 3px;
  width: 270px;
  background: linear-gradient(150.95deg, #54e2cb 8.63%, #35CCB1 84.35%);
}

.history .history__inner .history-card__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  margin-bottom: 30px;
}

.timeline-container {
  margin: auto auto auto 31%;
}

.timeline-list {
  overflow: visible;
}

.timeline-item {
  width: auto;
  height: auto;
  padding: 0;
  border: 0;
}

.timeline-dots-wrap {
  overflow: visible;
}

.timeline-dots-wrap .timeline-dots {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 70px;
}

.timeline-dots-wrap .timeline-dots li {
  overflow: visible;
  background: transparent;
  margin-right: 70px;
}

.timeline-dots-wrap .timeline-dots li button {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #585858;
  padding-bottom: 40px;
}

.timeline-dots-wrap .timeline-dots li.slide-active button {
  font-size: 36px;
  line-height: 44px;
  color: #35ccb1;
  padding-bottom: 25px;
}

.licenses .licenses__inner .licenses__title {
  margin-bottom: 70px;
}

.licenses .licenses__inner .licenses__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.licenses .licenses__inner .licenses__row .licenses__item {
  position: relative;
}

.licenses .licenses__inner .licenses__row .licenses__item::before, .licenses .licenses__inner .licenses__row .licenses__item::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
}

.licenses .licenses__inner .licenses__row .licenses__item::before {
  left: 0;
  border-top: 2px solid #35ccb1;
  border-left: 2px solid #35ccb1;
}

.licenses .licenses__inner .licenses__row .licenses__item::after {
  right: 0;
  border-top: 2px solid #35ccb1;
  border-right: 2px solid #35ccb1;
}

.licenses .licenses__inner .licenses__row .licenses__item .licenses__border {
  position: relative;
}

.licenses .licenses__inner .licenses__row .licenses__item .licenses__border::before, .licenses .licenses__inner .licenses__row .licenses__item .licenses__border::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
}

.licenses .licenses__inner .licenses__row .licenses__item .licenses__border::before {
  left: 0;
  border-bottom: 2px solid #35ccb1;
  border-left: 2px solid #35ccb1;
}

.licenses .licenses__inner .licenses__row .licenses__item .licenses__border::after {
  right: 0;
  border-bottom: 2px solid #35ccb1;
  border-right: 2px solid #35ccb1;
}

.licenses .licenses__inner .licenses__row .licenses__item .licenses__border .licenses__img {
  padding: 15px;
}

.licenses .licenses__inner .licenses__link {
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
  color: #35ccb1;
  display: block;
  max-width: 300px;
  margin: 0 auto;
}

.reviews {
  background: linear-gradient(94.76deg, rgba(0, 205, 172, 0.5) 23.04%, rgba(2, 170, 176, 0.5) 91.95%);
  padding: 60px 0;
}

.reviews .reviews__inner {
  position: relative;
}

.reviews .reviews__inner .reviews__title {
  color: #fff;
  margin-bottom: 60px;
}

.reviews .reviews__inner .reviews__arrows {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews .reviews__inner .reviews__arrows .reviews-arrows__left,
.reviews .reviews__inner .reviews__arrows .reviews-arrows__right {
  font-size: 45px;
  color: #45c6c7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.reviews .reviews__inner .reviews__arrows .reviews-arrows__left {
  position: absolute;
  top: 0;
  right: 100px;
}

.reviews .reviews__inner .reviews__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
}

.reviews .reviews__inner .reviews__row .reviews__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 560px;
  min-height: 415px;
  background: #fff;
  border-radius: 12px;
  padding: 55px 40px;
  margin-right: 20px;
}

.reviews .reviews__inner .reviews__row .reviews__item::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  width: 95%;
  height: 95%;
  border: 1px solid #ededed;
  border-radius: 10px;
}

.reviews .reviews__inner .reviews__row .reviews__item:last-child {
  margin-right: 0;
}

.reviews .reviews__inner .reviews__row .reviews__item .reviews-item__name {
  font-size: 24px;
  font-weight: 29px;
  font-weight: 700;
  color: #35ccb1;
}

.reviews .reviews__inner .reviews__row .reviews__item .reviews-item__city {
  font-weight: 500;
  margin-bottom: 40px;
}

.reviews .reviews__inner .reviews__row .reviews__item .reviews-item__text {
  font-size: 14px;
  line-height: 17px;
}

.slick-list {
  overflow: visible;
}

.slick-arrow {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  height: 0;
}

.production {
  margin-bottom: 400px;
}

.production .production__inner {
  position: relative;
}

.production .production__inner::before {
  content: '';
  position: absolute;
  top: 160px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 380px;
  background: #ededed;
  -webkit-filter: blur(100px);
  filter: blur(100px);
  border-radius: 133px;
}

.production .production__inner .production__title {
  font-weight: 700;
  max-width: 550px;
  margin-bottom: 70px;
}

.production .production__inner .production__arrows {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 45px;
}

.production .production__inner .production__arrows .production-arrows__left,
.production .production__inner .production__arrows .production-arrows__right {
  color: #35ccb1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #ededed;
  cursor: pointer;
}

.production .production__inner .production__arrows .production-arrows__left {
  position: absolute;
  top: 0;
  right: 100px;
}

.production .production__inner .production__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
}

.production .production__inner .production__row .production__item {
  position: relative;
  max-width: 850px;
  background: #fff;
  border-radius: 12px;
  padding: 50px;
  margin-right: 20px;
}

.production .production__inner .production__row .production__item:last-child {
  margin-right: 0;
}

.production .production__inner .production__row .production__item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border-radius: 0 0 12px 12px;
  background: linear-gradient(94.76deg, rgba(0, 205, 172, 0.5) 23.04%, rgba(2, 170, 176, 0.5) 91.95%);
}

.production .production__inner .production__row .production__item .production-item__title {
  max-width: 520px;
  margin-bottom: 30px;
}

.production .production__inner .production__row .production__item .production-item__img {
  margin-bottom: 45px;
}

.production .production__inner .production__row .production__item .production-item__text {
  margin-bottom: 50px;
}

.production .production__inner .production__row .production__item .production-item__button {
  margin-bottom: 50px;
}

.footer {
  background: url(../img/footer/bg.jpg) bottom no-repeat;
}

.footer .footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateY(-150px);
          transform: translateY(-150px);
}

.footer .footer__inner .footer__contacts {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  max-width: 415px;
  background: #fff;
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  padding: 50px;
}

.footer .footer__inner .footer__contacts::before, .footer .footer__inner .footer__contacts::after {
  content: '';
  position: absolute;
}

.footer .footer__inner .footer__contacts::before {
  top: 20px;
  left: 20px;
  z-index: 3;
  width: 90%;
  height: 92%;
  border: 1px solid #ededed;
  border-radius: 12px;
}

.footer .footer__inner .footer__contacts::after {
  bottom: 0px;
  left: 20px;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  width: 90%;
  height: 20px;
  background: #e7e7e7;
  border-radius: 0 0 12px 12px;
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

.footer .footer__inner .footer__contacts .footer__title {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  color: #40d4ba;
  margin-bottom: 40px;
}

.footer .footer__inner .footer__contacts .footer__subtitle {
  font-weight: 600;
  margin-bottom: 40px;
}

.footer .footer__inner .footer__contacts .contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.footer .footer__inner .footer__contacts .contacts__item .fas {
  font-size: 30px;
  color: #35ccb1;
  margin-right: 20px;
}

.footer .footer__inner .footer__contacts .contacts__item:nth-of-type(2) {
  margin-bottom: 60px;
}

.footer .footer__inner .footer__contacts .contacts__item:nth-of-type(2) .fas {
  font-size: 24px;
}

.footer .footer__inner .footer__contacts .contacts__item:last-child {
  margin-bottom: 60px;
}

.footer .footer__inner .footer__contacts .contacts__button {
  max-width: 310px;
  margin-bottom: 15px;
}

.footer .footer__inner .footer__contacts .contacts__link {
  font-weight: 700;
  color: #35ccb1;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.footer .footer__inner .footer__map {
  width: 100%;
}
