@import 'normalize.scss';

$hl-clr: #ff8b38; // Highlighting color

html,
body {
	font-family: 'Open Sans', sans-serif;
	// overflow-x: hidden;
}

// Container

.container {
	width: 100%;
	max-width: 1140px;
	padding: 0 15px;
	margin: 0 auto;
}

// Header

.header {
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	background: #000;
	height: 70px;
	border-bottom: 1px solid #fff;
	&-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&-logo {
			width: 77px;
			height: 27px;
		}
	}
}

// Nav

.nav {
	&-inner {
		display: flex;
		justify-content: space-between;
		&__item {
			color: #fff;
			margin-right: 50px;
			transition: color .2s linear;
			&:last-child {
				margin-right: 0;
			}
			&:hover {
				color: $hl-clr;
			}
		}
	}
}

// Button

.button {
	width: 135px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	color: #fff;
	text-align: center;
	transition: background .2s linear;
	&_white {
		border: 1px solid #fff;
		background: transparent;
		&:hover {
			background: rgba(255, 255, 255, .2);
		}
	}
	&_orange {
		background: $hl-clr;
		border-radius: 4px;
		&:hover {
			background: darken($hl-clr, 15%);
		}
	}
}

// Section

.section {
	padding: 100px 0;
	@media screen and (max-width: 768px) {
		padding: 75px 0;
	}
	@media screen and (max-width: 425px) {
		padding: 50px 0;
	}
	&__title {
		font-family: 'Raleway', sans-serif;
		position: relative;
		font-size: 36px;
		font-weight: 400;
		color: #212121;
		text-align: center;
		text-transform: uppercase;
		padding-bottom: 30px;
		margin-bottom: 30px;
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 64px;
			height: 2px;
		}
	}
	&__title_mini {
		position: relative;
		font-size: 20px;
		color: #212121;
		font-weight: 700;
		padding-bottom: 25px;
		margin-bottom: 25px;
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 60px;
			height: 2px;
			background: $hl-clr;
		}
	}
	&__subtitle {
		font-family: 'Raleway', sans-serif;
		text-align: center;
		font-weight: 300;
		font-size: 16px;
		margin-bottom: 30px;
	}
	&__subtitle_mini {
		color: #86878b;
		text-align: center;
		margin-bottom: 80px;
		@media screen and (max-width: 1024px) {
			margin-bottom: 65px;
		}
		@media screen and (max-width: 768px) {
			margin-bottom: 50px;
		}
		@media screen and (max-width: 425px) {
			margin-bottom: 35px;
		}
		p {
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__subtitle_left {
		text-align: left;
	}
	&_light {
		.section__title {
			color: #fff;
			&:after {
				background: #fff;
			}
		}
		.section__subtitle {
			color: #fff;
		}
	}
	&_dark {
		.section__title {
			color: #000;
			&:after {
				background: $hl-clr;
			}
		}
		.section__subtitle {
			color: #000;
		}
	}
	&_grey {
		background: #f5f5f5;
	}
}

// Intro

.intro {
	background: #2d2d2d url(../img/intro/bg.jpg) center no-repeat;
	background-size: cover;
	min-height: 100vh;
	&-inner {
		padding-top: 12vh;
		display: flex;
		justify-content: space-between;
		@media screen and (max-width: 900px) {
			flex-direction: column;
			padding-top: 2vh;
		}
		&-content {
			flex-basis: 50%;
			@media screen and (max-width: 900px) {
				margin-bottom: 4vh;
			}
			&__logo {
				margin-bottom: 4vh;
				@media screen and (max-width: 900px) {
					display: flex;
					justify-content: center;
				}
			}
			&__title {
				margin-bottom: 5vh;
				text-align: left;
				@media screen and (max-width: 900px) {
					text-align: center;
				}
			}
			.section__title {
				&:after {
					left: 0;
					transform: translateX(0);
					@media screen and (max-width: 900px) {
						left: 50%;
						transform: translateX(-50%);
					}
				}
			}
			&__subtitle {
				margin-bottom: 5vh;
				text-align: left;
				@media screen and (max-width: 900px) {
					text-align: center;
				}
			}
			&__button {
				@media screen and (max-width: 900px) {
					margin: 0 auto;
				}
			}
		}
		&-form {
			width: 360px;
			height: 360px;
			background: #fff;
			border-radius: 4px;
			@media screen and (max-width: 900px) {
				margin: 0 auto;
			}
			@media screen and (max-width: 425px) {
				width: 90%;
			}
			&__header {
				font-size: 20px;
				font-weight: 700;
				text-align: center;
				padding: 20px 0;
				background: #f5f5f5;
				border-radius: 4px 4px 0 0;
				margin-bottom: 16px;
				span {
					color: $hl-clr;
				}
				@media screen and (max-width: 425px) {
					font-size: 18px;
				}
			}
			&__input,
			&__button {
				margin: 0 auto;
			}
			&__input {
				display: block;
				width: 80%;
				margin-bottom: 35px;
			}
			&__button {
				width: 100%;
				border-radius: 0 0 4px 4px;
				padding: 25px 0;
			}
		}
	}
}

// Form

.form {
	&__input,
	&__textarea {
		background: transparent;
		padding: 10px;
		border-bottom: 1px solid #d6d6d6;
		resize: none;
		&::placeholder {
			color: #bdbdbd;
		}
	}
	&__button {}
}

// Social

.social {
	padding: 25px 0;
	border-bottom: 2px solid #b7b7b7;
	&-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media screen and (max-width: 1024px) {
			flex-direction: column;
		}
		&-content {
			flex-basis: 35%;
			margin-right: 65px;
			@media screen and (max-width: 1024px) {
				margin-right: 0;
				margin-bottom: 30px;
				text-align: center;
			}
			&__title {
				font-size: 20px;
				font-weight: 700;
				color: #333;
			}
			&__text {
				color: #86878b;
			}
		}
		&-list {
			display: flex;
			justify-content: space-between;
			@media screen and (max-width: 425px) {
				flex-wrap: wrap;
				justify-content: center;
			}
			&__item {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 40px;
				color: #ccc;
				margin-right: 65px;
				transition: transform .2s linear;
				&:last-child {
					margin-right: 0;
					padding-right: 0;
				}
				&:hover {
					transform: scale(1.15);
				}
				@media screen and (max-width: 1024px) {
					margin-right: 4vw;
				}
				@media screen and (max-width: 560px) {
					font-size: 30px;
				}
				@media screen and (max-width: 425px) {
					width: 33%;
					margin-right: 0;
					margin-bottom: 15px;
					font-size: 40px;
				}
			}
		}
	}
}

// Tabs

.tabs {
	&-inner {
		display: flex;
		justify-content: space-between;
		@media screen and (max-width: 880px) {
			flex-direction: column;
			max-width: 95%;
		}
		&-switches {
			flex-basis: 20%;
			@media screen and (max-width: 880px) {
				display: flex;
				margin-bottom: 30px;
			}
			&-item {
				width: 110px;
				height: 110px;
				background: #333;
				font-size: 15px;
				font-weight: 700;
				color: #fff;
				text-transform: uppercase;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 1px;
				transition: background .2s linear;
				@media screen and (max-width: 880px) {
					width: 33.333%;
					height: 50px;
					margin-bottom: 0;
					margin-right: 1px;
				}
				&:first-child {
					border-radius: 4px 4px 0 0;
					@media screen and (max-width: 880px) {
						border-radius: 4px 0 0 4px;
					}
				}
				&:last-child {
					border-radius: 0 0 4px 4px;
					@media screen and (max-width: 880px) {
						border-radius: 0 4px 4px 0;
					}
				}
				&:hover {
					cursor: pointer;
				}
				&_active {
					background: $hl-clr;
				}
			}
		}
		&-content {
			flex-basis: 50%;
			padding-right: 75px;
			@media screen and (max-width: 880px) {
				text-align: center;
				padding-right: 0;
				margin-bottom: 30px;
			}
			&__title {}
			.section__title_mini {
				@media screen and (max-width: 880px) {
						padding-bottom: 15px;
						margin-bottom: 15px;
					}
				&:after {
					height: 0;
				}
			}
			.section__subtitle_mini {
				p {
					@media screen and (max-width: 880px) {
						margin-bottom: 15px;
					}
				}
			}
			&-item {
				display: none;
				&__text {
					margin-bottom: 30px;
					@media screen and (max-width: 880px) {
						text-align: center;
					}
				}
				&__button {
					@media screen and (max-width: 880px) {
						margin: 0 auto;
					}
				}
				&_active {
					display: block;
				}
			}
		}
		&-img {
			flex-basis: 30%;
			@media screen and (max-width: 425px) {
				display: none;
			}
			img {
				margin: 0 auto;
			}
		}
	}
}

// Picture

.picture {
	&-inner {
		display: flex;
		justify-content: space-between;
		@media screen and (max-width: 768px) {
			flex-direction: column;
		}
		&-img {
			flex-basis: 50%;
			@media screen and (max-width: 768px) {
				margin: 0 auto;
			}
			img {}
		}
		&-content {
			flex-basis: 40%;
			@media screen and (max-width: 1024px) {
				flex-basis: 50%;
			}
			&__title {}
			.section__title_mini {
				@media screen and (max-width: 768px) {
					text-align: center;
				}
				&:after {
					@media screen and (max-width: 768px) {
						left: 50%;
						transform: translateX(-50%);
					}
				}
			}
			&__text {
				margin-bottom: 50px;
				@media screen and (max-width: 1024px) {
					margin-bottom: 25px;
				}
			}
			&-list {
				&-item {
					position: relative;
					color: #86878b;
					margin-bottom: 40px;
					padding-left: 70px;
					@media screen and (max-width: 1024px) {
						margin-bottom: 20px;
					}
					&__title {
						font-weight: 700;
						color: #000;
					}
					&__text {}
					&:before {
						content: '';
						position: absolute;
						top: 50%;
						left: 0;
						transform: translateY(-50%);
						width: 40px;
						height: 40px;
						background: url(../img/picture/dot.png);
					}
				}
			}
		}
	}
}

// Features

.features {
	&-inner {
		&-row {
			display: flex;
			justify-content: space-between;
			@media screen and (max-width: 650px) {
				flex-direction: column;
			}
			&-item {
				flex-basis: 31%;
				&__img {
					margin-bottom: 20px;
					img {
						margin: 0 auto;
					}
				}
				&__title {
					color: #333;
					text-align: center;
				}
				&__text {}
				.section__title_mini {
					padding-bottom: 0;
					margin-bottom: 20px;
					&:after {
						height: 0;
					}
				}
			}
		}
	}
}

// Pricing

.pricing {
	&-inner {
		&-row {
			display: flex;
			justify-content: space-between;
			min-width: 0;
			transform: translateY(33px);
			&-item {
				text-align: center;
				width: 350px;
				@media screen and (max-width:380px) {
					width: 95%;
				}
				&-header {
					color: #fff;
					font-weight: 700;
					background: #333;
					border-bottom: 5px solid $hl-clr;
					&__type {
						border-bottom: 1px solid #f5f5f5;
						font-size: 20px;
						padding: 10px 0;
					}
					&__price {
						font-family: 'Raleway', sans-serif;
						font-size: 94px;
						font-weight: 700;
						line-height: 1.2;
						span {
							font-size: 35px;
						}
					}
					&__period {
						color: #86878b;
						font-style: italic;
						margin: 10px 0;
					}
					&__popular {
						text-transform: uppercase;
						background: $hl-clr;
						padding: 8px 0 3px;
					}
				}
				&-body {
					background: #fff;
					color: #86878b;
					text-transform: uppercase;
					&__item {
						padding: 10px 0;
						border-bottom: 1px solid #f5f5f5;
						&:last-child {
							border-bottom: none;
						}
					}
				}
				&:nth-child(2) {
					transform: translateY(-33px);
				}
			}
		}
	}
}

// Reviws

.reviews {
	&-inner {
		&-row {
			display: flex;
			justify-content: space-between;
			@media screen and (max-width: 1024px) {
				flex-direction: column;
			}
			&-item {
				flex-basis: 25%;
				@media screen and (max-width: 1024px) {
					margin: 0 auto 60px;
					width: 75%;
				}
				@media screen and (max-width: 768px) {
					margin-bottom: 45px;
				}
				@media screen and (max-width: 425px) {
					margin-bottom: 30px;
				}
				&__comment {
					position: relative;
					color: #86878b;
					font-style: italic;
					background: #f5f5f5;
					border-radius: 4px;
					padding: 20px 15px;
					margin-bottom: 25px;
					&:after {
						content: '';
						position: absolute;
						width: 18px;
						height: 18px;
						background: #f5f5f5;
						left: 26px;
						bottom: -18px;
						transform: translateY(-50%) rotate(45deg);
					}
				}
				&-customer {
					display: flex;
					align-items: center;
					&__img {
						width: 70px;
						height: 70px;
						margin-right: 15px;
						img {
							width: 100%;
							height: 100%;
							border-radius: 50%;
							object-fit: cover;
						}
					}
					&-data {
						&__name {
							font-size: 20px;
							font-weight: 700;
							color: #333;
						}
						&__profession {
							color: #86878b;
						}
					}
				}
			}
		}
	}
}

// Custom

.custom {
	position: relative;
	background: url(../img/custom/bg.jpg) center no-repeat;
	background-size: cover;
	z-index: 1;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, .6);
		z-index: -1;
	}
	&-inner {
		&__button {
			margin: 0 auto;
		}
	}
}

// Contact

.contact {
	&-inner {
		&-form {
			&-inner {
				display: flex;
				justify-content: space-between;
				margin-bottom: 40px;
				@media screen and (max-width: 600px) {
					flex-direction: column;
				}
				&-data {
					flex-basis: 47%;
					&__input {
						width: 100%;
						margin-bottom: 30px;
						&:last-child {
							margin-bottom: 0;
							@media screen and (max-width: 600px) {
								margin-bottom: 30px;
							}
						}
					}
				}
				&-message {
					flex-basis: 47%;
					&__textarea {
						width: 100%;
						height: 100%;
						@media screen and (max-width: 600px) {
							height: 100px;
						}
					}
				}
			}
			&__button {
				margin: 0 auto;
			}
		}
	}
}

// Footer

.footer {
	background: #000;
	padding: 15px 0;
	color: #ccc;
	text-align: center;
	&-inner {
		&-social {
			display: flex;
			justify-content: center;
			margin-bottom: 5px;
			&__item {
				font-size: 20px;
				color: inherit;
				margin-right: 30px;
				@media screen and (max-width: 425px) {
					font-size: 25px;
					margin-right: 5%;
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}
		&-copyright {
			font-size: 12px;
		}
	}
}

// Carousel

@media screen and (max-width: 1170px) {
	.pricing-inner-row-item {
		margin: 0 auto;
	}
}

// @media screen and (max-width: 1024px) {
// 	.social-inner-list__item {
// 		// margin: 0 auto;
// 	}
// }



.owl-carousel.owl-theme {
	.owl-dots {
		.owl-dot.active span {
			background: #333;
		}
		.owl-dot span {
			background: #ccc;
		}
	}
	.owl-nav {
		.owl-prev,
		.owl-next {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			color: $hl-clr;
			span {
				font-size: 40px;
				color: #333;
			}
		}
		.owl-prev {
			left: 15%;
			@media screen and (max-width: 620px) {
				left: 10%;
			}
			@media screen and (max-width: 540px) {
				left: 5%;
			}
			@media screen and (max-width: 480px) {
				left: 0;
			}
		}
		.owl-next {
			right: 15%;
			@media screen and (max-width: 620px) {
				right: 10%;
			}
			@media screen and (max-width: 540px) {
				right: 5%;
			}
			@media screen and (max-width: 480px) {
				right: 0;
			}
		}
		[class*=owl-]:hover {
			background: transparent;
			color: #333;
		}
	}
}

// .social-inner-list.owl-carousel.owl-theme .owl-nav {
// 	.owl-prev,
// 	.owl-next {
// 		top: 0;
// 		transform: translateY(0);
// 	}
// 	.owl-prev {
// 		left: 5%;
// 	}
// 	.owl-next {
// 		right: 5%;
// 	}
// }