@import 'normalize'

$bg: #ffeefe
$gradient: linear-gradient(135deg, #ed81e5 0%, #a857a2 100%)
$primary: #a857a2
$secondary: #5eb304
$text: #6d4b4f

@mixin gradientText ()
  background: $gradient
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

html, body
  font-family: 'Montserrat', sans-serif
  font-size: 18px
  color: $text
  overflow-x: hidden
  @media screen and ( max-width: 425px )
    font-size: 14px

.lock
  overflow: hidden

h1, h2, h3, h4, h5, h6
  line-height: 1.4

.container
  width: 100%
  max-width: 1460px
  padding: 0 15px
  margin: 0 auto

.button
  display: inline-block
  font-size: 24px
  line-height: 1.2
  font-weight: 600
  color: #fff
  text-align: center
  min-width: 415px
  padding: 25px 75px
  background: $gradient
  border-radius: 43.5px
  text-shadow: 0 4px 4px rgba(#000, .25)
  @media screen and ( max-width: 445px )
    min-width: 100%
  @media screen and ( max-width: 425px )
    font-size: 20px
    padding: 25px 50px

.section
  margin-bottom: 200px
  @media screen and ( max-width: 768px )
    margin-bottom: 150px
  @media screen and ( max-width: 425px )
    margin-bottom: 100px
  .section__title
    font-size: 48px
    line-height: 1.2
    text-align: center
    margin-bottom: 40px
    @media screen and ( max-width: 425px )
      font-size: 36px
    span
      font-size: 64px
      color: $primary
      @media screen and ( max-width: 425px )
        font-size: 48px
  .section__subtitle
    font-size: 18px
    font-weight: 500

// Header

.header
  display: flex
  justify-content: space-between
  align-items: center
  padding: 20px 0
  .header__logo
    @media screen and ( max-width: 768px )
      display: none
    img
  .nav
    .nav__burger
      position: relative
      left: 33px
      z-index: 2000
      display: none
      width: 30px
      height: 30px
      @media screen and ( max-width: 1350px )
        display: block
      @media screen and ( max-width: 768px )
        left: 0
      span
        top: 50%
      span,
      span::before,
      span::after
        content: ''
        position: absolute
        width: 100%
        height: 3px
        background: $primary
        transition: transform .2s
      span::before
        margin-top: -8px
      span::after
        margin-top: 8px
      &_active
        span
          height: 0
        span::before
          margin: 0
          transform: rotate(45deg)
        span::after
          margin: 0
          transform: rotate(-45deg)
    .nav__inner
      display: flex
      @media screen and ( max-width: 1350px )
        flex-direction: column
        justify-content: center
        position: fixed
        top: 0
        left: 0
        z-index: 1000
        width: 104vw
        height: 105vh
        background: $bg
        text-align: center
        transform: translateY(-110vh)
        transition: transform .4s
        &_active
          transform: translateY(0)
      .nav__logo
        display: none
        @media screen and ( max-width: 1350px )
          display: block
          margin: 0 auto 30px
          transform: translateX(-10px)
      .nav__item
        color: $text
        margin-right: 100px
        @media screen and ( max-width: 1350px )
          font-size: 36px
          font-weight: 700
          color: $primary
          margin-right: 0
          margin-bottom: 20px
          transform: translateX(-10px)
        &:last-child
          margin-right: 0
  .header__phone
    position: relative
    font-weight: 500
    white-space: nowrap
    border: 1px solid $primary
    border-radius: 30px
    padding: 10px 70px 10px 30px
    @media screen and ( max-width: 350px )
      border: 0
      padding: 0
    &::after
      content: ''
      position: absolute
      top: 50%
      right: 0
      transform: translateY(-50%)
      width: 57px
      height: 57px
      border-radius: 50%
      background: url(../img/intro/phone.svg) center no-repeat
      @media screen and ( max-width: 350px )
        display: none

// Intro

.intro
  position: relative
  min-height: 100vh
  background: $bg
  .intro__inner
    display: flex
    justify-content: space-between
    margin-top: 20vh
    @media screen and ( max-width: 1250px )
      flex-direction: column
    @media screen and ( max-width: 620px )
      margin-top: 10vh
    @media screen and ( max-width: 425px )
      margin-top: 5vh
    @media screen and ( max-width: 320px )
      margin-top: 0
    .intro__content
      flex-basis: 40%
      max-width: 570px
      @media screen and ( max-width: 1250px )
        flex-basis: 100%
        max-width: 800px
        margin: 0 auto
      .intro__title
        font-size: 36px
        margin-bottom: 1vh
        @media screen and ( max-width: 425px )
          font-size: 32px
        span
          @include gradientText ()
      .intro__text
        margin-bottom: 2vh
      .intro__subtitle
        font-size: 36px
        margin-bottom: 4vh
        @media screen and ( max-width: 425px )
          font-size: 32px
        span
          @include gradientText ()
      .intro__button
        @media screen and ( max-width: 1250px )
          display: block
          max-width: 415px
          margin: 0 auto
      .intro__scroll
        position: absolute
        font-size: 14px
        line-height: 1.2
        font-weight: 500
        color: $primary
        transform: rotate(-90deg) translateX(100px) translateY(-50px)
        @media screen and ( max-height: 895px )
          display: none
        &::before
          content: ''
          position: absolute
          top: 0
          left: -30px
          display: block
          width: 15px
          height: 15px
          border-top: 2px solid $primary
          border-left: 2px solid $primary
          transform: rotate(-45deg)
          animation: arrow 1.2s infinite
    .intro__img
      flex-basis: 60%
      transform: translateY(-100px)
      @media screen and ( max-width: 1250px )
        display: none
      img
        object-fit: cover

@keyframes arrow
  0%
    left: -30px
  50%
    left: -20px
  100%
    left: -30px

// Stats

.stats
  padding: 100px 0
  @media screen and ( max-width: 425px )
    padding: 75px 0
  .container
    max-width: 1550px
    .stats__inner
      display: flex
      justify-content: space-between
      align-items: center
      flex-wrap: wrap
      @media screen and ( max-width: 1440px )
        flex-direction: column
      .stats__content
        flex-basis: 35%
        @media screen and ( max-width: 1440px )
          flex-basis: 100%
          margin-bottom: 50px
        .stats__suptitle
          font-size: 36px
          font-weight: 700
          color: $text
          @media screen and ( max-width: 425px )
            font-size: 30px
        .stats__title
          font-size: 288px
          line-height: 210px
          @include gradientText ()
          margin-bottom: 15px
          @media screen and ( max-width: 1024px )
            font-size: 180px
            line-height: 1
          @media screen and ( max-width: 640px )
            font-size: 140px
          @media screen and ( max-width: 640px )
            font-size: 100px
          @media screen and ( max-width: 360px )
            font-size: 80px
        .stats__text
          font-size: 24px
          line-height: 1.2
          @media screen and ( max-width: 425px )
            font-size: 18px
      .stats__list
        flex-basis: 58%
        @media screen and ( max-width: 1440px )
          flex-basis: 100%
        .stats-list__item
          position: relative
          display: flex
          align-items: center
          margin-bottom: 50px
          &:last-child
            margin-bottom: 0
          .stats-list__img
            display: flex
            justify-content: center
            align-items: center
            border: 1px solid $primary
            border-radius: 50%
            min-width: 120px
            height: 120px
            margin-right: 40px
            @media screen and ( max-width: 768px )
              min-width: 80px
              height: 80px
              img
                width: 40px
                height: 40px
            @media screen and ( max-width: 425px )
              min-width: 50px
              height: 50px
              margin-right: 20px
              img
                width: 25px
                height: 25px
          .stats-list__num
            position: absolute
            top: 5px
            left: 160px
            font-size: 100px
            line-height: 1
            font-weight: 700
            opacity: .15
            @media screen and ( max-width: 425px )
              display: none
          .stats-list__text
            font-size: 36px
            line-height: 1
            font-weight: 700
            @media screen and ( max-width: 768px )
              font-size: 28px
            @media screen and ( max-width: 375px )
              font-size: 22px

// Free

.free
  display: flex
  justify-content: center
  align-items: center
  background: $bg
  margin-bottom: 120px
  @media screen and ( max-width: 900px )
    flex-direction: column
  .free__content
    flex-basis: 50%
    text-align: right
    padding-left: 15px
    margin-right: 80px
    @media screen and ( max-width: 1440px )
      margin-right: 40px
    @media screen and ( max-width: 900px )
      flex-basis: 100%
      text-align: center
      padding: 50px 15px
      margin-right: 0
    .free__title
      max-width: 530px
      margin-left: auto
      margin-bottom: 50px
      @media screen and ( max-width: 900px )
        margin-bottom: 25px
      span
        color: $primary
    .free__button
  .free__img
    flex-basis: 50%
    @media screen and ( max-width: 900px )
      flex-basis: 100%
    img
      width: 50vw
      object-fit: cover
      border-radius: 30px 0px 0px 30px
      @media screen and ( max-width: 900px )
        width: 100vw
        border-radius: 0

// Block
.block
  margin-bottom: 120px
  .block__inner
    display: flex
    justify-content: center
    align-items: center
    @media screen and ( max-width: 1200px )
      flex-direction: column
    .block__img
      flex-basis: 50%
      img
        margin: auto
    .block__content
      flex-basis: 50%
      @media screen and ( max-width: 1200px )
        text-align: center
      .block__title
        font-size: 96px
        @include gradientText ()
        @media screen and ( max-width: 630px )
          font-size: 72px
        @media screen and ( max-width: 375px )
          font-size: 60px
      .block__text
        font-size: 48px
        line-height: 1.2
        font-weight: 700
        max-width: 620px
        @media screen and ( max-width: 630px )
          font-size: 36px
        @media screen and ( max-width: 425px )
          font-size: 24px

// Ages

.ages
  margin-bottom: 100px
  @media screen and ( max-width: 900px )
    margin-bottom: 200px
  @media screen and ( max-width: 425px )
    margin-bottom: 150px
  .ages__inner
    .ages__title
    .ages__slider
      position: relative
      display: flex
      min-width: 0
      .ages-slider__item
        flex-basis: 33.333%
        text-align: center
        transform: scale(.5)
        transition: .2s
        .ages-slider__img
          margin-bottom: 50px
          @media screen and ( max-width: 900px )
            margin-bottom: 25px
          img
            opacity: .5
            border-radius: 20px
            object-fit: cover
            transition: .2s
            @media screen and ( max-width: 900px )
              margin: 0 auto
        .ages-slider__title
          font-size: 36px
          line-height: 1.2
          color: $primary
          margin-bottom: 20px
          @media screen and ( max-width: 1100px )
            font-size: 24px
          @media screen and ( max-width: 900px )
            margin-bottom: 10px
        .ages-slider__text
          opacity: 0
          transition: .2s
          @media screen and ( max-width: 1100px )
            font-size: 14px
      .slick-center
        transform: scale(1)
        .ages-slider__img
          img
            opacity: 1
        .ages-slider__text
          opacity: 1
      .slick-arrow
        position: absolute
        top: 30%
        z-index: 10
        background: 0
        border: 0
        font-size: 0
        display: block
        width: 30px
        height: 30px
        border-top: 3px solid $primary
        border-left: 3px solid $primary
        opacity: .5
        @media screen and ( max-width: 900px )
          top: 105%
      .slick-prev
        left: 30%
        transform: rotate(-45deg)
      .slick-next
        right: 30%
        transform: rotate(135deg)

// Minuses

.minuses
  margin-bottom: 100px
  .minuses__inner
    display: flex
    align-items: center
    .minuses__img
      flex-basis: 33.333%
      margin-right: 100px
      @media screen and ( max-width: 1024px )
        display: none
      img
        object-fit: cover
    .minuses__content
      flex-basis: 66.666%
      display: flex
      justify-content: space-between
      flex-wrap: wrap
      @media screen and ( max-width: 1024px )
        flex-basis: 100%
      .minuses__row
        flex-basis: 100%
        display: flex
        @media screen and ( max-width: 900px )
          flex-wrap: wrap
        .minuses__item
          position: relative
          flex-basis: 50%
          margin-right: 75px
          margin-bottom: 100px
          @media screen and ( max-width: 1024px )
            padding-left: 75px
          @media screen and ( max-width: 900px )
            flex-basis: 100%
            margin-right: 0
          @media screen and ( max-width: 375px )
            margin-bottom: 75px
          @media screen and ( max-width: 320px )
            margin-bottom: 50px
          &::before
            content: ''
            position: absolute
            top: 15px
            left: -50px
            width: 100%
            height: 150px
            border: 4px solid rgba($text, .1)
            border-radius: 75px
            @media screen and ( max-width: 1024px )
              left: 0
            @media screen and ( max-width: 550px )
              height: 120px
            @media screen and ( max-width: 375px )
              height: 80px
          &:last-child
            margin-right: 0
          .minuses-item__title
            position: relative
            font-size: 36px
            line-height: 1
            max-width: 400px
            margin-bottom: 20px
            @media screen and ( max-width: 550px )
              font-size: 30px
            @media screen and ( max-width: 550px )
              font-size: 24px
            @media screen and ( max-width: 375px )
              margin-bottom: 10px
            &::before
              content: ''
              position: absolute
              top: 50%
              left: -65px
              transform: translateY(-50%)
              display: block
              width: 45px
              height: 45px
              border-radius: 50%
              background: url(../img/minuses/minus.svg) center no-repeat
          .minuses-item__text
            font-size: 24px
            line-height: 1.2
            @media screen and ( max-width: 550px )
              font-size: 18px

// Result

.result
  @media screen and ( max-width: 1024px )
    margin-bottom: 100px
  .result__inner
    .result__title
      max-width: 930px
      margin: 0 auto 40px
      @media screen and ( max-width: 425px )
        margin-bottom: 20px
    .result__subtitle
      text-align: center
      max-width: 810px
      margin: 0 auto 80px
      @media screen and ( max-width: 425px )
        margin-bottom: 40px
    .result__slider
      display: flex
      min-width: 0
      .result-slider__item
        flex-basis: 16.666%
        opacity: .5
        transition: opacity .2s
        .result-slider__img
          position: relative
          margin-bottom: 50px
          @media screen and ( max-width: 425px )
            margin-bottom: 35px
          img
            object-fit: cover
          &::after
            content: ''
            position: absolute
            bottom: -30px
            left: 37%
            display: block
            width: 60px
            height: 60px
            border-radius: 50%
            background: url(../img/result/circle.svg) center no-repeat
            background-size: cover
            opacity: 0
            transform: translateY(50px)
            transition: opacity .6s, transform .6s
            @media screen and ( max-width: 425px )
              left: 17%
        .result-slider__text
          font-size: 24px
          line-height: 1.2
          font-weight: 700
          color: $primary
          white-space: nowrap
          opacity: 0
          transform: translateY(50px)
          transition: opacity .3s, transform .3s
          @media screen and ( max-width: 1024px )
            font-size: 20px
          @media screen and ( max-width: 580px )
            font-size: 14px
      .slick-current + .slick-slide
        @media screen and ( max-width: 580px )
          opacity: 1
          .result-slider__img
            &::after
              opacity: 1
              transform: translateY(0)
          .result-slider__text
            opacity: 1
            transform: translateY(0)
      .slick-current + .slick-slide + .slick-slide
        opacity: 1
        @media screen and ( max-width: 580px )
          opacity: .5
        .result-slider__img
          &::after
            opacity: 1
            transform: translateY(0)
            @media screen and ( max-width: 580px )
              opacity: 0
              transform: translateY(50px)
        .result-slider__text
          opacity: 1
          transform: translateY(0)
          @media screen and ( max-width: 580px )
            opacity: 0
            transform: translateY(50px)
      .slick-arrow
        position: absolute
        bottom: 3%
        z-index: 10
        background: 0
        border: 0
        font-size: 0
        display: block
        width: 20px
        height: 20px
        border-top: 3px solid $primary
        border-left: 3px solid $primary
        opacity: .5
        @media screen and ( max-width: 580px )
          bottom: -10%
      .slick-prev
        left: 30%
        transform: rotate(-45deg)
      .slick-next
        right: 30%
        transform: rotate(135deg)

// Consultation

.consultation
  background: $bg
  padding-top: 120px
  margin-bottom: 200px
  @media screen and ( max-width: 1024px )
    margin-bottom: 100px
  @media screen and ( max-width: 768px )
    padding-top: 60px
  .consultation__inner
    display: flex
    justify-content: space-between
    align-items: center
    @media screen and ( max-width: 1024px )
      flex-direction: column-reverse
    .consultation__img
      flex-basis: 35%
      margin-right: 50px
      @media screen and ( max-width: 1024px )
        flex-basis: 100%
        margin-right: 0
      img
    .consultation__content
      flex-basis: 65%
      @media screen and ( max-width: 1024px )
        flex-basis: 100%
        text-align: center
        margin-bottom: 50px
      .consultation__title
        font-size: 36px
        margin-bottom: 70px
        @media screen and ( max-width: 1024px )
          margin-bottom: 35px
        @media screen and ( max-width: 425px )
          font-size: 30px
        span
          @include gradientText ()
      .consultation__button

// Program

.program
  .program__inner
    .program__title
      @media screen and ( max-width: 1024px )
        margin-bottom: 20px
      span
        @media screen and ( max-width: 345px )
          font-size: 40px
    .program__subtitle
      text-align: center
      max-width: 530px
      margin: 0 auto 80px
      @media screen and ( max-width: 1024px )
        margin-bottom: 40px
    .program__list
      display: flex
      justify-content: space-between
      flex-wrap: wrap
      .program-list__item
        position: relative
        flex-basis: 49%
        display: flex
        justify-content: space-between
        background: #fff
        box-shadow: 0 15px 50px rgba(157, 58, 141, .25)
        border-radius: 15px
        padding: 40px 80px
        margin-bottom: 20px
        @media screen and ( max-width: 1024px )
         flex-basis: 100%
        @media screen and ( max-width: 425px )
          padding: 20px 60px
        .program-list__num
          position: absolute
          top: 35px
          left: -5px
          width: 54px
          height: 54px
          display: flex
          justify-content: center
          align-items: center
          border-radius: 50%
          font-weight: 700
          color: #fff
          background: $secondary
          @media screen and ( max-width: 425px )
            top: 15px
        .program-list__content
          max-width: 430px
          @media screen and ( max-width: 1439px ) and ( min-width: 1024px)
            max-width: 100%
          @media screen and ( max-width: 1024px )
            max-width: 80%
          @media screen and ( max-width: 600px )
            max-width: 100%
          .program-list__title
            font-size: 24px
            color: $secondary
            margin-bottom: 10px
            @media screen and ( max-width: 425px )
              font-size: 18px
              line-height: 1.2
          .program-list__text
        .program-list__img
          @media screen and ( max-width: 1439px ) and ( min-width: 1025px)
            display: none
          @media screen and ( max-width: 600px )
            display: none
          img
        &:last-child
          background: $secondary
          padding: 0
          .program-list__content
            padding: 40px 0 40px 80px
            @media screen and ( max-width: 680px )
              width: 100%
              text-align: center
              padding: 40px
              margin: 0 auto
            @media screen and ( max-width: 425px )
              padding: 20px
            .program-list__title
              color: #fff
            .program-list__suptitle
              color: #fff
            .program-list__button
              font-size: 18px
              text-shadow: none
              background: transparent
              padding: 15px
              border: 2px solid #fff
              min-width: 0
              max-width: 280px
              width: 100%
          .program-list__img
            position: absolute
            right: 15px
            @media screen and ( max-width: 1439px ) and ( min-width: 1360px)
              display: block
            @media screen and ( max-width: 1360px )
              display: none
            @media screen and ( max-width: 1024px )
              display: block
            @media screen and ( max-width: 680px )
              display: none

// First

.first
  overflow: hidden
  .first__inner
    .first__title
      max-width: 880px
      margin: 0 auto
      span
        @media screen and ( max-width: 330px )
          font-size: 36px
    .first__slider
      .first-slider__item
        position: relative
        max-width: 450px
        opacity: 0
        padding: 100px 50px
        margin-right: 100px
        transition: opacity .4s, transform .4s
        .first-slider__num
          position: absolute
          top: 10px
          left: -20px
          font-size: 144px
          line-height: 1
          font-weight: 700
          @include gradientText ()
          opacity: .5
        .first-slider__title
          font-size: 36px
          line-height: 1.2
          max-width: 320px
          margin-bottom: 20px
        .first-slider__text
          font-size: 24px
    .first__button
      display: block
      max-width: 415px
      margin: 0 auto

.first__slider
  transform: translateY(-150px)
  .slick-list
    overflow: visible
    @media screen and ( max-width: 1250px )
      transform: translateX(20%)
    @media screen and ( max-width: 900px )
      transform: translateX(30%)
    @media screen and ( max-width: 790px )
      opacity: 0
  .slick-track
  .slick-current.slick-center
    & ~ .first-slider__item
      opacity: .5
    &:not(.first-slider__text-item)
      opacity: 1
      transform: scale(2) rotate(360deg)
  .slick-arrow
    position: absolute
    bottom: 40px
    z-index: 10
    background: 0
    border: 0
    font-size: 0
    display: block
    width: 30px
    height: 30px
    border-top: 3px solid $primary
    border-left: 3px solid $primary
    opacity: .5
  .slick-prev
    left: 0
    transform: rotate(-45deg)
    @media screen and ( max-width: 790px )
      left: 30%
  .slick-next
    left: 150px
    transform: rotate(135deg)
    @media screen and ( max-width: 790px )
      left: 65%
  .slick-dots
    position: absolute
    bottom: -75px
    left: 50%
    transform: translateX(-50%)
    display: flex
    li
      margin-right: 15px
      &:last-child
        margin-right: 0
      button
        font-size: 0
        width: 15px
        height: 15px
        border-radius: 50%
        background: transparent
        border: 2px solid $primary
        transition: .4s
    li.slick-active
      button
        width: 24px
        height: 24px
        background: $primary

.first__num-slider
  transform: translateY(150px)
  // height: 300px
  .first-num-slider__item
    position: relative
    height: 250px
    display: flex
    flex-direction: column
    justify-content: center
    .first-num-slider__num
      position: absolute
      top: 0
      left: 0
      z-index: -1
      font-size: 144px
      line-height: 1
      font-weight: 700
      opacity: .5
      @include gradientText ()
      @media screen and ( max-width: 790px )
        left: 20%
      @media screen and ( max-width: 425px )
        left: 0
    .first-num-slider__title
      font-size: 36px
      max-width: 430px
      @media screen and ( max-width: 790px )
        text-align: center
        margin: 0 auto
    .first-num-slider__text
      font-size: 24px
      max-width: 430px
      @media screen and ( max-width: 790px )
        text-align: center
        margin: 0 auto

// Features and About background

.features-about-bg
  background: url(../img/features-about/bg.jpg) top no-repeat
  background-size: cover

// Features

.features
  margin-bottom: 100px
  @media screen and ( max-width: 425px )
    margin-bottom: 50px
  .features__title
    margin-bottom: 100px
    @media screen and ( max-width: 768px )
      margin-bottom: 50px
    span
      @media screen and ( max-width: 350px )
        font-size: 44px
  .features__list
    max-width: 620px
    margin: 0 auto 0 45%
    @media screen and ( max-width: 768px )
      margin: 0 auto
    .features-list__item
      position: relative
      margin-bottom: 30px
      &:last-child
        margin-bottom: 0
      &::before
        content: ''
        position: absolute
        top: -20px
        left: -70px
        z-index: 1
        display: block
        border-radius: 50%
        width: 80px
        height: 80px
        background: url(../img/features-about/mark.svg) center no-repeat
        background-size: cover
        @media screen and ( max-width: 720px )
          display: none
      .features-list__title
        position: relative
        z-index: 2
        font-size: 24px
        color: $secondary
      .features-list__text
        position: relative
        z-index: 2

// About

.about
  padding-bottom: 40px
  @media screen and ( max-width: 1024px )
    margin-bottom: 100px
  .about__title
    margin-bottom: 100px
    @media screen and ( max-width: 425px )
      margin-bottom: 50px
  .about__list
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    .about-list__item
      position: relative
      flex-basis: 50%
      padding-left: 110px
      margin-bottom: 65px
      @media screen and ( max-width: 1120px )
        flex-basis: 100%
        text-align: center
        padding-left: 0
      &::before
        content: ''
        position: absolute
        top: 35px
        left: 0
        display: block
        width: 70px
        height: 70px
        border-radius: 50%
        background: url(../img/features-about/circle.svg) center no-repeat
        background-size: cover
        @media screen and ( max-width: 1120px )
          display: none
      .about-list__title
        position: relative
        font-size: 72px
        line-height: 1
        white-space: nowrap
        @include gradientText ()
        @media screen and ( max-width: 425px )
          white-space: normal
          line-height: 1.11
        span
          font-size: 144px
          @media screen and ( max-width: 1340px )
            font-size: 100px
          @media screen and ( max-width: 1200px )
            font-size: 80px
          @media screen and ( max-width: 1120px )
            font-size: 72px
            line-height: 1.11
      .about-list__text
        max-width: 425px
        @media screen and ( max-width: 1120px )
          margin: 0 auto

// Certificates

.certificates
  .certificates__inner
    .certificates__title
      margin-bottom: 100px
      @media screen and ( max-width: 768px )
        margin-bottom: 75px
      @media screen and ( max-width: 425px )
        margin-bottom: 50px
      span
        @media screen and ( max-width: 768px )
          font-size: 50px
        @media screen and ( max-width: 570px )
          font-size: 36px
        @media screen and ( max-width: 425px )
          font-size: 24px
    .certificates__list
      display: flex
      justify-content: space-between
      align-items: center
      flex-wrap: wrap
      .certificates-list__item
        position: relative
        flex-basis: 24%
        padding: 10px 0
        border-top: 2px solid $primary
        border-bottom: 2px solid $primary
        margin-bottom: 20px
        cursor: pointer
        transition: padding .2s
        @media screen and ( max-width: 600px )
          flex-basis: 49%
        @media screen and ( max-width: 320px )
          flex-basis: 100%
        &::before,
        &::after
          content: ''
          position: absolute
          opacity: 0
          transition: opacity .2s
        &::before
          top: 0
          bottom: 0
          right: 0
          left: 0
          background: $gradient
        &::after
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)
          width: 53px
          height: 51px
          background: url(../img/certificates/loupe.svg) center no-repeat
        &:hover::before,
        &:hover::after
          opacity: .6
        &:hover
          padding: 5px 0

// Reviews

.reviews
  overflow: hidden
  padding-bottom: 100px
  margin-bottom: 100px
  .reviews__inner
    .reviews__title
    .reviews__subtitle
      text-align: center
      max-width: 600px
      margin: 0 auto 100px
      @media screen and ( max-width: 768px )
        margin-bottom: 75px
      @media screen and ( max-width: 425px )
        margin-bottom: 50px
    .reviews__slider
      position: relative
      .reviews-slider__item
        display: flex
        margin-right: 60px
        opacity: .3
        transition: opacity .6s
        @media screen and ( max-width: 1100px )
          flex-direction: column
          max-width: 500px
        @media screen and ( max-width: 529px )
          margin-right: 0
        .reviews-slider__img
          margin-right: 60px
          @media screen and ( max-width: 1100px )
            margin-right: 0
            margin-bottom: 20px
        .reviews-slider__content
          max-width: 500px
          .reviews-slider__title
            font-size: 36px
            margin-bottom: 40px
            @media screen and ( max-width: 1100px )
              margin-bottom: 20px
          .reviews-slider__text
            font-weight: 500
      .slick-list
        overflow: visible
      .slick-current.slick-active
        opacity: 1
      .slick-arrow
        position: absolute
        bottom: -80px
        z-index: 10
        background: 0
        border: 0
        font-size: 0
        display: block
        width: 30px
        height: 30px
        border-top: 3px solid $primary
        border-left: 3px solid $primary
        opacity: .5
      .slick-prev
        left: 30%
        transform: rotate(-45deg)
        @media screen and ( max-width: 600px )
          left: 10%
      .slick-next
        right: 30%
        transform: rotate(135deg)
        @media screen and ( max-width: 600px )
          right: 10%
      .slick-dots
        position: absolute
        bottom: -75px
        left: 50%
        transform: translateX(-50%)
        display: flex
        li
          margin-right: 15px
          &:last-child
            margin-right: 0
          button
            font-size: 0
            width: 15px
            height: 15px
            border-radius: 50%
            background: transparent
            border: 2px solid $primary
            transition: .4s
        li.slick-active
          button
            width: 24px
            height: 24px
            background: $primary

// Efficiency

.efficiency
  background: $bg
  margin-bottom: 200px
  @media screen and ( max-width: 768px )
    margin-bottom: 150px
  @media screen and ( max-width: 425px )
    margin-bottom: 100px
  .efficiency__inner
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 60px
    @media screen and ( max-width: 1010px )
      flex-direction: column
    .efficiency__content
      flex-basis: 55%
      text-align: right
      margin-right: 50px
      @media screen and ( max-width: 1200px )
        margin-right: 25px
      @media screen and ( max-width: 1010px )
        text-align: center
        margin-right: 0
      .efficiency__title
        font-size: 36px
        margin-bottom: 10px
        span
          @include gradientText ()
      .efficiency__subtitle
        max-width: 500px
        margin: 0 0 50px auto
        @media screen and ( max-width: 1010px )
          margin: 0 auto 20px
      .efficiency__button
        @media screen and ( max-width: 1200px )
          margin-bottom: 20px
    .efficiency__img
      flex-basis: 45%
      img
        object-fit: cover

// Gyms

.gyms
  @media screen and ( max-width: 425px )
    margin-bottom: 200px
  .gyms__title
    max-width: 800px
    margin: 0 auto 100px
    @media screen and ( max-width: 768px )
      margin-bottom: 50px
  .gyms__slider
    .gyms-slider__item
      max-width: 700px
      width: 100%
      height: 475px
      opacity: .4
      transition: opacity .6s
      @media screen and ( max-width: 768px )
        height: 375px
      img
        width: 100%
        height: 100%
        object-fit: cover
    .slick-current.slick-active
      opacity: 1
    .slick-arrow
      position: absolute
      bottom: -80px
      z-index: 10
      background: 0
      border: 0
      font-size: 0
      display: block
      width: 30px
      height: 30px
      border-top: 3px solid $primary
      border-left: 3px solid $primary
      opacity: .5
    .slick-prev
      left: 30%
      transform: rotate(-45deg)
      @media screen and ( max-width: 600px )
        left: 10%
    .slick-next
      right: 30%
      transform: rotate(135deg)
      @media screen and ( max-width: 600px )
        right: 10%
    .slick-dots
      position: absolute
      bottom: -75px
      left: 50%
      transform: translateX(-50%)
      display: flex
      li
        margin-right: 15px
        &:last-child
          margin-right: 0
        button
          font-size: 0
          width: 15px
          height: 15px
          border-radius: 50%
          background: transparent
          border: 2px solid $primary
          transition: .4s
      li.slick-active
        button
          width: 24px
          height: 24px
          background: $primary

// Subscription

.subscription
  position: relative
  margin-bottom: 100px
  &::before
    content: ''
    position: absolute
    top: 100px
    left: -250px
    z-index: -1
    width: 680px
    height: 680px
    background: url(../img/subscription/circle.svg) center no-repeat
    @media screen and ( max-width: 1440px )
      display: none
  .subscription__inner
    display: flex
    justify-content: space-between
    align-items: center
    @media screen and ( max-width: 1200px )
      flex-direction: column
    .subscription__card
      flex-basis: 50%
      background: #fff
      box-shadow: 0 15px 50px rgba(157, 58, 141, .25)
      border-radius: 15px
      padding: 50px
      @media screen and ( max-width: 1200px )
        margin-bottom: 40px
      @media screen and ( max-width: 768px )
        padding: 25px
      .subscription__title
        font-size: 64px
        color: $primary
        margin-bottom: 80px
        @media screen and ( max-width: 1200px )
          text-align: center
        @media screen and ( max-width: 768px )
          margin-bottom: 40px
        @media screen and ( max-width: 425px )
          font-size: 50px
          margin-bottom: 20px
      .subscription__list
        .subscription-list__item
          position: relative
          font-size: 24px
          padding-left: 55px
          margin-bottom: 50px
          @media screen and ( max-width: 768px )
            margin-bottom: 25px
          @media screen and ( max-width: 425px )
            font-size: 18px
            padding-left: 35px
          &::before
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 35px
            height: 30px
            background: url(../img/subscription/mark.svg) center no-repeat
            @media screen and ( max-width: 425px )
              top: 5px
              width: 25px
              height: 20px
              background-size: cover
          &:last-child
            margin-bottom: 0
    .subscription__form
      position: relative
      flex-basis: 50%
      background: $gradient
      box-shadow: 0 15px 50px rgba(157, 58, 141, .25)
      border-radius: 0 15px 15px 0
      padding: 30px 75px 30px 120px
      color: #fff
      @media screen and ( max-width: 1200px )
        border-radius: 15px
      @media screen and ( max-width: 768px )
        padding: 30px 80px
      @media screen and ( max-width: 425px )
        padding: 30px
      .subscription-form__external-title
        position: absolute
        top: -80px
        height: 70px
        font-size: 48px
        color: $text
        @media screen and ( max-width: 1340px )
          display: none
      .subscription-form__suptitle
        font-size: 36px
        line-height: 1
      .subscription-form__title
        font-size: 48px
        line-height: 1
      .subscription-form__text
        margin-bottom: 20px
        &:last-of-type
          text-align: center
      .subscription-form__label
        padding-left: 35px
        margin-bottom: 10px
      .subscription-form__input
        font-weight: 600
        color: #fff
        background: #d286cc
        width: 100%
        height: 45px
        border: 0
        border-bottom: 2px solid #fff
        padding: 0 15px
        margin-bottom: 20px
        &:last-of-type
          margin-bottom: 70px
          @media screen and ( max-width: 425px )
            margin-bottom: 40px
      .subscription-form__button
        color: $primary
        text-shadow: none
        background: #fff
        width: 100%
        margin: 0 auto 20px
        @media screen and ( max-width: 425px )
          padding: 25px

// Help

.help
  margin-bottom: 100px
  .help__inner
    display: flex
    justify-content: center
    align-items: center
    @media screen and ( max-width: 680px )
      flex-direction: column
    .help__img
      flex-basis: 50%
      @media screen and ( max-width: 900px )
        margin-right: 10px
      @media screen and ( max-width: 680px )
        margin-right: 0
        margin-bottom: 20px
      img
        margin-left: auto
    .help__content
      flex-basis: 50%
      .help__title
        font-size: 96px
        line-height: 1
        @include gradientText ()
        margin-bottom: 20px
        @media screen and ( max-width: 900px )
          font-size: 64px
        @media screen and ( max-width: 680px )
          text-align: center
        @media screen and ( max-width: 425px )
          font-size: 48px
      .help__text
        font-size: 48px
        line-height: 1.2
        font-weight: 700
        @media screen and ( max-width: 900px )
          font-size: 36px
        @media screen and ( max-width: 680px )
          text-align: center
        @media screen and ( max-width: 425px )
          font-size: 24px

// Certificate

.certificate
  background: $bg
  padding: 150px 0
  margin-bottom: 200px
  @media screen and ( max-width: 1024px )
    padding: 75px 0
  @media screen and ( max-width: 768px )
    margin-bottom: 100px
  .certificate__inner
    display: flex
    justify-content: space-between
    align-items: center
    @media screen and ( max-width: 900px )
      flex-direction: column
    .certificate__img
      flex-basis: 50%
      img
    .certificate__content
      flex-basis: 50%
      .certificate__title
        font-size: 36px
        max-width: 700px
        margin-bottom: 40px
        @media screen and ( max-width: 900px )
          text-align: center
        @media screen and ( max-width: 425px )
          font-size: 24px
        span
          color: $primary
      .certificate__button
        @media screen and ( max-width: 900px )
          display: block
          max-width: 415px
          width: 100%
          margin: 0 auto

// Footer

.footer
  .footer__inner
    margin-bottom: 60px
    .footer__title
      font-size: 36px
      text-align: center
      @include gradientText ()
      margin-bottom: 40px
    .footer__row
      display: flex
      justify-content: space-between
      margin-bottom: 60px
      @media screen and ( max-width: 1024px )
        flex-direction: column
      .footer__contacts
        position: relative
        flex-basis: 40%
        color: #fff
        background: $gradient
        box-shadow: 0 15px 50px rgba(157, 58, 141, .25)
        border-radius: 15px
        padding: 80px
        @media screen and ( max-width: 768px )
          padding: 40px
        &::before
          content: ''
          position: absolute
          top: 20px
          right: 20px
          bottom: -20px
          left: -20px
          z-index: -1
          background: #fff
          box-shadow: 0 15px 50px rgba(157, 58, 141, .25)
          border-radius: 15px
        .footer-contacts__title
          font-size: 36px
          margin-bottom: 60px
          @media screen and ( max-width: 425px )
            margin-bottom: 30px
        .footer-contacts__item
          margin-bottom: 40px
          @media screen and ( max-width: 425px )
            margin-bottom: 20px
          .footer-contacts-item__title
            font-size: 24px
            margin-bottom: 20px
            @media screen and ( max-width: 425px )
              margin-bottom: 10px
          .footer-contacts-item__phone
            font-size: 24px
            font-weight: 500
            white-space: nowrap
            @media screen and ( max-width: 320px )
              font-size: 18px
          .footer-contacts-item__text
            font-weight: 500
            max-width: 340px
        .footer__social
          display: flex
          .footer-social__item
            margin-right: 30px
            &:last-child
              margin-right: 0
            img
      .footer__map
        flex-basis: 60%
        width: 100%
    .footer__logo
      max-width: 340px
      background: #fff
      border-radius: 12px
      box-shadow: 0 15px 50px rgba(157, 58, 141, .25)
      padding: 10px 25px 15px
      margin: 0 auto

// Modal

.modal,
.thanks
  display: none
  justify-content: center
  align-items: center
  position: fixed
  top: 0
  left: 0
  z-index: 10000 
  width: 100vw
  height: 100vh
  background: rgba(#000, .5)
  &_active
    display: flex
  .modal__inner,
  .thanks__inner
    position: relative
    text-align: center
    padding: 50px 40px
    background: #fff
    box-shadow: 0 3px 25px rgba(#000, .2)
    border-radius: 20px
    max-width: 430px
    widht: 100%
    max-height: 530px
    height: 100%
    .modal__close,
    .thanks__close
      position: absolute
      top: 20px
      right: 20px
      cursor: pointer
    .modal__title,
    .thanks__title
      font-size: 24px
      line-height: 1.2
      @include gradientText ()
      margin-bottom: 10px
    .modal__subtitle,
    .thanks__subtitle
      font-size: 14px
      margin-bottom: 40px
    .modal__form
      .modal-form__input-wrapper
        position: relative
        height: 50px
        margin-bottom: 20px
        &:last-of-type
          margin-bottom: 40px
        &:nth-child(1)::before,
        &:nth-child(2)::before,
          content: ''
          position: absolute
          top: 50%
          left: 15px
          transform: translateY(-50%)
          z-index: 2
          width: 20px
          height: 20px
        &:nth-child(1)::before
          background: url(../img/modal/name.svg) center no-repeat
        &:nth-child(2)::before
          background: url(../img/modal/tel.svg) center no-repeat
        .modal-form__input
          position: absolute
          left: 0
          bottom: 0
          font-size: 18px
          width: 100%
          padding: 15px 0 15px 50px
          border: 0
          border-bottom: 2px solid $primary
      .modal-form__button
        font-size: 18px
        min-width: 0
        width: 100%
        padding: 15px
        margin-bottom: 20px
    .modal__text
      font-size: 12px
      color: #9c9c9c
      max-width: 260px
      margin: 0 auto

.thanks
  .thanks__inner
    .thanks__title
      max-width: 280px
      margin: 0 auto 10px
    .thanks__subtitle
      max-width: 240px
      margin: 0 auto 30px
    .thanks__buttons
      max-width: 135px
      background: $gradient
      border-radius: 30px
      display: flex
      padding: 8px 30px
      margin: 0 auto 30px
      .thanks-buttons__item
        margin-right: 20px
        &:last-child
          margin-right: 0
        img
    .thanks__img
      max-width: 250px
      max-height: 250px
      margin: 0 auto
      transform: translateX(10px)
      img
        width: 100%
        height: 100%
        object-fit: cover