* {
  margin: 0;
  padding: 0;
  bottom: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  line-height: 1.6;
}

nav,
footer,
header,
aside {
  display: block;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

*:focus,
*:active {
  outline: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  border: 0;
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  background: url(../img/page-bg.jpg) center no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.body_lock {
  overflow-y: hidden;
}

.container {
  width: 100%;
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}

.main-title {
  font-size: 60px;
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
}

.main-title_white {
  color: #fff;
  text-shadow: -4px 4px 2px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 425px) {
  .main-title {
    font-size: 50px;
  }
}

.main-subtitle {
  font-size: 42px;
  font-weight: 600;
  line-height: 1.2;
}

@media screen and (max-width: 425px) {
  .main-subtitle {
    font-size: 30px;
  }
}

.main-phone {
  font-weight: 800;
  font-size: 30px;
  color: #fff;
  text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
  display: none;
}

@media screen and (max-width: 425px) {
  .main-phone {
    display: block;
  }
}

.title {
  font-size: 50px;
  font-weight: 800;
  line-height: 1.3;
  color: #db553f;
  text-transform: uppercase;
}

.title span {
  color: #000;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 44px;
  }
}

@media screen and (max-width: 425px) {
  .title {
    font-size: 38px;
    text-align: center;
  }
}

.button {
  display: inline-block;
  color: #fff;
  font-weight: 800;
  line-height: 1;
  background: #db553f;
  -webkit-box-shadow: 0 0 10px rgba(135, 21, 2, 0.5);
          box-shadow: 0 0 10px rgba(135, 21, 2, 0.5);
  border-radius: 35px;
  padding: 25px 35px;
}

.logo {
  max-width: 250px;
}

@media screen and (max-width: 1024px) {
  .logo {
    width: 30vw;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    width: 40vw;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    width: 50vw;
  }
}

@media screen and (max-width: 425px) {
  .logo {
    width: 60vw;
  }
}

.logo img {
  width: 100%;
}

.main {
  height: 100vh;
  background: url(../img/index/bg.jpg) center no-repeat;
  background-size: cover;
}

.main .main__inner {
  margin-top: 20vh;
}

@media screen and (max-width: 425px) {
  .main .main__inner {
    margin-top: 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 425px) {
  .main .main__inner .main__title {
    text-align: center;
  }
}

.main .main__inner .main__subtitle {
  margin-bottom: 3vh;
}

@media screen and (max-width: 425px) {
  .main .main__inner .main__subtitle {
    text-align: center;
  }
}

.main .main__inner .main__button {
  margin-bottom: 2vh;
}

@media screen and (max-width: 425px) {
  .main .main__inner .main__button {
    margin-top: 15vh;
  }
}

@media screen and (max-width: 425px) and (max-height: 615px) {
  .main .main__inner .main__button {
    margin-top: 10vh;
  }
}

.header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4vh 0;
}

.header .header__inner .header__nav {
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__inner .header__nav .header__burger {
  display: none;
  position: relative;
  z-index: 1000;
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 1170px) {
  .header .header__inner .header__nav .header__burger {
    display: block;
  }
}

.header .header__inner .header__nav .header__burger span,
.header .header__inner .header__nav .header__burger span::before,
.header .header__inner .header__nav .header__burger span::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background: #000;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.header .header__inner .header__nav .header__burger span::before {
  margin-top: -8px;
}

.header .header__inner .header__nav .header__burger span::after {
  margin-top: 9px;
}

.header .header__inner .header__nav .header__burger_active {
  position: fixed;
  top: 34px;
  right: 10px;
}

.header .header__inner .header__nav .header__burger_active span {
  background: transparent;
}

.header .header__inner .header__nav .header__burger_active span::before,
.header .header__inner .header__nav .header__burger_active span::after {
  top: 0;
  left: 0;
  margin: 0;
  background: #fff;
}

.header .header__inner .header__nav .header__burger_active span::before {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.header .header__inner .header__nav .header__burger_active span::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.header .header__inner .header__nav .header-nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1170px) {
  .header .header__inner .header__nav .header-nav__inner {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: #000;
    top: 0;
    left: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 20px 0;
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
  .header .header__inner .header__nav .header-nav__inner_active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.header .header__inner .header__nav .header-nav__inner .header-nav__logo,
.header .header__inner .header__nav .header-nav__inner .header-nav__button,
.header .header__inner .header__nav .header-nav__inner .header-nav__phone {
  display: none;
}

@media screen and (max-width: 1170px) {
  .header .header__inner .header__nav .header-nav__inner .header-nav__logo,
  .header .header__inner .header__nav .header-nav__inner .header-nav__button,
  .header .header__inner .header__nav .header-nav__inner .header-nav__phone {
    display: block;
  }
}

.header .header__inner .header__nav .header-nav__inner .header-nav__logo {
  padding-left: 10px;
}

.header .header__inner .header__nav .header-nav__inner .header-nav__button {
  max-width: 260px;
  font-size: 20px;
  margin: 0 auto;
}

.header .header__inner .header__nav .header-nav__inner .header-nav__item {
  position: relative;
  color: #000;
  cursor: pointer;
  margin-right: 14px;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

@media screen and (max-width: 1170px) {
  .header .header__inner .header__nav .header-nav__inner .header-nav__item {
    font-size: 25px;
    color: #fff;
    margin-right: 0;
  }
}

.header .header__inner .header__nav .header-nav__inner .header-nav__item_active::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background: #db553f;
}

@media screen and (max-width: 1170px) {
  .header .header__inner .header__nav .header-nav__inner .header-nav__item_active::after {
    height: 0;
  }
}

.header .header__inner .header__nav .header-nav__inner .header-nav__item:last-child {
  margin-right: 0;
}

.header .header__inner .header__nav .header-nav__inner .header-nav__item:hover {
  color: #db553f;
}

.header .header__inner .header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1170px) {
  .header .header__inner .header__phone {
    display: none;
  }
}

.header .header__inner .header__phone .fas {
  color: #db553f;
  margin-right: 8px;
}

.header .header__inner .header__phone .header-phone__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .header__inner .header__phone .header-phone__inner .header-phone__tel {
  font-weight: 800;
  line-height: 1;
}

.header .header__inner .header__phone .header-phone__inner .header-phone__callback {
  font-size: 10px;
  color: #000;
  text-transform: uppercase;
  text-decoration: underline;
}

.footer {
  background: #000;
  color: #fff;
}

.footer .footer__inner {
  padding: 25px 0;
}

.footer .footer__inner .fas {
  color: #db553f;
}

.footer .footer__inner .footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 12px;
}

@media screen and (max-width: 1040px) {
  .footer .footer__inner .footer__row {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media screen and (max-width: 630px) {
  .footer .footer__inner .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 880px) {
  .footer .footer__inner .footer__row .footer__logo {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media screen and (max-width: 630px) {
  .footer .footer__inner .footer__row .footer__logo {
    margin-bottom: 20px;
  }
  .footer .footer__inner .footer__row .footer__logo.logo {
    width: 100vw;
  }
}

.footer .footer__inner .footer__row .footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1040px) {
  .footer .footer__inner .footer__row .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 880px) {
  .footer .footer__inner .footer__row .footer__nav {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 630px) {
  .footer .footer__inner .footer__row .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-bottom: 0;
  }
}

.footer .footer__inner .footer__row .footer__nav .footer-nav__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 40px;
}

@media screen and (max-width: 1040px) {
  .footer .footer__inner .footer__row .footer__nav .footer-nav__col {
    margin: 0 0 10px;
  }
}

@media screen and (max-width: 880px) {
  .footer .footer__inner .footer__row .footer__nav .footer-nav__col {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media screen and (max-width: 630px) {
  .footer .footer__inner .footer__row .footer__nav .footer-nav__col {
    margin-bottom: 30px;
  }
}

.footer .footer__inner .footer__row .footer__nav .footer-nav__col:last-child {
  margin-right: 0;
}

.footer .footer__inner .footer__row .footer__nav .footer-nav__col .footer-nav__item {
  font-size: 14px;
  color: #fff;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
  margin-bottom: 10px;
}

@media screen and (max-width: 630px) {
  .footer .footer__inner .footer__row .footer__nav .footer-nav__col .footer-nav__item {
    margin-bottom: 30px;
  }
}

.footer .footer__inner .footer__row .footer__nav .footer-nav__col .footer-nav__item:hover {
  color: #db553f;
}

.footer .footer__inner .footer__row .footer__nav .footer-nav__col .footer-nav__item:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 880px) {
  .footer .footer__inner .footer__row .footer__contacts {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
  }
}

@media screen and (max-width: 630px) {
  .footer .footer__inner .footer__row .footer__contacts {
    margin-bottom: 20px;
  }
}

.footer .footer__inner .footer__row .footer__contacts .footer-contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__inner .footer__row .footer__contacts .footer-contacts__phone .fas {
  font-size: 24px;
  margin-right: 14px;
}

@media screen and (max-width: 425px) {
  .footer .footer__inner .footer__row .footer__contacts .footer-contacts__phone .fas {
    display: none;
  }
}

.footer .footer__inner .footer__row .footer__contacts .footer-phone__inner {
  margin-bottom: 7px;
}

.footer .footer__inner .footer__row .footer__contacts .footer-phone__inner .footer-phone__tel {
  font-size: 16px;
  font-weight: 800;
}

.footer .footer__inner .footer__row .footer-contacts__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.footer .footer__inner .footer__row .footer-contacts__email .fas {
  margin-right: 10px;
  font-size: 24px;
}

@media screen and (max-width: 425px) {
  .footer .footer__inner .footer__row .footer-contacts__email .fas {
    display: none;
  }
}

.footer .footer__inner .footer__row .footer__callback {
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 880px) {
  .footer .footer__inner .footer__row .footer__callback {
    -ms-flex-preferred-size: 65%;
        flex-basis: 65%;
  }
}

@media screen and (max-width: 630px) {
  .footer .footer__inner .footer__row .footer__callback {
    margin-bottom: 20px;
  }
}

.footer .footer__inner .footer__row .footer__callback .footer-callback__title {
  margin-bottom: 15px;
}

.footer .footer__inner .footer__row .footer__callback .footer-callback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 385px;
  margin: 0 auto;
  background: #db553f;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 35px;
}

.footer .footer__inner .footer__row .footer__callback .footer-callback__form .footer-form__input {
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 35px;
  padding: 7px 120px 7px 20px;
  width: 300px;
  margin: 15px;
}

@media screen and (max-width: 470px) {
  .footer .footer__inner .footer__row .footer__callback .footer-callback__form .footer-form__input {
    width: 100%;
    padding-right: 20px;
  }
}

.footer .footer__inner .footer__row .footer__callback .footer-callback__form .footer-form__button {
  border-radius: 50%;
  margin-right: 15px;
}

.footer .footer__inner .footer__row .footer__callback .footer-callback__form .footer-form__button .fas {
  font-size: 24px;
  padding: 10px;
}

.footer .footer__inner .footer__copyright {
  max-width: 270px;
  font-size: 10px;
  line-height: 12px;
}

@media screen and (max-width: 630px) {
  .footer .footer__inner .footer__copyright {
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
    max-width: 350px;
  }
}

.about {
  background: url(../img/about/bg.jpg) center no-repeat;
  background-size: cover;
  height: 100vh;
}

.about .about__inner {
  margin-top: 20vh;
}

@media screen and (max-width: 425px) {
  .about .about__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about .about__inner .about__title {
  margin-bottom: 3vh;
}

@media screen and (max-width: 768px) {
  .about .about__inner .about__title {
    font-size: 50px;
  }
}

@media screen and (max-width: 620px) {
  .about .about__inner .about__title {
    font-size: 40px;
  }
}

@media screen and (max-width: 500px) {
  .about .about__inner .about__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 425px) {
  .about .about__inner .about__title {
    text-align: center;
  }
}

@media screen and (max-width: 350px) {
  .about .about__inner .about__title {
    font-size: 26px;
  }
}

@media screen and (max-width: 305px) {
  .about .about__inner .about__title {
    font-size: 24px;
  }
}

.about .about__inner .about__button {
  margin-bottom: 2vh;
}

@media screen and (max-width: 425px) {
  .about .about__inner .about__button {
    margin-top: 15vh;
  }
}

.why-we {
  position: relative;
}

.why-we .why-we__inner {
  position: relative;
  z-index: 2;
  max-width: 900px;
}

.why-we .why-we__inner .why-we__title {
  margin: 10px 0;
}

@media screen and (max-width: 425px) {
  .why-we .why-we__inner .why-we__title {
    margin: 20px 0;
  }
}

.why-we .why-we__inner .why-we__text {
  position: relative;
  max-width: 550px;
  color: #454545;
  margin-bottom: 30px;
}

@media screen and (max-width: 425px) {
  .why-we .why-we__inner .why-we__text {
    text-align: center;
  }
}

.why-we .why-we__inner .why-we__text img {
  position: absolute;
  top: -25%;
  right: 0;
}

@media screen and (max-width: 425px) {
  .why-we .why-we__inner .why-we__text img {
    top: 0;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

.why-we .why-we__inner .why-we__text:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1440px) {
  .why-we .why-we__inner .why-we__text:last-child {
    padding-bottom: 200px;
  }
}

.why-we .why-we__man {
  position: absolute;
  bottom: -150px;
  right: 0;
  z-index: 1;
}

@media screen and (max-width: 425px) {
  .why-we .why-we__man {
    bottom: -135px;
  }
}

.why-we__floor {
  height: 136px;
  width: 100%;
  background: url(../img/about/floor.png) center no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0 34px 40px rgba(0, 0, 0, 0.25);
          box-shadow: 0 34px 40px rgba(0, 0, 0, 0.25);
}

.advantages .advantages__inner .advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .advantages .advantages__inner .advantages__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantages .advantages__inner .advantages__row:last-child {
    margin-bottom: 20px;
  }
}

.advantages .advantages__inner .advantages__row .advantages__col {
  position: relative;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages .advantages__inner .advantages__row .advantages__col .advantages__img {
  width: 50vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 350px;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

@media screen and (max-width: 768px) {
  .advantages .advantages__inner .advantages__row .advantages__col .advantages__img {
    width: 100vw;
    min-height: 300px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.advantages .advantages__inner .advantages__row .advantages__col .advantages__num {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.advantages .advantages__inner .advantages__row .advantages__col .advantages__content {
  margin-left: 100px;
  padding: 20px 0;
}

@media screen and (max-width: 425px) {
  .advantages .advantages__inner .advantages__row .advantages__col .advantages__content {
    margin-left: 50px;
  }
}

@media screen and (max-width: 290px) {
  .advantages .advantages__inner .advantages__row .advantages__col .advantages__content {
    margin-left: 30px;
  }
}

.advantages .advantages__inner .advantages__row .advantages__col .advantages__content .advantages__title {
  max-width: 270px;
  position: relative;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.2;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

@media screen and (max-width: 375px) {
  .advantages .advantages__inner .advantages__row .advantages__col .advantages__content .advantages__title {
    font-size: 26px;
  }
}

@media screen and (max-width: 320px) {
  .advantages .advantages__inner .advantages__row .advantages__col .advantages__content .advantages__title {
    font-size: 22px;
  }
}

.advantages .advantages__inner .advantages__row .advantages__col .advantages__content .advantages__title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background: #db553f;
}

@media screen and (max-width: 320px) {
  .advantages .advantages__inner .advantages__row .advantages__col .advantages__content .advantages__text {
    font-size: 18px;
  }
}

.advantages .advantages__inner .advantages__row:nth-child(2n+2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.advantages .advantages__inner .advantages__row:nth-child(2n+2) .advantages__img {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

@media screen and (max-width: 768px) {
  .advantages .advantages__inner .advantages__row:nth-child(2n+2) .advantages__img {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  .advantages .advantages__inner .advantages__row:nth-child(2n+2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.advantages .advantages__inner .advantages__row:nth-child(2n+2) .advantages__num {
  left: 30px;
}

@media screen and (max-width: 425px) {
  .advantages .advantages__inner .advantages__row:nth-child(2n+2) .advantages__num {
    left: 0;
  }
}

.services {
  background: url(../img/services/bg.jpg) center no-repeat;
  background-size: cover;
  height: 100vh;
}

.services .services__inner {
  position: relative;
  z-index: 2;
  margin-top: 20vh;
}

@media screen and (max-width: 425px) {
  .services .services__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10vh;
  }
}

.services .services__inner .services__title {
  max-width: 650px;
  margin-bottom: 3vh;
}

@media screen and (max-width: 425px) {
  .services .services__inner .services__title {
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  .services .services__inner .services__title {
    font-size: 44px;
  }
}

@media screen and (max-width: 310px) {
  .services .services__inner .services__title {
    font-size: 38px;
  }
}

.services .services__inner .services__button {
  margin-bottom: 2vh;
}

@media screen and (max-width: 425px) {
  .services .services__inner .services__button {
    margin-top: 10vh;
  }
}

@media screen and (max-width: 425px) and (max-height: 615px) {
  .services .services__inner .services__button {
    margin-top: 6vh;
  }
}

.kinds {
  margin-top: 40px;
}

@media screen and (max-width: 425px) {
  .kinds {
    margin-top: 20px;
  }
}

.kinds .kinds__inner .kinds__title {
  margin-bottom: 20px;
}

.kinds .kinds__inner .kinds__subtitle {
  font-size: 30px;
  line-height: 1.5;
  font-weight: 700;
  color: #454545;
  margin-bottom: 20px;
}

@media screen and (max-width: 425px) {
  .kinds .kinds__inner .kinds__subtitle {
    font-size: 22px;
    text-align: center;
  }
}

.kinds .kinds__inner .kinds__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .kinds .kinds__inner .kinds__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.kinds .kinds__inner .kinds__list .kinds-list__item {
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  text-align: center;
  line-height: 1.5;
  margin-right: 30px;
}

@media screen and (max-width: 768px) {
  .kinds .kinds__inner .kinds__list .kinds-list__item {
    margin: 0 0 20px;
  }
}

.kinds .kinds__inner .kinds__list .kinds-list__item:last-child {
  margin-right: 0;
}

.kinds .kinds__inner .kinds__list .kinds-list__item .kinds-list__img {
  -webkit-box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  margin-bottom: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 768px) {
  .kinds .kinds__inner .kinds__list .kinds-list__item .kinds-list__img {
    margin: 0 auto 20px;
  }
}

.kinds .kinds__inner .kinds__list .kinds-list__item .kinds-list__title {
  font-size: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #db553f;
  margin-bottom: 10px;
}

.kinds .kinds__inner .kinds__list .kinds-list__item .kinds-list__text {
  color: #454545;
}

.stages {
  background: rgba(0, 0, 0, 0.6);
}

.stages .stages__inner {
  color: #fff;
  padding: 20px 0;
}

.stages .stages__inner .stages__title {
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 425px) {
  .stages .stages__inner .stages__title {
    text-align: left;
    margin-bottom: 15px;
  }
}

.stages .stages__inner .stages__title span {
  color: #fff;
}

.stages .stages__inner .stages__subtitle {
  font-weight: 700;
  margin-bottom: 15px;
}

.stages .stages__inner .stages__list .stages-list__item {
  margin-bottom: 15px;
}

.stages .stages__inner .stages__list .stages-list__item span {
  color: #db553f;
  font-weight: 700;
}

.technology {
  position: relative;
}

.technology .technology__inner {
  position: relative;
  z-index: 2;
  max-width: 650px;
  padding: 50px 0 30vw;
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .technology .technology__inner {
    padding-bottom: 80vw;
  }
}

@media screen and (max-width: 425px) {
  .technology .technology__inner {
    padding-top: 20px;
  }
}

.technology .technology__inner .technology__title {
  position: relative;
  font-weight: 600;
  color: #454545;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.technology .technology__inner .technology__title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 150px;
  height: 3px;
  border-radius: 5px;
  background: #db553f;
}

.technology .technology__man {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.prices {
  background: url(../img/prices/bg.jpg) center no-repeat;
  background-size: cover;
  height: 100vh;
}

.prices .prices__inner {
  padding-top: 20vh;
}

@media screen and (max-width: 425px) {
  .prices .prices__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 15vh;
  }
}

.prices .prices__inner .prices__title {
  max-width: 650px;
  margin-bottom: 3vh;
}

@media screen and (max-width: 425px) {
  .prices .prices__inner .prices__title {
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .prices .prices__inner .prices__title {
    font-size: 42px;
  }
}

.prices .prices__inner .prices__button {
  margin-bottom: 2vh;
}

@media screen and (max-width: 425px) {
  .prices .prices__inner .prices__button {
    margin-top: 10vh;
  }
}

.cost {
  margin-top: 40px;
}

@media screen and (max-width: 425px) {
  .cost {
    margin-top: 20px;
  }
}

.cost .cost__inner {
  text-align: center;
}

.cost .cost__inner .cost__title {
  max-width: 950px;
  margin: 0 auto 20px;
}

.cost .cost__inner .cost__subtitle {
  margin-bottom: 30px;
}

@media screen and (max-width: 425px) {
  .cost .cost__inner .cost__subtitle {
    margin-bottom: 20px;
  }
}

.cost .cost__inner .cost__table {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #c4c4c4;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 25px 25px;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .cost .cost__inner .cost__table {
    font-size: 14px;
  }
}

.cost .cost__inner .cost__table .cost-table__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  color: #fff;
  padding: 10px 50px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .cost .cost__inner .cost__table .cost-table__header {
    padding: 10px;
  }
}

.cost .cost__inner .cost__table .cost-table__header .cost-table-header__name {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  text-align: left;
}

@media screen and (max-width: 520px) {
  .cost .cost__inner .cost__table .cost-table__header .cost-table-header__name {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.cost .cost__inner .cost__table .cost-table__header .cost-table-header__measure {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

@media screen and (max-width: 620px) {
  .cost .cost__inner .cost__table .cost-table__header .cost-table-header__measure {
    -ms-flex-preferred-size: 15%;
        flex-basis: 15%;
  }
}

@media screen and (max-width: 520px) {
  .cost .cost__inner .cost__table .cost-table__header .cost-table-header__measure {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}

@media screen and (max-width: 425px) {
  .cost .cost__inner .cost__table .cost-table__header .cost-table-header__measure {
    text-align: left;
  }
}

.cost .cost__inner .cost__table .cost-table__header .cost-table-header__price {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  font-weight: 800;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .cost .cost__inner .cost__table .cost-table__header .cost-table-header__price {
    text-align: center;
  }
}

@media screen and (max-width: 620px) {
  .cost .cost__inner .cost__table .cost-table__header .cost-table-header__price {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}

.cost .cost__inner .cost__table .cost-table__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  background: #cecece;
  padding: 25px;
  border-radius: 25px;
  margin: 0 20px 20px;
}

@media screen and (max-width: 768px) {
  .cost .cost__inner .cost__table .cost-table__item {
    padding: 10px;
    margin: 0 10px 20px;
    min-height: 80px;
  }
}

.cost .cost__inner .cost__table .cost-table__item:nth-child(2n+2) {
  color: #fff;
  background: #db553f;
}

.cost .cost__inner .cost__table .cost-table__item .cost-table-item__name {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  text-align: left;
}

@media screen and (max-width: 520px) {
  .cost .cost__inner .cost__table .cost-table__item .cost-table-item__name {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.cost .cost__inner .cost__table .cost-table__item .cost-table-item__measure {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  text-align: center;
}

@media screen and (max-width: 620px) {
  .cost .cost__inner .cost__table .cost-table__item .cost-table-item__measure {
    -ms-flex-preferred-size: 15%;
        flex-basis: 15%;
  }
}

@media screen and (max-width: 520px) {
  .cost .cost__inner .cost__table .cost-table__item .cost-table-item__measure {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}

.cost .cost__inner .cost__table .cost-table__item .cost-table-item__price {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  font-weight: 800;
  text-align: right;
}

@media screen and (max-width: 620px) {
  .cost .cost__inner .cost__table .cost-table__item .cost-table-item__price {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}

.cost .cost__inner .cost__text {
  margin-bottom: 40px;
}

.works {
  background: url(../img/works/bg.jpg) center no-repeat;
  background-size: cover;
  height: 100vh;
}

.works .works__inner {
  padding-top: 20vh;
}

@media screen and (max-width: 425px) {
  .works .works__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 15vh;
  }
}

@media screen and (max-width: 425px) {
  .works .works__inner .works__title {
    text-align: center;
  }
}

@media screen and (max-width: 300px) {
  .works .works__inner .works__title {
    font-size: 46px;
  }
}

.works .works__inner .works__subtitle {
  margin-bottom: 3vh;
}

@media screen and (max-width: 425px) {
  .works .works__inner .works__subtitle {
    text-align: center;
  }
}

.works .works__inner .works__button {
  margin-bottom: 2vh;
}

@media screen and (max-width: 425px) {
  .works .works__inner .works__button {
    margin-top: 15vh;
  }
}

@media screen and (max-width: 425px) and (max-height: 615px) {
  .works .works__inner .works__button {
    margin-top: 10vh;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.modal .modal__body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

.modal .modal__body .modal__img {
  position: relative;
  width: 50%;
  height: auto;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .modal .modal__body .modal__img {
    width: 75%;
  }
}

@media screen and (max-width: 425px) {
  .modal .modal__body .modal__img {
    width: 95%;
  }
}

.modal .modal__body .modal__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal .modal__body .modal__img .modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal .modal__body .modal__img .modal__close .far {
  font-size: 44px;
  color: #fff;
  cursor: pointer;
}

.modal .modal__body .modal__info {
  width: 50%;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .modal .modal__body .modal__info {
    width: 75%;
  }
}

@media screen and (max-width: 425px) {
  .modal .modal__body .modal__info {
    width: 95%;
  }
}

.modal_active {
  opacity: 1;
  visibility: visible;
}

.modal_active .modal__body {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.gallery {
  margin-bottom: 25px;
}

.gallery .gallery__inner .gallery__title {
  text-align: center;
  margin: 40px 0 20px;
}

@media screen and (max-width: 425px) {
  .gallery .gallery__inner .gallery__title {
    margin-top: 20px;
  }
}

@media screen and (max-width: 310px) {
  .gallery .gallery__inner .gallery__title {
    font-size: 34px;
  }
}

.gallery .gallery__inner .gallery__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .gallery .gallery__inner .gallery__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.gallery .gallery__inner .gallery__row .gallery__video {
  -ms-flex-preferred-size: 67%;
      flex-basis: 67%;
}

@media screen and (max-width: 768px) {
  .gallery .gallery__inner .gallery__row .gallery__video {
    margin-bottom: 20px;
  }
}

.gallery .gallery__inner .gallery__row .gallery__video video {
  width: 100%;
  height: 100%;
}

.gallery .gallery__inner .gallery__row .gallery__images {
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
}

.gallery .gallery__inner .gallery__row .gallery__images .gallery__img {
  position: relative;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 16px;
}

@media screen and (max-width: 768px) {
  .gallery .gallery__inner .gallery__row .gallery__images .gallery__img {
    margin-bottom: 25px;
    font-size: 16px;
  }
}

@media screen and (max-width: 550px) {
  .gallery .gallery__inner .gallery__row .gallery__images .gallery__img {
    font-size: 12px;
  }
}

.gallery .gallery__inner .gallery__row .gallery__images .gallery__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery .gallery__inner .gallery__row .gallery__images .gallery__img .gallery__info {
  position: absolute;
  bottom: 30px;
  left: 20px;
  z-index: 3;
  max-width: 320px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .gallery .gallery__inner .gallery__row .gallery__images .gallery__img .gallery__info {
    max-width: 95%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 550px) {
  .gallery .gallery__inner .gallery__row .gallery__images .gallery__img .gallery__info {
    max-width: 90%;
    margin-bottom: 10px;
  }
}

.gallery .gallery__inner .gallery__row .gallery__images .gallery__img .gallery__info::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 95%;
  height: 3px;
  border-radius: 5px;
  background: #db553f;
}

@media screen and (max-width: 768px) {
  .gallery .gallery__inner .gallery__row .gallery__images .gallery__img .gallery__info::after {
    width: 100%;
  }
}

.gallery .gallery__inner .gallery__row .gallery__images .gallery__img .gallery__date {
  position: absolute;
  bottom: 15px;
  right: 20px;
  z-index: 3;
}

.gallery .gallery__inner .gallery__row .gallery__images .gallery__img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(28.33%, rgba(0, 0, 0, 0)), to(#000000));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 28.33%, #000000 100%);
}

.gallery .gallery__inner .gallery__row .gallery__images .gallery__img::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background: url(../img/works/loupe.svg) center no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .gallery .gallery__inner .gallery__row .gallery__images .gallery__img::before {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 550px) {
  .gallery .gallery__inner .gallery__row .gallery__images .gallery__img::before {
    width: 40px;
    height: 40px;
  }
}

.gallery .gallery__inner .gallery__row .gallery__images .gallery__img:last-child {
  margin-bottom: 0;
}

.gallery .gallery__inner .gallery__slider {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.gallery .gallery__inner .gallery__slider .gallery-slider__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .gallery .gallery__inner .gallery__slider .gallery-slider__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 5px;
  }
}

.gallery .gallery__inner .gallery__slider .gallery-slider__card .slider-card__img {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  position: relative;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  max-height: 430px;
  margin-bottom: 25px;
}

@media screen and (max-width: 550px) {
  .gallery .gallery__inner .gallery__slider .gallery-slider__card .slider-card__img {
    font-size: 12px;
  }
}

.gallery .gallery__inner .gallery__slider .gallery-slider__card .slider-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery .gallery__inner .gallery__slider .gallery-slider__card .slider-card__img .slider-card__info {
  position: absolute;
  bottom: 40px;
  left: 20px;
  z-index: 3;
  max-width: 520px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .gallery .gallery__inner .gallery__slider .gallery-slider__card .slider-card__img .slider-card__info {
    max-width: 95%;
  }
}

@media screen and (max-width: 550px) {
  .gallery .gallery__inner .gallery__slider .gallery-slider__card .slider-card__img .slider-card__info {
    max-width: 90%;
    margin-bottom: 0;
  }
}

.gallery .gallery__inner .gallery__slider .gallery-slider__card .slider-card__img .slider-card__info::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 95%;
  height: 3px;
  border-radius: 5px;
  background: #db553f;
}

@media screen and (max-width: 768px) {
  .gallery .gallery__inner .gallery__slider .gallery-slider__card .slider-card__img .slider-card__info::after {
    width: 100%;
  }
}

.gallery .gallery__inner .gallery__slider .gallery-slider__card .slider-card__img .slider-card__date {
  position: absolute;
  bottom: 15px;
  right: 20px;
  z-index: 3;
}

.gallery .gallery__inner .gallery__slider .gallery-slider__card .slider-card__img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(28.33%, rgba(0, 0, 0, 0)), to(#000000));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 28.33%, #000000 100%);
}

.gallery .gallery__inner .gallery__slider .gallery-slider__card .slider-card__img::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background: url(../img/works/loupe.svg) center no-repeat;
  background-size: cover;
}

@media screen and (max-width: 550px) {
  .gallery .gallery__inner .gallery__slider .gallery-slider__card .slider-card__img::before {
    width: 40px;
    height: 40px;
  }
}

.gallery .gallery__inner .slick-arrow {
  position: absolute;
  font-size: 0;
  bottom: -3px;
  width: 10px;
  height: 20px;
  background: url(../img/works/arrow.svg) center no-repeat;
  background-size: cover;
}

.gallery .gallery__inner .slick-arrow.slick-prev {
  left: 42%;
}

@media screen and (max-width: 768px) {
  .gallery .gallery__inner .slick-arrow.slick-prev {
    left: 36%;
  }
}

@media screen and (max-width: 520px) {
  .gallery .gallery__inner .slick-arrow.slick-prev {
    left: 30%;
  }
}

@media screen and (max-width: 320px) {
  .gallery .gallery__inner .slick-arrow.slick-prev {
    left: 20%;
  }
}

.gallery .gallery__inner .slick-arrow.slick-next {
  right: 42%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
  .gallery .gallery__inner .slick-arrow.slick-next {
    right: 36%;
  }
}

@media screen and (max-width: 520px) {
  .gallery .gallery__inner .slick-arrow.slick-next {
    right: 30%;
  }
}

@media screen and (max-width: 320px) {
  .gallery .gallery__inner .slick-arrow.slick-next {
    right: 20%;
  }
}

.gallery .gallery__inner .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.gallery .gallery__inner .slick-dots li {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #cecece;
  cursor: pointer;
  margin-right: 10px;
}

.gallery .gallery__inner .slick-dots li:last-child {
  margin-right: 0;
}

.gallery .gallery__inner .slick-dots li.slick-active {
  background: #db553f;
}

.gallery .gallery__inner .slick-dots li button {
  font-size: 0;
  background: transparent;
}

.gyms {
  background: url(../img/gyms/bg.jpg) center no-repeat;
  background-size: cover;
  height: 100vh;
}

.gyms .gyms__inner {
  padding-top: 20vh;
}

@media screen and (max-width: 425px) {
  .gyms .gyms__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 15vh;
  }
}

.gyms .gyms__inner .gyms__title {
  margin-bottom: 3vh;
}

@media screen and (max-width: 425px) {
  .gyms .gyms__inner .gyms__title {
    text-align: center;
  }
}

@media screen and (max-width: 300px) {
  .gyms .gyms__inner .gyms__title {
    font-size: 46px;
  }
}

.gyms .gyms__inner .gyms__subtitle {
  margin-bottom: 1vh;
}

@media screen and (max-width: 425px) {
  .gyms .gyms__inner .gyms__subtitle {
    text-align: center;
  }
}

.gyms .gyms__inner .gyms__button {
  margin-bottom: 2vh;
}

@media screen and (max-width: 425px) {
  .gyms .gyms__inner .gyms__button {
    margin-top: 20vh;
  }
}

@media screen and (max-width: 425px) and (max-height: 615px) {
  .gyms .gyms__inner .gyms__button {
    margin-top: 10vh;
  }
}

.faq {
  background: url(../img/faq/bg.jpg) center no-repeat;
  background-size: cover;
  height: 100vh;
}

.faq .faq__inner {
  padding-top: 20vh;
}

@media screen and (max-width: 425px) {
  .faq .faq__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 15vh;
  }
}

.faq .faq__inner .faq__title {
  margin-bottom: 3vh;
}

@media screen and (max-width: 425px) {
  .faq .faq__inner .faq__title {
    text-align: center;
  }
}

.faq .faq__inner .faq__button {
  margin-bottom: 2vh;
}

@media screen and (max-width: 425px) {
  .faq .faq__inner .faq__button {
    margin-top: 20vh;
  }
}

@media screen and (max-width: 425px) and (max-height: 615px) {
  .faq .faq__inner .faq__button {
    margin-top: 10vh;
  }
}

.answers .answers__inner .answers__title {
  text-align: center;
  margin: 40px 0;
}

@media screen and (max-width: 425px) {
  .answers .answers__inner .answers__title {
    margin: 20px 0;
  }
}

.answers .answers__inner .answers__list {
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .answers .answers__inner .answers__list {
    font-size: 17px;
  }
}

@media screen and (max-width: 425px) {
  .answers .answers__inner .answers__list {
    font-size: 14px;
  }
}

.answers .answers__inner .answers__list .answers-list__item .answers-list__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

@media screen and (max-width: 425px) {
  .answers .answers__inner .answers__list .answers-list__item .answers-list__row {
    margin-bottom: 20px;
  }
}

.answers .answers__inner .answers__list .answers-list__item .answers-list__row:first-child img {
  margin-right: 45px;
}

@media screen and (max-width: 768px) {
  .answers .answers__inner .answers__list .answers-list__item .answers-list__row:first-child img {
    margin-right: 26px;
  }
}

@media screen and (max-width: 425px) {
  .answers .answers__inner .answers__list .answers-list__item .answers-list__row:first-child img {
    margin-right: 7px;
  }
}

.answers .answers__inner .answers__list .answers-list__item .answers-list__row:last-child img {
  margin-left: 45px;
}

@media screen and (max-width: 768px) {
  .answers .answers__inner .answers__list .answers-list__item .answers-list__row:last-child img {
    margin-left: 26px;
  }
}

@media screen and (max-width: 425px) {
  .answers .answers__inner .answers__list .answers-list__item .answers-list__row:last-child img {
    margin-left: 7px;
  }
}

.answers .answers__inner .answers__list .answers-list__item .answers-list__row .answers-list__question {
  position: relative;
  max-width: 82%;
  background: #cecece;
  border-radius: 40px;
  padding: 10px 30px;
}

@media screen and (max-width: 425px) {
  .answers .answers__inner .answers__list .answers-list__item .answers-list__row .answers-list__question {
    padding: 10px 20px;
  }
}

.answers .answers__inner .answers__list .answers-list__item .answers-list__row .answers-list__question::after {
  content: '';
  position: absolute;
  bottom: -14px;
  left: -6px;
  border: 10px solid transparent;
  border-top: 20px solid #cecece;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.answers .answers__inner .answers__list .answers-list__item .answers-list__row .answers-list__answer {
  position: relative;
  color: #fff;
  max-width: 82%;
  background: #db553f;
  border-radius: 40px;
  padding: 10px 30px;
  margin-left: auto;
}

@media screen and (max-width: 425px) {
  .answers .answers__inner .answers__list .answers-list__item .answers-list__row .answers-list__answer {
    padding: 10px 20px;
  }
}

.answers .answers__inner .answers__list .answers-list__item .answers-list__row .answers-list__answer::after {
  content: '';
  position: absolute;
  bottom: -12px;
  right: -8px;
  border: 10px solid transparent;
  border-top: 20px solid #db553f;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.contacts {
  background: url(../img/contacts/bg.jpg) center no-repeat;
  background-size: cover;
  height: 100vh;
}

.contacts .contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20vh;
}

@media screen and (max-width: 425px) {
  .contacts .contacts__inner {
    padding-top: 12vh;
  }
}

.contacts .contacts__inner .contacts__title {
  margin-bottom: 2vh;
}

@media screen and (max-width: 425px) {
  .contacts .contacts__inner .contacts__title {
    font-size: 45px;
    text-align: center;
  }
}

@media screen and (max-width: 360px) {
  .contacts .contacts__inner .contacts__title {
    font-size: 40px;
  }
}

@media screen and (max-width: 320px) {
  .contacts .contacts__inner .contacts__title {
    font-size: 35px;
  }
}

.contacts .contacts__inner .contacts__subtitle {
  margin-bottom: 3vh;
}

@media screen and (max-width: 425px) {
  .contacts .contacts__inner .contacts__subtitle {
    text-align: center;
  }
}

.contacts .contacts__inner .contacts__button {
  margin-bottom: 2vh;
}

@media screen and (max-width: 425px) {
  .contacts .contacts__inner .contacts__button {
    margin-top: 10vh;
  }
}

@media screen and (max-width: 425px) and (max-height: 615px) {
  .contacts .contacts__inner .contacts__button {
    margin-top: 5vh;
  }
}

.contact {
  margin-bottom: 70px;
}

@media screen and (max-width: 1024px) {
  .contact {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 425px) {
  .contact {
    margin-bottom: 20px;
  }
}

.contact .contact__inner .contact__title {
  margin: 40px 0;
}

@media screen and (max-width: 1024px) {
  .contact .contact__inner .contact__title {
    margin: 20px 0;
    text-align: center;
  }
}

.contact .contact__inner .contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .contact__inner .contact__row .contact__map {
  -ms-flex-preferred-size: 57%;
      flex-basis: 57%;
}

@media screen and (max-width: 1024px) {
  .contact .contact__inner .contact__row .contact__map {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 425px) {
  .contact .contact__inner .contact__row .contact__map {
    margin-bottom: 10px;
  }
}

.contact .contact__inner .contact__row .contact__map .contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.contact .contact__inner .contact__row .contact__map .contact__item:first-child .fas {
  font-size: 40px;
}

.contact .contact__inner .contact__row .contact__map .contact__item .fas {
  font-size: 30px;
  color: #db553f;
  margin-right: 20px;
}

.contact .contact__inner .contact__row .contact__map .contact__item .contact-item__title {
  font-weight: 700;
}

.contact .contact__inner .contact__row .contact__map .contact-map__container iframe {
  width: 100%;
  height: 400px;
  border: 3px solid #454545;
  -webkit-box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.contact .contact__inner .contact__row .contact__form {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  color: #fff;
  text-align: center;
  background: #0a0a0a;
  -webkit-box-shadow: 0 0 10px rgba(169, 38, 108, 0.12);
          box-shadow: 0 0 10px rgba(169, 38, 108, 0.12);
  border-radius: 10px;
  padding: 40px;
}

@media screen and (max-width: 1024px) {
  .contact .contact__inner .contact__row .contact__form {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
}

.contact .contact__inner .contact__row .contact__form .contact-form__title {
  position: relative;
  font-size: 30px;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.contact .contact__inner .contact__row .contact__form .contact-form__title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  max-width: 210px;
  height: 2px;
  background: #db553f;
  border-radius: 5px;
}

.contact .contact__inner .contact__row .contact__form .contact-form__text {
  text-align: left;
  opacity: .6;
  margin-bottom: 5px;
}

.contact .contact__inner .contact__row .contact__form .contact-form__input,
.contact .contact__inner .contact__row .contact__form .contact-form__textarea,
.contact .contact__inner .contact__row .contact__form .contact-form__button {
  width: 100%;
  font-size: 15px;
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 8px;
}

.contact .contact__inner .contact__row .contact__form .contact-form__input {
  height: 50px;
}

.contact .contact__inner .contact__row .contact__form .contact-form__textarea {
  height: 150px;
  margin-bottom: 40px;
}

.contact .contact__inner .contact__row .contact__form .contact-form__button {
  text-transform: uppercase;
  border-radius: 35px;
  height: 70px;
}
