@import '_normalize'

$btn-clr: #9b9bca

html, body
  font-family: 'Poppins', sans-serif
  font-size: 18px
  color: #626780
  overflow-x: hidden

h1, h2, h3, h4, h5, h6
  font-weight: 500

// Container

.container
  width: 100%
  max-width: 1145px
  padding: 0 15px
  margin: 0 auto

.wrapper
  position: relative
  overflow-x: hidden

.content
  transition: .4s
  &_active
    transform: translateX(-30%)
    @media screen and (max-width: 666px)
      transform: translateX(-200px)

// Header

.header
  position: fixed
  top: 0
  left: 0
  z-index: 100
  width: 100%
  height: 10%
  display: flex
  align-items: center
  background: rgba(196, 196, 196, .1)
  .header__inner
    display: flex
    justify-content: space-between
    align-items: center
    .header__logo
      display: flex
      align-items: center
      font-family: sans-serif
      font-size: 22px
      height: 8vh
      @media screen and (max-width: 480px)
        font-size: 0
      img
        height: 100%
        margin-right: 20px
    .nav
      @media screen and (max-width: 1024px)
        position: fixed
        top: 0
        right: 0
        width: 30%
        min-width: 200px
        height: 100vh
        transform: translateX(100%)
        transition: .4s
        &_active
          transform: translateX(0)
      .nav__button
        display: none
        @media screen and (max-width: 1024px)
          display: block
          span
            display: block
            position: absolute
            top: 33px
            right: 106%
            width: 30px
            height: 2px
            background: #fff
            &:before
              content: ''
              position: absolute
              top: -8px
              right: 0
              width: 20px
              height: 2px
              transition: .2s linear
              background: #fff
            &:after
              content: ''
              position: absolute
              top: 8px
              width: 20px
              height: 2px
              background: #fff
              transition: .2s linear
          &_active
            span
              &::before
                width: 30px
              &::after
                width: 30px
      .nav__inner
        display: flex
        justify-content: space-between
        align-items: center
        @media screen and (max-width: 1024px)
          height: 100%
          justify-content: center
          flex-direction: column
        .nav__item
          padding: 0 30px
          transition: .2s linear
          @media screen and (max-width: 1024px)
            font-weight: 700
            text-transform: uppercase
            margin-bottom: 30px
          &:hover, &:focus
            padding: 15px 60px
            background: $btn-clr
            border-radius: 10px
            color: #fff
            font-weight: 600
  &_purple
    background: $btn-clr
    color: #fff
    .header__inner
      .nav
        @media screen and (max-width: 1024px)
          background: $btn-clr
        .nav__inner
          .nav__item
            &:hover
              background: #fff
              color: $btn-clr

// Section

.section
  padding: 100px 0
  @media screen and ( max-width: 768px)
    padding: 75px 0
  @media screen and ( max-width: 425px)
    padding: 50px 0

// Title

.title_lg
  font-family: 'DM Serif Display', serif
  font-size: 56px
  font-weight: 400
  color: #696a86
  line-height: 1
  color: $btn-clr
  max-width: 550px

.title_sm
  text-align: center
  font-size: 26px
  line-height: 40px
  margin-bottom: 12px

.subtitle
  text-align: center
  line-height: 30px
  margin-bottom: 100px
  @media screen and ( max-width: 768px)
    margin-bottom: 75px
  @media screen and ( max-width: 425px)
    margin-bottom: 50px
    

// Button

.button
  padding: 15px 60px
  background: $btn-clr
  border-radius: 10px
  color: #fff
  font-weight: 600
  transition: background .2s linear
  &:hover, &:focus
    background: lighten($btn-clr, 7%)
  &_red
    background: #f01f35
    &:hover, &:focus
      background: lighten(#f01f35, 17%)
  &:hover, &:focus
    color: #fff

// Main

.main
  min-height: 100vh
  background: url(../img/main/bg.jpg) center no-repeat
  background-size: cover
  .main__inner
    padding-bottom: 6vh
    .main__title
      padding-top: 35vh
      margin-bottom: 4vh
      @media screen and ( max-width: 425px )
        padding-top: 25vh
      @media screen and ( max-width: 375px )
        padding-top: 20vh
    .main__subtitle
      max-width: 750px
      text-align: left
      margin-bottom: 4vh
    .main__button
      color: #fff

// Service

.service
  .service__inner
    .service__title
    .service__subtitle
      max-width: 750px
      margin-right: auto
      margin-left: auto
      @media screen and ( max-width: 1440px)
        margin-bottom: 100px
      @media screen and ( max-width: 1024px)
        margin-bottom: 80px
      @media screen and ( max-width: 768px)
        margin-bottom: 40px
    .service__list
      display: flex
      justify-content: space-between
      @media screen and ( max-width: 950px)
        flex-direction: column
      .service__item
        flex-basis: 25%
        display: flex
        flex-direction: column
        align-items: center
        text-align: center
        padding: 20px
        transition: .2s linear
        @media screen and ( max-width: 950px)
          flex-direction: column
          width: 80%
          margin: 0 auto
        &:hover
          border: 1px solid #9d9d9d
          border-bottom: 7px solid #c4c4c4
          border-radius: 5px
        .item-service__img
          margin-bottom: 20px
        .item-service__title
          font-size: 22px
          margin-bottom: 10px
        .item-service__text
          font-size: 16px

// People

.people
  @media screen and (max-width: 1100px)
    display: none
  .people__inner
    display: flex
    .people__text
      flex-basis: 45%
      .people__title
        text-align: left
      .people__subtitle
        text-align: left
    .people__picture
      flex-basis: 55%
      position: relative
      & > div
        width: 95px
        height: 95px
        & > img
          width: 100%
          height: 100%
          border-radius: 50%
          object-fit: cover
      .picture-people__support
        position: absolute
        top: 40%
        right: 35%
      .picture-people__img-1
        position: absolute
        bottom: 15%
        left: -10%
      .picture-people__img-2
        position: absolute
        bottom: 45%
        left: 15%
      .picture-people__img-3
        position: absolute
        top: -10%
        left: 25%
      .picture-people__img-4
        position: absolute
        bottom: -5%
        left: 30%
      .picture-people__img-5
        position: absolute
        bottom: -15%
        right: 20%
      .picture-people__img-6
        position: absolute
        top: -5%
        right: 15%

// Video

.video
  .video__title
    margin-bottom: 80px
  .video__video
    position: relative
    display: block
    width: 100%

// Circles

.circle
  position: absolute
  z-index: -1
  border-radius: 50%
  &_blue
    background: #f5f5ff
  &_pink
    background: #ffedef
  &_sm
    width: 26px
    height: 26px
  &_md
    width: 48px
    height: 48px
  &_lg
    width: 88px
    height: 88px
  &_xl
    width: 1030px
    height: 1030px
  &_xxl
    width: 2240px
    height: 2240px

// FAQ

.faq
  .faq__inner
    display: flex
    justify-content: space-between
    @media screen and (max-width: 768px)
      flex-direction: column
    .faq__column
      position: relative
      flex-basis: 50%
      margin-bottom: 130px
      @media screen and (max-width: 1440px)
        margin-bottom: 100px
      @media screen and  (max-width: 1024px)
        margin-bottom: 80px
      @media screen and (max-width: 768px)
        margin-bottom: 0
        &:last-child
          margin-bottom: 40px
      .faq__title
        margin-bottom: 40px
      .faq__img
        @media screen and (max-width: 768px)
          display: none
      .faq__circle
        top: 0
        right: -80%
        @media screen and (max-width: 768px)
          display: none
  .faq__button
    color: #fff
    text-transform: uppercase
    display: flex
    justify-content: center
    align-items: center
    padding: 30px 220px
    width: 90%
    max-width: 550px
    margin: 0 auto
    @media screen and (max-width: 660px)
      padding: 20px
    @media screen and (max-width: 510px)
      padding: 15px

// Accordion

.accordion
  color: #402b2b
  width: 90%
  @media screen and (max-width: 768px)
    margin: 0 auto
  &_second
    .accordion__item
      &:first-child
        .accordion__item-body
        display: none
  &__item
    margin-bottom: 10px
    &-header
      position: relative
      z-index: 2
      background: #fff
      box-shadow: 0 5px 10px #e0e0e0
      border-radius: 22px
      padding: 25px 35px
      cursor: pointer
    .in
      cursor: default
    &-body
      display: none
      position: relative
      z-index: 1
      font-weight: 300
      background: #f5f5ff
      box-shadow: 0 25px 60px rgba(191, 191, 236, 0.72)
      border-radius: 10px
      padding: 60px 35px 40px
      transform: translateY(-30px)
    &:first-child 
      .accordion__item-body
        display: block

// Features

.features
  position: relative
  .features__inner
    .features__title
    .features__subtitle
      max-width: 660px
      margin-right: auto
      margin-left: auto
    .features__cards
      display: flex
      justify-content: space-around
      margin-bottom: 200px
      @media screen and ( max-width: 950px)
        flex-direction: column
        margin-bottom: 100px
      @media screen and ( max-width: 1024px)
        margin-bottom: 150px
      @media screen and ( max-width: 768px)
        margin-bottom: 75px
      @media screen and ( max-width: 425px)
        margin-bottom: 50px
      .cards-features__item
        display: flex
        flex-direction: column
        align-items: center
        background: #fff
        max-width: 440px
        box-shadow: 0 20px 30px rgba(0, 0, 0, .1)
        border: 1px solid #ccc
        border-radius: 10px
        z-index: 10
        @media screen and ( max-width: 950px)
          margin: 0 auto 60px
        .item-features__img
          width: 340px
          height: 150px
          margin: 60px 0
          @media screen and ( max-width: 425px)
            width: 85%
            margin: 30px 0
          img
            width: 100%
            height: 100%
            border-radius: 10px
            object-fit: cover
        .item-features__title
          color: #000
          font-size: 26px
          line-height: 1
          margin-bottom: 20px
        .item-features__text
          text-align: center
          line-height: 30px
          margin: 0 50px 50px
          @media screen and (max-width: 425px)
            margin-bottom: 0
        .item-features__button
          color: #fff
          min-width: 240px
          text-align: center
          transform: translateY(50%)
    .features__img
      position: absolute
      bottom: 0
      left: 0
      @media screen and (max-width: 1024px)
        display: none
    .features__col
      width: 60%
      margin: 0 0 0 auto
      @media screen and (max-width: 1024px)
        width: 100%
        margin: 0 auto
      .features__slider
        color: #9d9d9d
        background: #fff
        width: 80%
        box-shadow: 0 20px 40px rgba(238, 77, 71, .1)
        border-radius: 10px
        padding: 30px 90px
        margin-left: auto
        @media screen and (max-width: 1024px)
          margin: 0 auto
        @media screen and (max-width: 768px)
          padding: 30px 60px
        @media screen and (max-width: 560px)
          width: 95%
        .slider-features__item
          .item-features__text
            margin-bottom: 40px
            @media screen and (max-width: 560px)
              margin-bottom: 20px
              font-size: 16px
          .item-features__row
            display: flex
            @media screen and (max-width: 480px)
              flex-direction: column
              text-align: center
          .item-features__img
            width: 100px
            height: 100px
            box-shadow: 2px 8px 15px rgba(147, 147, 147, .25)
            margin-right: 50px
            border-radius: 50%
            @media screen and (max-width: 560px)
              margin-right: 5%
              width: 75px
              height: 75px
            @media screen and (max-width: 480px)
              margin: 0 auto
            img
              width: 100%
              height: 100%
              border-radius: 50%
              object-fit: cover
          .item-features__col
            .item-features__name
              color: #626780
              font-weight: 600
            .item-features__rating
              font-size: 16px
            .item-features__row
              display: flex
              .item-features__stars
                display: flex
                align-items: center
                margin-right: 8px
                @media screen and (max-width: 480px)
                  margin: 0 auto
                img
                  width: 12px
                  height: 12px
              span
                font-size: 12px
  .features__circle
    @media screen and (max-width: 1024px)
      &:not(.features__circle-1)
        display: none
    @media screen and (max-width: 768px)
      display: none
  .features__circle-1
    bottom: 5%
    left: -20%
  .features__circle-2
    bottom: -15%
    left: 30%
  .features__circle-3
    bottom: -7%
    left: 30%
  .features__circle-4
    bottom: 15%
    left: 37%
  .features__circle-5
    bottom: -50%
    left: 37%
  .features__circle-6
    bottom: -5%
    left: 47%
  .features__circle-7
    bottom: -5%
    left: 45%

// Contact

.contact
  .contact__inner
    .contact__title
      margin-bottom: 100px
    .contact__form
      max-width: 700px
      margin: 0 auto
      background: #fff
      box-shadow: 0 20px 40px rgba(149, 149, 201, .4)
      border-radius: 10px
      padding: 100px 150px
      @media screen and ( max-width: 768px)
        padding: 25px 75px
      @media screen and ( max-width: 600px)
        padding: 25px 50px
      @media screen and ( max-width: 425px)
        padding: 25px
      .form__title
        font-size: 16px
        line-height: 40px
      .form__input
        width: 100%
        background: #fff
        border: 1px solid #9595c9
        border-radius: 5px
        padding: 15px 40px
        margin-bottom: 30px
        &:focus
          font-weight: 500
          border: 2px solid #9595c9
          box-shadow: 0 20px 40px rgba(149, 149, 201, .2)
        &:placeholder
          color: #9d9d9d
      .form__name
      .form__password
      .form__button
        text-transform: uppercase
        letter-spacing: .05em
        margin-bottom: 30px
        @media screen and ( max-width: 768px)
          display: block
          margin: 0 auto 30px
      .form__text
        @media screen and ( max-width: 768px)
          text-align: center
        .form__link
          font-weight: 500
          color: #f01f35
          @media screen and ( max-width: 470px)
            display: block
            width: 100%

// Footer

.footer
  position: relative
  overflow: hidden
  padding: 200px 0 35px
  @media screen and ( max-width: 768px)
    padding: 50px 0 15px
  .footer__inner
    color: #fff
    letter-spacing: 1px
    @media screen and ( max-width: 768px )
      color: $btn-clr
    .footer__links
      display: flex
      justify-content: space-around
      flex-wrap: wrap
      margin-bottom: 75px
      @media screen and ( max-width: 600px)
        text-align: center
      .footer__list
        flex-basis: 25%
        padding-right: 15px
        @media screen and ( max-width: 425px)
          padding-right: 0
        &:last-child
          padding-right: 0
        @media screen and ( max-width: 600px)
          flex-basis: 50%
          margin-bottom: 20px
        @media screen and ( max-width: 425px)
          flex-basis: 100%
        .footer__title
          font-size: 20px
          line-height: 30px
          font-weight: 500
          margin-bottom: 12px
        .footer__link
          font-size: 16px
          line-height: 24px
          color: #e6e6e6
          transition: .2s linear
          @media screen and ( max-width: 768px)
            color: lighten($btn-clr, 7%)
          &:hover, &:focus
            font-size: 20px
            font-weight: 500
            color: #fff
            @media screen and ( max-width: 768px )
              color: $btn-clr
    .footer__row
      display: flex
      justify-content: space-between
      @media screen and ( max-width: 600px)
        flex-direction: column
      .footer__copyright
        flex-basis: 33%
        font-size: 16px
        line-height: 30px
        font-weight: 300
        @media screen and ( max-width: 600px )
          flex-basis: 100%
          text-align: center
          margin-bottom: 10px
      .footer__social
        flex-basis: 33%
        display: flex
        justify-content: center
        @media screen and ( max-width: 600px )
          flex-basis: 100%
          margin-bottom: 10px
        .social-footer__item
          display: flex
          justify-content: center
          align-items: center
          width: 36px
          height: 36px
          background: #fff
          border-radius: 50%
          margin-right: 15px
          transition: transform .2s linear
          &:last-child
            margin-right: 0
          &:hover, &:focus
            transform: scale(1.15)
          i
            font-size: 20px
            color: $btn-clr
          @media screen and ( max-width: 768px )
            background: $btn-clr
            i
              color: #fff
    .footer__logo
      flex-basis: 33%
      display: flex
      justify-content: flex-end
      align-items: center
      @media screen and ( max-width: 600px )
          flex-basis: 100%
          justify-content: center
  .footer__circle
    background: $btn-clr
    bottom: -1720px
    left: 50%
    transform: translatex(-50%)
    @media screen and ( max-width: 768px)
      display: none

// Slider
.slider
  position: relative
.slick-arrow
  position: absolute
  top: 50%
  transform: translateY(-50%)
  font-size: 0
  width: 56px
  height: 56px
  background: #eee
  border-radius: 50%
  transition: background .2s linear
  &:hover, &:focus
    background: darken(#eee, 10%)
  @media screen and ( max-width: 768px)
    width: 36px
    height: 36px
  &::after
    position: absolute
    content: ''
    top: 50%
    left: 50%
    width: 10px
    height: 10px
    border-top: 2px solid #b7b7b7
    border-right: 2px solid #b7b7b7
    transition: border .2s linear
    @media screen and ( max-width: 768px)
      width: 8px
      height: 8px
  &:hover::after
    border-top: 2px solid darken(#b7b7b7, 10%)
    border-right: 2px solid darken(#b7b7b7, 10%)
.slick-arrow.slick-prev
  left: 10px
  &::after
    transform: translate(-50%, -50%) rotate(-135deg)
.slick-arrow.slick-next
  right: 10px
  &::after
    transform: translate(-50%, -50%) rotate(45deg)