* {
  margin: 0;
  padding: 0;
  bottom: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  width: 100%;
  font-size: 14px;
  line-height: 1.6;
}

nav,
footer,
header,
aside {
  display: block;
}

a,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}

:focus,
:active,
a:focus,
a:active {
  outline: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Codec Pro';
  src: local("Codec Pro Bold"), local("Codec-Pro-Bold"), url("../fonts/CodecPro-Bold.woff2") format("woff2"), url("../fonts/CodecPro-Bold.woff") format("woff"), url("../fonts/CodecPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Codec Pro';
  src: local("Codec Pro Extra Bold"), local("Codec-Pro-Extra-Bold"), url("../fonts/CodecPro-ExtraBold.woff2") format("woff2"), url("../fonts/CodecPro-ExtraBold.woff") format("woff"), url("../fonts/odecPro-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

html,
body {
  font-family: 'Proxima Nova', sans-serif;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1340px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  padding: 30px 40px;
  background: -webkit-gradient(linear, left top, right top, from(#0b9fff), to(#b901ff));
  background: linear-gradient(to right, #0b9fff, #b901ff);
  font-family: 'Codec Pro', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 1px;
  -webkit-transition: -webkit-box-shadow .2s linear;
  transition: -webkit-box-shadow .2s linear;
  transition: box-shadow .2s linear;
  transition: box-shadow .2s linear, -webkit-box-shadow .2s linear;
}

.button:hover {
  -webkit-box-shadow: 0 20px 50px rgba(236, 14, 253, 0.3);
          box-shadow: 0 20px 50px rgba(236, 14, 253, 0.3);
}

.intro {
  position: relative;
  background: url(../img/intro/bg.jpg) center no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: #fff;
}

.intro-inner {
  position: relative;
  z-index: 2;
}

.intro-inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro-inner-row-col {
  position: relative;
}

.intro-inner-row-col:last-child {
  padding-right: 160px;
}

.intro-inner-row-col-title {
  font-family: 'Codec Pro', sans-serif;
  font-size: 70px;
  font-weight: 700;
  line-height: 1.2;
  max-width: 470px;
  margin-bottom: 6vh;
}

.intro-inner-row-col-subtitle {
  position: relative;
  font-size: 19px;
  max-width: 340px;
  line-height: 1.5;
  padding-left: 80px;
  margin-bottom: 10vh;
}

.intro-inner-row-col-subtitle::before {
  position: absolute;
  content: '';
  width: 88px;
  height: 1px;
  background: #fff;
  top: 12px;
  left: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.intro-inner-row-col-button {
  position: relative;
  padding-right: 80px;
  z-index: 1;
}

.intro-inner-row-col-button:hover::before {
  -webkit-transform: translate(-15px, 15px);
          transform: translate(-15px, 15px);
}

.intro-inner-row-col-button:hover::after {
  -webkit-transform: translateY(-7px) scale(1.35);
          transform: translateY(-7px) scale(1.35);
}

.intro-inner-row-col-button::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid;
  -o-border-image: linear-gradient(to right, #0b9fff, #b901ff) 1 1;
     border-image: -webkit-gradient(linear, left top, right top, from(#0b9fff), to(#b901ff)) 1 1;
     border-image: linear-gradient(to right, #0b9fff, #b901ff) 1 1;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.intro-inner-row-col-button::after {
  position: absolute;
  content: '';
  width: 12px;
  height: 12px;
  background: url(../img/intro/arrow.png) center no-repeat;
  top: 50%;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  right: 32px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.intro-inner-row-col-more {
  font-size: 14px;
  display: block;
  position: absolute;
  bottom: 0;
  -webkit-transform: rotate(-90deg) translateX(50%);
          transform: rotate(-90deg) translateX(50%);
  padding: 60px 0;
}

.intro-inner-row-col-more::before {
  position: absolute;
  content: '';
  width: 40px;
  height: 1px;
  background: #fff;
  left: -103%;
  top: 50%;
}

.intro-inner-row-col-text {
  max-width: 350px;
  font-size: 19px;
  opacity: .6;
  margin-bottom: 8vh;
}

.intro-inner-row-col-stats {
  background: #3a415d;
  max-width: 370px;
  padding: 1px 60px;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.intro-inner-row-col-stats-item {
  position: relative;
  line-height: 1;
  margin-top: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid #4e546e;
}

.intro-inner-row-col-stats-item:last-child {
  border-bottom: 0;
}

.intro-inner-row-col-stats-item__img {
  position: absolute;
  top: 0;
  left: 0;
}

.intro-inner-row-col-stats-item-info {
  padding-left: 70px;
}

.intro-inner-row-col-stats-item-info__num {
  font-family: 'Codec Pro', sans-serif;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 15px;
}

.intro-inner-row-col-stats-item-info__text {
  font-size: 19px;
}

.intro-inner-row-col-ad {
  font-family: 'Codec Pro', sans-serif;
  font-size: 60px;
  font-weight: 800;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(-90deg) translateX(80px) translateY(100%);
          transform: rotate(-90deg) translateX(80px) translateY(100%);
}

.intro-ruble {
  position: absolute;
  z-index: 1;
  top: -100px;
  right: -100px;
}

.header {
  margin-bottom: 6vh;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  text-transform: uppercase;
}

.header-inner-logo-name {
  font-family: 'Codec Pro', sans-serif;
  font-size: 10px;
  font-weight: 800;
  color: #292b33;
  text-align: center;
  margin-top: 18px;
  letter-spacing: 3px;
}

.header-inner-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-inner-user-log {
  position: relative;
  margin-right: 62px;
}

.header-inner-user-log::before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -28px;
  width: 15px;
  height: 15px;
  background: url(../img/intro/log.png);
}

.header-inner-user-reg {
  position: relative;
}

.header-inner-user-reg::before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -28px;
  width: 15px;
  height: 15px;
  background: url(../img/intro/reg.png);
}

.nav-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-inner__item {
  margin-right: 80px;
}

.nav-inner__item:last-child {
  margin-right: 0;
}

.features {
  position: relative;
  margin: 90px auto;
  padding-top: 50px;
}

.features-inner {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1240px;
}

.features-inner-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-inner-item__img {
  width: 66px;
  height: 66px;
  margin-right: 50px;
}

.features-inner-item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.features-inner-item__text {
  font-size: 18px;
}

.features-ruble {
  position: absolute;
  z-index: 1;
  left: -125px;
}

.cards {
  position: relative;
  margin-bottom: 100px;
}

.cards-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards-inner-item {
  position: relative;
  z-index: 2;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  color: #fff;
  padding: 60px 80px;
  margin-right: 75px;
}

.cards-inner-item__img {
  margin-bottom: 45px;
}

.cards-inner-item__title {
  font-family: 'Codec Pro', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 45px;
}

.cards-inner-item__text {
  font-size: 16px;
  margin-bottom: 75px;
}

.cards-inner-item__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  padding: 0;
}

.cards-inner-item_dark-blue {
  background: #3a415d;
}

.cards-inner-item_black {
  background: #0b080e;
}

.cards-inner-img {
  position: absolute;
  top: 0;
  right: -8vw;
  z-index: 1;
  width: 43%;
}

.cards-ruble {
  position: absolute;
  z-index: 2;
  right: 5%;
  top: 25%;
}

.footer {
  background: url(../img/footer/bg.jpg) center no-repeat;
  background-size: cover;
}

.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  padding: 60px 0;
}

.footer-inner-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}

.footer-inner-links__item {
  margin-right: 50px;
}

.footer-inner-links__item:last-child {
  margin-right: 0;
}

.footer-inner-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
}

.footer-inner-info__copyright {
  opacity: .5;
  margin-right: 90px;
}

.footer-inner-info__policy {
  opacity: .5;
  margin-right: 105px;
  text-decoration: underline;
}

.footer-inner-info__mail {
  position: relative;
  font-size: 16px;
  color: #0e9dff;
}

.footer-inner-info__mail:hover::after {
  background: transparent;
}

.footer-inner-info__mail::before {
  position: absolute;
  content: '';
  top: 50%;
  left: -30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 15px;
  height: 10px;
  background: url(../img/footer/mail.png);
}

.footer-inner-info__mail::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: url(../img/footer/line.png);
}
