@import 'normalize.scss';

$bg-clr-dark: #111;
$elements-clr: #fcac45;

html,
body {
	font-family: 'Open Sans', sans-serif;
	color: #222;
}

.body_lock {
	overflow: hidden;
}

// Container

.container {
	width: 100%;
	max-width: 1180px;
	padding: 0 15px;
	margin: 0 auto;
}

// Intro

.intro {
	min-height: 100vh;
	background: $bg-clr-dark;
	color: #fff;
	display: flex;
	&__inner {
		text-align: center;
		line-height: 1;
		.intro__title {
			font-size: 44px;
			font-weight: 300;
			color: #999999;
			text-transform: uppercase;
			margin-top: 25vh;
			margin-bottom: 10px;
			b {
				font-weight: 700;
				color: $elements-clr;
			}
			@media screen and (max-width: 425px) {
				margin-top: 6vh;
			}
		}
		.intro__subtitle {
			font-size: 20px;
		}
	}
}
// Header

.header {
	&__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 56px 0;
		.header__logo {
			font-size: 24px;
			font-weight: 700;
			text-transform: uppercase;
			transition: transform .2s linear;
			&:hover {
				transform: scale(1.05);
			}
		}
	}
}

// Nav

.nav {
	&__burger {
		@media screen and (max-width: 1024px) {
			display: block;
			position: relative;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background: #fff;
			z-index: 11;
			span,
			span:before,
			span:after {
				content: '';
				display: block;
				position: absolute;
				width: 20px;
				height: 2px;
				background: #000;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				transition: all .2s;
			}
			span:before {
				margin-top: -6px;
			}
			span:after {
				margin-top: 6px;
			}
			&_active {
				span {
					background: transparent;
					&:before {
						transform: rotate(-135deg); // 45 or -135
						left: 0;
						top: 0;
						margin: 0;
					}
					&:after {
						transform: rotate(135deg); // -45 or 135
						left: 0;
						top: 0;
						margin: 0;
					}
				}
			}
		}
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		@media screen and (max-width: 1024px) {
			position: fixed;
			top: 50%;
			left: 100%;
			transform: translate(0, -50%);
			width: 100%;
			max-width: 100%;
			height: 100%;
			margin: 0;
			padding: 60px 0;
			flex-direction: column;
			font-size: 40px;
			font-weight: 700;
			text-align: center;
			overflow: auto;
			transition: all .2s;
			&_active {
				justify-content: center;
				color: #fff;
				position: fixed;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				transition: all .2s;
				background: $bg-clr-dark;
				z-index: 10;
			}
		}
		.nav__item {
			position: relative;
			margin-right: 37px;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			@media screen and (max-width: 1024px) {
				font-size: 34px;
				margin-bottom: 24px;
				margin-right: 0;
			}
			&_logo {
				display: none;
				font-size: 40px;
				position: absolute;
				top: 50px;
				left: 50%;
				transform: translateX(-50%);
				@media screen and (max-width: 1024px) {
					display: block;
				}
			}
			&:after {
				content: '';
				position: absolute;
				bottom: -12px;
				left: 0;
				width: 100%;
				height: 0;
				background: $elements-clr;
				transition: height .1s linear;
			}
			&:hover:after {
				height: 3px;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

// Section

.section {
	padding: 100px 0;
	@media screen and (max-width: 768px) {
		padding: 75px 0;
	}
	@media screen and (max-width: 425px) {
		padding: 50px 0;
	}
	&_dark {
		background: $bg-clr-dark;
		color: #fff;
	}
	&__title {
		position: relative;
		font-size: 44px;
		font-weight: 300;
		text-align: center;
		text-transform: uppercase;
		padding-bottom: 15px;
		margin-bottom: 40px;
		&_bold {
			font-weight: 700;
		}
		&:after {
			position: absolute;
			content: '';
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 100px;
			height: 4px;
			background: $elements-clr;
		}
	}
	&__text {
		font-size: 16px;
		color: #6c6c6c;
		font-style: italic;
		text-align: center;
		margin-bottom: 100px;
		@media screen and (max-width: 768px) {
			margin-bottom: 75px;
		}
		@media screen and (max-width: 425px) {
			margin-bottom: 50px;
		}
	}
}

// About

.about {
	&__inner {
		display: flex;
		justify-content: space-between;
		@media screen and (max-width: 1165px) {
			flex-direction: column;
		}
		.about__img {
			width: 50%;
			margin-right: 80px;
			@media screen and (max-width: 1165px) {
				width: 100%;
				margin-bottom: 50px;
				img {
					margin: 0 auto;
				}
			}
			@media screen and (max-width: 425px) {
				display: none;
			}
		}
		.about__content {
			width: 50%;
			@media screen and (max-width: 1165px) {
				width: 80%;
				margin: 0 auto;
			}
			ul {
				li {
					position: relative;
					padding-left: 25px;
					&:before {
						position: absolute;
						content: '';
						// top: 50%;
						// transform: translateY(-50%);
						top: 4px;
						left: 0;
						width: 14px;
						height: 14px;
						background: url(../img/about/dot.png);
					}
				}
			}
			.section__title {
				text-align: left;
				font-weight: 400;
				@media screen and (max-width: 1165px) {
					text-align: center;
				}
				&:after {
					@media screen and (min-width: 1165px) {
						left: 0;
						transform: translateX(0);
						width: 95%;
					}
				}
			}
			.section__text {
				font-style: normal;
				text-align: left;
				margin-bottom: 40px;
				@media screen and (max-width: 1165px) {
					text-align: center;
				}
			}
		}
	}

}

// Team

.team {
	padding-bottom: 150px;
	&__inner {

		.team__row {
			display: flex;
			justify-content: space-between;
			.team__item {
				width: 23%;
				text-align: center;
				.team__img {
					margin-bottom: 20px;
					img {
					width: 130px;
					height: 130px;
					object-fit: cover;
					margin: 0 auto;
					border-radius: 50%;
					border: 5px solid #fff;
					}
				}
				.team__name {
					font-size: 20px;
					font-weight: 700;
					line-height: 1.2;
				}
				.team__profession {
					font-size: 16px;
					margin-bottom: 25px;
				}
				.team__text {
					font-size: 14px;
				}
			}
		}
	}
}

// Services

.services {

	&__inner {

		.services__row {
			display: flex;
			justify-content: space-between;
			.services__item {
				width: 23%;
				text-align: center;
				.services__img {
					position: relative;
					width: 130px;
					height: 130px;
					border-radius: 50%;
					border: 5px solid $elements-clr;
					margin: 0 auto 20px;
					img {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						object-fit: cover;
					}
				}
				.services__name {
					font-size: 25px;
					font-weight: 700;
					text-transform: uppercase;
				}
				.services__text {

				}
			}
		}
	}
}

// Clients

.clients {

	&__inner {

		.clients__content {
			display: flex;
			justify-content: space-between;
			margin: 100px 0 50px;
			@media screen and (max-width: 1024px) {
				display: block;
				margin: 45px 0 0;
			}
			.clients__item {
				margin: 0 auto 25px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

// Work

.work {

	&__inner {

		.work__content {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			a {
				width: 23%;
				min-width: 263px;
				height: 237px;
				text-align: center;
				margin: 0 10px 20px;
				img {
					width: 100%;
					max-width: 273px;
					height: 100%;
					object-fit: cover;
					transition: opacity .1s linear;
					&:hover {
						opacity: .8;
						cursor: pointer;
					}
				}
			}
		}
	}
}

// Reviews

.reviews {
	
	&__inner {

		.reviews__content {
			font-size: 18px;
			text-align: center;
			.reviews__text {
				font-weight: 700;
				color: #e7e7e7;
				text-transform: uppercase;
				margin: 100px 0 50px;
				@media screen and (max-width: 1024px) {
					margin: 75px 0 50px;
				}
				@media screen and (max-width: 768px) {
					margin: 50px 0;
				}
			}
			.reviews__name {
				font-weight: 300;
				color: #b2b2b2;
				margin-bottom: 50px;
			}
		}
	}
}

// Contact

.contact {

	&__inner {
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
		.contact__form {
			color: #636363;
			.form__data {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				margin-bottom: 30px;
				@media screen and (max-width: 425px) {
					margin-bottom: 15px;
				}
				.form__name {
					width: 48%;
					@media screen and (max-width: 425px) {
						width: 100%;
						margin-bottom: 15px;
					}
				}
				.form__email {
					width: 48%;
					@media screen and (max-width: 425px) {
						width: 100%;
					}
				}
				input {
					width: 100%;
					height: 40px;
				}
			}
			.form__message {
				margin-bottom: 30px;
				@media screen and (max-width: 425px) {
					margin-bottom: 15px;
				}
				textarea {
					resize: none;
					width: 100%;
					height: 160px;
				}
			}
			.form__button {
				font-size: 16px;
				font-weight: 700;
				color: #fff;
				background: $elements-clr;
				border: none;
				width: 160px;
				height: 40px;
				float: right;
			}
			.form__text {
				margin-bottom: 3px;
				span {
					color: #db0000;
				}
			}
			input,
			textarea {
				padding: 10px;
				border: 1px solid #a5a5a5;
				border-radius: 2px;
			}
		}
	}
}

// Footer

.footer {
	background: #222;
	&__inner {
		display: flex;
		justify-content: center;
		padding: 30px 0;
		.footer__item {
			display: block;
			width: 32px;
			height: 32px;
			border-radius: 50%;
			border: 2px solid #b2b2b2;
			color: #b2b2b2;
			font-size: 18px;
			text-align: center;
			margin-right: 15px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

// Slider

.slider{
	min-width: 0;
}
// Слайдер
.slick-slider{
	position: relative;
}
// Слайдер запущен
.slick-slider.slick-initialized{}
// Слайдер с точками
.slick-slider.slick-dotted{}
// Ограничивающая оболочка
.slick-list {
	overflow: hidden;
}
// Лента слайдов
.slick-track{
	display: flex;
}
// Слайд
.slick-slide{}
// Слайд активный (показывается)
.slick-slide.slick-active{}
// Слайд основной
.slick-slide.slick-current{}
// Слайд по центру
.slick-slide.slick-center{}
// Клонированный слайд
.slick-slide.slick-cloned{}
// Стрелка
.services .slick-arrow {
	border: 5px solid $elements-clr;
	@media screen and (max-width: 768px) {
		border: 4px solid $elements-clr;
	}
	@media screen and (max-width: 375px) {
		border: 3px solid $elements-clr;
	}
}
.slick-arrow{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
	font-size: 0;
	width: 70px;
	height: 70px;
	border: 5px solid transparent;
	border-radius: 50%;
	@media screen and (max-width: 768px) {
		width: 45px;
		height: 45px;
		border: 4px solid transparent;
	}
	@media screen and (max-width: 375px) {
		width: 35px;
		height: 35px;
		border: 3px solid transparent;
	}
}
// Стрелка влево
.slick-arrow.slick-prev{
	left: 15px;
	background: url(../img/slider/arrow-l.png) center / cover no-repeat;
}
// Стрелка вправо
.slick-arrow.slick-next{
	right: 15px;
	background: url(../img/slider/arrow-r.png) center / cover no-repeat;
}
// Стрелка не активная
.slick-arrow.slick-disabled{}
// Точки (булиты)
.slick-dots{
	position: absolute;
	display: flex;
	left: 50%;
	transform: translateX(-50%);
	bottom: -50px;
}
.slick-dots li{}
// Активная точка
.slick-dots li.slick-active{}
// Элемент точки 
.slick-dots li button{}

// Top

.top {
	position: fixed;
	right: 15px;
	bottom: -10px;
	font-size: 60px;
	z-index: 20;
	@media screen and (max-width: 425px) {
		font-size: 50px;
		right: 10px;
	}
	i {
		border: none;
		color: $elements-clr;
	}
}