@import 'normalize'
@import 'global'

.header
  position: fixed
  top: 0
  z-index: 1000
  width: 100vw
  height: 80px
  display: flex
  align-items: center
  background: $main
  border-bottom: 3px solid $text
  @media screen and ( max-width: 1000px )
    height: 60px
  .header__inner
    display: flex
    justify-content: space-between
    .header__mobile-text
      display: none
      max-width: 120px
      font-weight: 700
      text-transform: uppercase
      @media screen and ( max-width: 1000px )
        display: flex
        align-items: center
      @media screen and ( max-width: 500px )
        font-size: 18px
    .nav
      display: flex
      &--left,
      &--right
        @media screen and ( max-width: 1000px )
          display: none
      &--left
      &--right
      .nav__item
        font-size: 16px
        font-weight: 600
        color: $text
        text-transform: uppercase
        margin-right: 45px
        &:last-child
          margin-right: 0
      &--mobile
        position: relative
        display: none
        &::after
          content: ''
          position: absolute
          bottom: -50vw
          left: 50%
          transform: translateX(-50%)
          width: 100vw
          max-width: 500px
          height: 100vw
          max-height: 500px
          background: url(../img/header/circle.svg) center no-repeat
          background-size: cover
          @media screen and ( min-width: 500px )
            bottom: -250px
          @media screen and ( max-height: 550px )
            display: none
        @media screen and ( max-width: 1000px )
          display: flex
          flex-direction: column
          position: fixed
          top: 60px
          right: 0
          width: 100vw
          height: 100vh
          background: #e8e8ea
          padding: 30px 15px
          transform: translateX(100%)
          transition: transform .2s
          &--active
            transform: translateX(0)
        .nav__list
          position: relative
          overflow: auto
          &::before
            content: ''
            position: absolute
            top: 5px
            left: 3px
            width: 2px
            height: 97%
            background: $text
          .nav__item
            position: relative
            text-transform: none
            padding-left: 30px
            margin-right: 0
            margin-bottom: 35px
            &::before
              content: ''
              position: absolute
              left: 0
              top: 50%
              transform: translateY(-50%)
              width: 20px
              height: 20px
              border-radius: 50%
              background: url(../img/header/mark.svg) center no-repeat
              background-size: cover
            &:last-child
              margin-bottom: 0
            .nav__link
              position: relative
              font-size: 18px
              color: $text
              &:hover::after
                bottom: -4px
                height: 2px
              &::after
                content: ''
                position: absolute
                bottom: 0
                left: 0
                width: 100%
                height: 0
                background: $text
                transition: .2s
    .header__logo
      position: fixed
      top: -25px
      left: 50%
      transform: translateX(-50%)
      width: 150px
      height: 150px
      @media screen and ( max-width: 1000px )
        display: none
    .header__burger
      display: none
      img
        &:last-child
          position: absolute
          opacity: 0
          visibility: hidden
      &--active
        img
          &:first-child
            position: absolute
            opacity: 0
            visibility: hidden
          &:last-child
            position: static
            opacity: 1
            visibility: visible
      @media screen and ( max-width: 1000px )
        display: flex
        justify-content: center
        align-items: center

.intro
  min-height: 100vh
  .intro__inner
    display: flex
    justify-content: space-between
    margin-top: 20vh
    @media screen and ( max-width: 1120px )
      align-items: center
    @media screen and ( max-width: 780px )
      flex-direction: column
      margin-top: 10vh
    @media screen and ( max-width: 375px ) and ( max-height: 600px )
      margin-top: 6vh
    @media screen and ( max-width: 375px ) and ( max-height: 568px )
      margin-top: 4vh
    .intro__content
      flex-basis: 45%
      @media screen and ( max-width: 1120px )
        flex-basis: 48%
      @media screen and ( max-width: 780px )
        text-align: center
      .intro__title
        text-transform: uppercase
        margin-bottom: 8vh
        @media screen and ( max-width: 1120px )
          font-size: 44px
          margin-bottom: 4vh
        @media screen and ( max-width: 1024px )
          font-size: 36px
          margin-bottom: 2vh
        @media screen and ( max-width: 600px )
          font-size: 30px
        @media screen and ( max-width: 375px )
          font-size: 24px
      .intro__subtitle
        font-size: 22px
        margin-bottom: 8vh
        @media screen and ( max-width: 1120px )
          font-size: 18px
          margin-bottom: 4vh
        @media screen and ( max-width: 600px )
          font-size: 16px
          margin-bottom: 3vh
        @media screen and ( max-width: 375px )
          font-size: 14px
      .intro__btn
        @media screen and ( max-width: 1120px )
          font-size: 18px
          min-height: 55px
          min-width: 100%
        @media screen and ( max-width: 780px )
          display: none
    .intro__img
      flex-basis: 45%
      @media screen and ( max-width: 1120px )
        flex-basis: 48%
      img
        &:first-of-type
          @media screen and ( max-width: 780px )
            width: 75%
            margin: 0 auto 4vh
          @media screen and ( max-width: 425px )
            display: none
        &:last-of-type
          display: none
          @media screen and ( max-width: 425px )
            display: block
            margin: 0 auto 4vh
      .intro__btn
        display: none
        @media screen and ( max-width: 780px )
          display: inline-block
          font-size: 18px
          min-height: 55px
          min-width: 100%
        @media screen and ( max-width: 600px )
          display: block
          font-size: 16px
          min-width: 0
          max-width: 320px
          margin: 0 auto
        @media screen and ( max-width: 375px )
          font-size: 14px

.specialization
  padding: 50px 0 0
  .specialization__inner
    .specialization__title
      margin-bottom: 60px
      @media screen and ( max-width: 500px )
        margin-bottom: 30px
    .specialization__list
      display: flex
      justify-content: space-between
      flex-wrap: wrap
      margin-bottom: 80px
      &:last-child
        margin-bottom: 0
      .specialization__item
        flex-basis: 30%
        margin-bottom: 80px
        @media screen and ( max-width: 1110px )
          flex-basis: 50%
        @media screen and ( max-width: 730px )
          flex-basis: 100%
        @media screen and ( max-width: 425px )
          margin-bottom: 15px
          &:first-child
            .specialization-item__header
              &::before
                display: none
          &:last-child
            .specialization-item__header
              &::after
                display: none
            .specialization-item__text
              border: 0
              &::before,
              &::after
                display: none
        .specialization-item__header
          display: flex
          align-items: center
          margin-bottom: 30px
          @media screen and ( max-width: 1110px )
            justify-content: center
          @media screen and ( max-width: 425px )
            position: relative
            justify-content: flex-start
            margin-bottom: 15px
            &::before,
            &::after
              content: ''
              position: absolute
              left: 26px
              height: 16px
              border-right: 2px dashed $text
            &::before
              top: -15px
            &::after
              bottom: -15px
          .specialization-item__img
            width: 65px
            margin-right: 25px
            @media screen and ( max-width: 425px )
              width: 55px
              margin-right: 20px
            img
              width: 100%
              object-fit: cover
          .specialization-item__title
            font-size: 22px
            font-weight: 600
            text-transform: uppercase
            @media screen and ( max-width: 1110px )
              min-width: 240px
            @media screen and ( max-width: 425px )
              font-size: 18px
              font-weight: 700
              margin-top: 40px
        .specialization-item__text
          max-width: 320px
          @media screen and ( max-width: 1110px )
            margin: 0 auto
          @media screen and ( max-width: 425px )
            position: relative
            max-width: 100%
            border-right: 2px dashed $text
            padding: 15px 5px 15px 0
            margin: 0
            &::before,
            &::after
              content: ''
              position: absolute
              right: 0
              width: 93%
              border-top: 2px dashed $text
              @media screen and ( max-width: 400px )
                width: 92.5%
              @media screen and ( max-width: 375px )
                width: 92%
              @media screen and ( max-width: 355px )
                width: 91.5%
              @media screen and ( max-width: 330px )
                width: 91%
            &::before
              top: 0
            &::after
              bottom: 0

.psychotechnics
  .psychotechnics__inner
    position: relative
    &::after
      content: ''
      position: absolute
      top: 27.5%
      left: 50%
      transform: translateX(-50%)
      background: url(../img/psychotechnics/img.svg) center no-repeat
      background-size: cover
      width: 455px
      height: 455px
      @media screen and ( max-width: 700px )
        background-image: url(../img/psychotechnics/mobile-img.svg)
        top: 0
        left: calc( 100% - 100px )
        transform: translateX(0)
        width: 150px
        height: 150px
    .psychotechnics__title
      margin-bottom: 60px
      @media screen and ( max-width: 550px )
        max-width: 75%
        margin-bottom: 40px
    .psychotechnics__row
      position: relative
      z-index: 1
      display: flex
      justify-content: space-between
      margin-bottom: 75px
      @media screen and ( max-width: 1024px )
        margin-bottom: 35px
      @media screen and ( max-width: 700px )
        flex-direction: column
      @media screen and ( max-width: 500px )
        margin-bottom: 25px
      &:last-child
        margin-bottom: 0
      .psychotechnics__card
        flex-basis: 50%
        position: relative
        background: $main
        padding: 30px 20px
        border: 3px solid $text
        border-radius: 24px
        margin-right: 85px
        @media screen and ( max-width: 1024px )
          margin-right: 45px
        @media screen and ( max-width: 700px )
          margin-right: 0
          margin-bottom: 35px
          &:last-child
            margin-bottom: 0
        @media screen and ( max-width: 500px )
          padding: 20px
          margin-bottom: 25px
        &:last-child
          margin-right: 0
        .psychotechnics-card__number
          font-size: 34px
          font-weight: 600
          display: flex
          justify-content: center
          align-items: center
          position: absolute
          top: -30px
          left: -3px
          width: 50px
          height: 50px
          background: #fff
          border: 3px solid $text
          border-radius: 50%
          @media screen and ( max-width: 500px )
            font-size: 24px
            top: -20px
            width: 40px
            height: 40px
        .psychotechnics-card__text

.schema
  .schema__inner
    .schema__title
      margin-bottom: 45px
      @media screen and ( max-width: 500px )
        margin-bottom: 30px
    .schema__row
      display: flex
      justify-content: space-between
      margin-bottom: 60px
      @media screen and ( max-width: 1024px )
        margin-bottom: 35px
      @media screen and ( max-width: 700px )
        flex-direction: column
        margin-bottom: 30px
      @media screen and ( max-width: 500px )
        margin-bottom: 25px
      &:last-child
        margin-bottom: 0
      .schema__card
        position: relative
        flex-basis: 50%
        background: #fff
        padding: 40px 60px 40px 40px
        border: 3px solid $text
        border-radius: 24px
        margin-right: 85px
        @media screen and ( max-width: 1024px )
          margin-right: 45px
          padding: 30px 20px
        @media screen and ( max-width: 700px )
          margin-right: 0
          margin-bottom: 30px
          &:last-child
            margin-bottom: 0
        @media screen and ( max-width: 500px )
          margin-bottom: 25px
        &:last-child
          margin-right: 0
        .schema-card__img
          position: absolute
          top: 20px
          right: 20px
          @media screen and ( max-width: 1024px )
            top: -15px
            right: 0
            transform: scale(.75)
          @media screen and ( max-width: 375px )
            transform: scale(.7)
          img
        .schema-card__title
          font-size: 22px
          font-weight: 600
          text-transform: uppercase
          margin-bottom: 25px
          @media screen and ( max-width: 500px )
            font-size: 20px
          @media screen and ( max-width: 375px )
            font-size: 18px
          @media screen and ( max-width: 320px )
            font-size: 16px
        .schema-card__text

.reviews
  @media screen and ( max-width: 500px )
    padding-bottom: 80px
  .reviews__inner
    .reviews__title
      margin-bottom: 50px
      @media screen and ( max-width: 500px )
        margin-bottom: 30px
    .reviews__slider
      position: relative
      margin: 0 70px
      transform: translateX(10px)
      @media screen and ( max-width: 500px )
        margin: 0
      .reviews-slider__item
        min-height: 490px
        border: 3px solid $text
        border-radius: 24px
        margin-right: 20px
        @media screen and ( max-width: 1130px )
          min-height: 380px
        @media screen and ( max-width: 1024px )
          min-height: 410px
        @media screen and ( max-width: 768px )
          min-height: 555px
        @media screen and ( max-width: 750px )
          min-height: 0
        &:last-child
          margin-right: 0
        .reviews-slider__header
          display: flex
          align-items: center
          background: $main
          padding: 15px
          border-bottom: 3px solid $text
          border-radius: 24px 24px 0 0
          .reviews-slider__img
            margin-right: 20px
            img
              border: 3px solid $text
              border-radius: 50%
          .reviews-slider__info
            max-width: 110px
            font-size: 16px
            @media screen and ( max-width: 500px )
              font-size: 14px
            .reviews-slider__name
              font-weight: 600
              text-transform: uppercase
            .reviews-slider__age
        .reviews-slider__text
          font-size: 14px
          font-weight: 500
          padding: 18px 15px 15px
          @media screen and ( max-width: 500px )
            font-size: 12px
      .slick-dots
        position: absolute
        bottom: -30px
        left: 50%
        transform: translateX(calc( -50% - 10px ))
        display: flex
        @media screen and ( max-width: 500px )
          bottom: -45px
        li
          margin-right: 10px
          &:last-child
            margin-right: 0
          &.slick-active
            button
              background: $text
          button
            font-size: 0
            width: 12px
            height: 12px
            background: transparent
            border: 3px solid $text
            border-radius: 50%
      .slick-arrow
        position: absolute
        top: 50%
        transform: translateY(-50%)
        width: 60px
        height: 110px
        font-size: 0
        border: 0
        @media screen and ( max-width: 500px )
          top: calc(100% + 40px)
          width: 30px
          height: 55px
        &.slick-prev
          left: -75px
          background: url(../img/reviews/arrow-left.svg) center no-repeat
          background-size: cover
          @media screen and ( max-width: 500px )
            left: 0
        &.slick-next
          right: -55px
          background: url(../img/reviews/arrow-right.svg) center no-repeat
          background-size: cover
          @media screen and ( max-width: 500px )
            right: 20px

.cost
  .cost__inner
    .cost__title
      margin-bottom: 40px
    .cost__row
      position: relative
      height: 500px
      @media screen and ( max-width: 500px )
        height: 440px
      .cost__text
        position: absolute
        height: 100px
        text-align: center
        border: 3px dashed $text
        padding: 15px 20px
        @media screen and ( max-width: 900px )
          border-width: 2px
        @media screen and ( max-width: 640px )
          height: 115px
        @media screen and ( max-width: 600px )
          font-size: 16px
          height: 110px
        @media screen and ( max-width: 500px )
          font-size: 11px
          padding: 10px
          display: flex
          align-items: center
        &:first-of-type,
        &:last-of-type
          &::after
            content: ''
            position: absolute
        &:first-of-type
          max-width: 320px
          bottom: 0
          left: 50px
          @media screen and ( max-width: 900px )
            left: 0
          @media screen and ( max-width: 640px )
            max-width: 50%
          @media screen and ( max-width: 600px )
            height: 90px
          @media screen and ( max-width: 585px )
            height: 105px
          @media screen and ( max-width: 500px )
            margin-bottom: 40px
            height: 75px
          &::after
            bottom: 110px
            left: 145px
            width: 220px
            height: 185px
            background: url(../img/cost/arrow-down.svg) center no-repeat
            background-size: cover
            @media screen and ( max-width: 980px )
              left: 120px
            @media screen and ( max-width: 920px )
              left: 100px
            @media screen and ( max-width: 900px )
              left: 50px
              width: 70px
              height: 140px
              background-image: url(../img/cost/mobile-arrow-down.svg)
            @media screen and ( max-width: 740px )
              bottom: 120px
            @media screen and ( max-width: 640px )
              bottom: 135px
            @media screen and ( max-width: 600px )
              bottom: 125px
            @media screen and ( max-width: 520px )
              width: 100px
              height: 160px
              left: 20px
            @media screen and ( max-width: 500px )
              left: 0
              bottom: 90px
        &:last-of-type
          max-width: 390px
          top: 0
          right: 100px
          @media screen and ( max-width: 900px )
            right: 0
          @media screen and ( max-width: 640px )
            max-width: 50%
          @media screen and ( max-width: 540px )
            height: 125px
          @media screen and ( max-width: 500px )
            margin-top: 40px
            height: 100px
          &::after
            top: 110px
            right: 160px
            width: 165px
            height: 250px
            background: url(../img/cost/arrow-up.svg) center no-repeat
            background-size: cover
            @media screen and ( max-width: 1000px )
              right: 140px
            @media screen and ( max-width: 960px )
              right: 125px
            @media screen and ( max-width: 920px )
              right: 115px
            @media screen and ( max-width: 900px )
              right: 75px
              width: 70px
              height: 140px
              background-image: url(../img/cost/mobile-arrow-up.svg)
            @media screen and ( max-width: 740px )
              top: 120px
            @media screen and ( max-width: 640px )
              top: 135px
            @media screen and ( max-width: 520px )
              width: 100px
              height: 160px
              right: 20px
            @media screen and ( max-width: 500px )
              right: -10px
              top: 105px
      .cost__img
        position: absolute
        width: 270px
        height: 270px
        display: flex
        justify-content: center
        align-items: center
        @media screen and ( max-width: 900px )
          width: 240px
          height: 240px
        @media screen and ( max-width: 740px )
          width: 220px
          height: 220px
        @media screen and ( max-width: 640px )
          width: 200px
          height: 200px
        @media screen and ( max-width: 520px )
          width: 180px
          height: 180px
        @media screen and ( max-width: 500px )
          width: 130px
          height: 130px
        &:first-of-type
          top: 0
          left: 0
        &:nth-of-type(2)
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)
          @media screen and ( max-width: 500px )
            width: 160px
            height: 160px
        &:last-of-type
          bottom: 0
          right: 0

.consultation
  .consultation__inner
    .consultation__title
      margin-bottom: 50px
      @media screen and ( max-width: 500px )
        margin-bottom: 40px
    .consultation__row
      display: flex
      justify-content: space-between
      @media screen and ( max-width: 1020px )
        flex-direction: column
      .consultation__content
        flex-basis: 50%
        margin-right: 40px
        @media screen and ( max-width: 1020px )
          margin-right: 0
        .consultation-content__header
          position: relative
          font-size: 22px
          font-weight: 600
          text-transform: uppercase
          max-width: 300px
          background: #fff
          border: 3px solid $text
          border-radius: 16px 16px 16px 0
          padding: 20px
          margin-bottom: 50px
          @media screen and ( max-width: 375px )
            font-size: 14px
            max-width: 210px
            margin-bottom: 35px
          &::before
            content: ''
            position: absolute
            left: -3px
            bottom: -61px
            width: 3px
            height: 61px
            background: $text
        .consultation__list
          .consultation-list__item
            position: relative
            display: flex
            padding-left: 20px
            margin-bottom: 35px
            @media screen and ( max-width: 375px )
              margin-bottom: 25px
            &:last-child
              &::after
                display: none
            &::before
              content: ''
              position: absolute
              left: 0
              top: 8px
              width: 20px
              height: 3px
              background: $text
            &::after
              content: ''
              position: absolute
              top: 10px
              left: 0
              width: 3px
              height: calc( 100% + 35px )
              background: $text
              @media screen and ( max-width: 375px )
                height: calc( 100% + 25px )
            .consultation-list-item__num
              flex-shrink: 0
              font-weight: 600
              display: flex
              justify-content: center
              align-items: center
              width: 28px
              height: 28px
              background: $main
              border-radius: 50%
              border: 3px solid $text
              margin-right: 15px
              transform: translateY(-4px)
      .consultation__form
        flex-basis: 50%
        .consultation__input,
        .consultation__textarea
          width: 100%
          resize: none
          background: rgba(#fff, .5)
          border: 3px dashed $text
          padding: 15px 20px
          @media screen and ( max-width: 375px )
            padding: 10px
          &::placeholder
            font-size: 18px
            font-weight: 500
            color: rgba(40, 45, 38, .5)
            @media screen and ( max-width: 375px )
              font-size: 14px
        .consultation__input
          margin-bottom: 25px
        .consultation__textarea
          height: 140px
          margin-bottom: 35px
          @media screen and ( max-width: 1020px )
            margin-bottom: 20px
        .consultation__agree
          font-size: 15px
          font-weight: 400
          margin-bottom: 12px
          @media screen and ( max-width: 1020px )
            display: none
          &:last-of-type
            margin-bottom: 30px
          &--mobile
            display: none
            @media screen and ( max-width: 1020px )
              display: block
              text-align: center
              margin-bottom: 30px
            @media screen and ( max-width: 375px )
              font-size: 12px
            @media screen and ( max-width: 325px )
              font-size: 11px
              margin-bottom: 25px
        .consultation__btn
          display: block
          margin-left: auto
          @media screen and ( max-width: 1020px )
            min-width: 0
            max-width: 480px
            width: 100%
            margin-right: auto
          @media screen and ( max-width: 500px )
            min-height: 55px
            padding: 8px

.contacts
  .contacts__inner
    .contacts__title
      margin-bottom: 40px
    .contacts__row
      display: flex
      justify-content: space-between
      border-left: 3px dashed $text
      border-right: 3px dashed $text
      border-bottom: 3px dashed $text
      margin-bottom: 25px
      .contacts__item
        flex-basis: 33%
        @media screen and ( max-width: 1020px )
          flex-basis: 50%
        &:first-child
          @media screen and ( max-width: 1020px )
            border-right: 3px dashed $text
          .contacts-item__header
            border-left: 0
            @media screen and ( max-width: 1020px )
              border-right: 0
        &:nth-child(2)
          display: flex
          flex-direction: column
          justify-content: flex-end
          @media screen and ( max-width: 1020px )
            display: none
        &:last-child
          .contacts-item__header
            border-right: 0
            @media screen and ( max-width: 1020px )
              border-left: 0
        .contacts-item__header
          display: flex
          align-items: center
          padding: 15px 25px
          border: 3px dashed $text
          @media screen and ( max-width: 810px )
            flex-direction: column
          @media screen and ( max-width: 425px )
            padding: 10px
          .contacts-item__img
            flex-shrink: 0
            width: 140px
            height: 140px
            border: 3px solid $text
            border-radius: 50%
            margin-right: 25px
            @media screen and ( max-width: 810px )
              margin-right: 0
              margin-bottom: 10px
            @media screen and ( max-width: 425px )
              width: 120px
              height: 120px
            img
              width: 100%
              height: 100%
              border-radius: 50%
              object-fit: cover
          .contacts-item__name
            font-size: 22px
            font-weight: 600
            text-transform: uppercase
            @media screen and ( max-width: 810px )
              max-width: 200px
              text-align: center
            @media screen and ( max-width: 700px )
              font-size: 18px
            @media screen and ( max-width: 500px )
              font-size: 14px
              max-width: 140px
            @media screen and ( max-width: 375px )
              font-size: 12px
              max-width: 120px
        .contacts__list
          padding: 35px 50px
          @media screen and ( max-width: 700px )
            padding: 15px 30px
          .contacts-list__item
            margin-bottom: 30px
            @media screen and ( max-width: 700px )
              margin-bottom: 15px
            &:last-child
              margin-bottom: 0
            .contacts-list-item__img
              flex-shrink: 0
              max-width: 57px
              margin-right: 25px
              @media screen and ( max-width: 700px )
                max-width: 47px
                margin-right: 15px
              img
                width: 100%
                object-fit: cover
            .contacts-list-item__link
              display: flex
              align-items: center
              font-weight: 600
              color: $text
              text-transform: uppercase
              white-space: nowrap
              @media screen and ( max-width: 700px )
                font-size: 14px
              @media screen and ( max-width: 500px )
                justify-content: center
                font-size: 0
        .contacts-item__text
          position: relative
          margin: 70px 0
          &::before
            content: ''
            position: absolute
            top: -86px
            left: 0
            width: 100%
            height: 3px
            border-top: 3px dashed $text
    .contacts__copyright
      font-size: 16px
      font-weight: 400
      text-align: center
    .contacts__quote
      position: relative
      font-style: italic
      text-align: center
      padding: 25px 30px
      border: 3px solid #fff
      border-radius: 25px
      &::after
        content: ''
        position: absolute
        bottom: -20px
        right: 35px
        width: 48px
        height: 40px
        background: url(../img/contacts/quote.svg) center no-repeat
        background-size: cover
      &--mobile
        display: none
        @media screen and ( max-width: 1020px )
          display: block
          padding: 10px
          margin-bottom: 30px
        @media screen and ( max-width: 500px )
          font-size: 14px
        @media screen and ( max-width: 375px )
          font-size: 12px
        &::after
          width: 25px
          height: 20px
          bottom: -10px
          right: 25px

.popup
  display: none
  position: fixed
  top: 0
  left: 0
  z-index: 2000
  width: 100vw
  height: 100vh
  justify-content: center
  align-items: center
  background: rgba($text, .75)
  &--active
    display: flex
  .popup__area
    position: fixed
    width: 100%
    height: 100%
  .popup__inner
    position: relative
    max-width: 560px
    width: 100%
    max-height: 300px
    height: 100%
    background: $main
    padding: 50px
    margin: 0 10px
    @media screen and ( max-width: 375px )
      max-height: 250px
    .popup__close
      position: absolute
      top: 10px
      right: 10px
      img
        cursor: pointer
    .popup__card
      position: relative
      width: 100%
      height: 100%
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      text-align: center
      background: #fff
      border: 3px solid $text
      border-radius: 20px
      padding: 20px
      @media screen and ( max-width: 375px )
        padding: 15px
      &::before,
      &::after
        content: ''
        position: absolute
        border: 3px dashed $text
        border-radius: 20px
      &::before
        top: -14px
        left: -14px
        width: calc( 100% + 28px )
        height: calc( 100% + 28px )
      &::after
        top: -25px
        left: -25px
        width: calc( 100% + 50px )
        height: calc( 100% + 50px )
      .popup__title
        font-size: 40px
        font-weight: 600
        margin-bottom: 30px
        @media screen and ( max-width: 375px )
          font-size: 24px
          margin-bottom: 15px
      .popup__text
        p