include ./header.jade
<div class="page-conts">
	<h1>Контакты</h1>
	<div class="cls">
		<div class="page-conts--link"><a href="tg://resolve?domain=79632722757" class="telegram"><img src="img/telegram.svg" alt="">+7 963 272 27 57</a></div>
		<div class="page-conts--link"><a href="https://wa.me/79632722757" class="whatsapp"><img src="img/whatsapp.svg" alt="">+7 963 272 27 57</a></div>
		<div class="page-conts--link"><a href="mailto:Krutikov.va@gmail.com" class="mail"><img src="img/mail.svg" alt="">Krutikov.va@gmail.com</a></div>
	</div>
</div>
include ./footer.jade