<div class="footer">&copy; Школа ЛДОУ, 2020</div>
</div>


<div class="darkness"></div>
<div class="modal" id="thanks">
	<div class="modal-in">
		<div class="modal-x"></div>
		<div class="thanksmessage">
			<div class="thanksmessage-name">Спасибо!</div>
			<p>Ваша заявка принята <br>Мы свяжемся с вами <br>в ближайшее время.</p>
		</div>
	</div>
</div>

<div class="modal" id="video">
	<div class="modal-x"></div>
	<div class="modal-in">
		
		<!-- ajax -->
	</div>
</div>


<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/main.css">
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>