include ./header.jade

<div class="graduates">
	<h1>Сертифицированные выпускники</h1>
	<div class="tabs">
		<a href="#!" class="tabs--item base active">базовый курс</a>
		<a href="#!" class="tabs--item more">продвинутый курс</a>
		<a href="#!" class="tabs--item more">мастерский курс</a>
	</div>
	<div class="graduates-price">Средняя стоимость сеанса у выпускника Базового курса составляет 3000 руб.</div>
	<p class="graduates-graduation"><b>Выпуск:</b> 17.09.2020</p>
	<ul class="graduates-list">
		<li class="graduates-item">
			<div class="graduates-img">
				<img src="files/grad1.png" alt="">
				<a href="graduate-card.html" class="graduates-link">Подробнее</a>
			</div>
			<div class="graduates-info">
				<a href="graduate-card.html" class="name">Иван Егоров</a>
				<p class="city"><b>Город:</b> Кострома</p>
				<ul>
					<li>Измена</li>
					<li>Развод</li>
					<li>Чувство вины</li>
					<li>Боязнь отношений</li>
					<li>Стресс</li>
					<li>Страх и одиночество</li>
					<li>Депрессия</li>
					<li>Апатия</li>
					<li>Неуверенность в себе</li>
				</ul>
				<div class="contacts">
					<p class="phone"><b>Контакт:</b> +7-958-698-9878</p>
					<a href="#!" class="viber">
						<img src="img/graduates-viber.svg" alt="">
					</a>
					<a href="#!" class="telegram">
						<img src="img/graduates-telegram.svg" alt=""></a>
					<a href="#!" class="whatsapp">
						<img src="img/graduates-whatsapp.svg" alt="">
					</a>
				</div>
				<a href="graduate-consultation.html" class="button">Оставить заявку</a>
			</div>
			<div class="graduates-video">
				<a href="/video.php?video=review&index=13" class="graduates-video--link">
					<img src="files/poster-grad1.png" alt="">
				</a>
			</div>
		</li>
		<li class="graduates-item">
			<div class="graduates-img">
				<img src="files/grad2.png" alt="">
				<a href="graduate-card.html" class="graduates-link">Подробнее</a>
			</div>
			<div class="graduates-info">
				<a href="graduate-card.html" class="name">Татьяна Евдокимова</a>
				<p class="city"><b>Город:</b> Новосибирск</p>
				<ul>
					<li>Измена</li>
					<li>Развод</li>
					<li>Чувство вины</li>
					<li>Боязнь отношений</li>
					<li>Стресс</li>
					<li>Страх и одиночество</li>
					<li>Депрессия</li>
					<li>Апатия</li>
					<li>Неуверенность в себе</li>
				</ul>
				<div class="contacts">
					<p class="phone"><b>Контакт:</b> +7-958-698-9878</p>
					<a href="#!" class="viber">
						<img src="img/graduates-viber.svg" alt="">
					</a>
					<a href="#!" class="telegram">
						<img src="img/graduates-telegram.svg" alt=""></a>
					<a href="#!" class="whatsapp">
						<img src="img/graduates-whatsapp.svg" alt="">
					</a>
				</div>
				<a href="graduate-consultation.html" class="button">Оставить заявку</a>
			</div>
			<div class="graduates-video">
				<a href="/video.php?video=review&index=13" class="graduates-video--link">
					<img src="files/poster-grad1.png" alt="">
				</a>
			</div>
		</li>
		<li class="graduates-item">
			<div class="graduates-img">
				<img src="files/grad3.png" alt="">
				<a href="graduate-card.html" class="graduates-link">Подробнее</a>
			</div>
			<div class="graduates-info">
				<a href="graduate-card.html" class="name">Руслан Зуев</a>
				<p class="city"><b>Город:</b> Ярославль</p>
				<ul>
					<li>Измена</li>
					<li>Развод</li>
					<li>Чувство вины</li>
					<li>Боязнь отношений</li>
					<li>Стресс</li>
					<li>Страх и одиночество</li>
					<li>Депрессия</li>
					<li>Апатия</li>
					<li>Неуверенность в себе</li>
				</ul>
				<div class="contacts">
					<p class="phone"><b>Контакт:</b> +7-958-698-9878</p>
					<a href="#!" class="viber">
						<img src="img/graduates-viber.svg" alt="">
					</a>
					<a href="#!" class="telegram">
						<img src="img/graduates-telegram.svg" alt=""></a>
					<a href="#!" class="whatsapp">
						<img src="img/graduates-whatsapp.svg" alt="">
					</a>
				</div>
				<a href="graduate-consultation.html" class="button">Оставить заявку</a>
			</div>
			<div class="graduates-video">
				<a href="/video.php?video=review&index=13" class="graduates-video--link">
					<img src="files/poster-grad1.png" alt="">
				</a>
			</div>
		</li>
		<li class="graduates-item">
			<div class="graduates-img">
				<img src="files/grad4.png" alt="">
				<a href="graduate-card.html" class="graduates-link">Подробнее</a>
			</div>
			<div class="graduates-info">
				<a href="graduate-card.html" class="name">Александр Петров</a>
				<p class="city"><b>Город:</b> Москва</p>
				<ul>
					<li>Измена</li>
					<li>Развод</li>
					<li>Чувство вины</li>
					<li>Боязнь отношений</li>
					<li>Стресс</li>
					<li>Страх и одиночество</li>
					<li>Депрессия</li>
					<li>Апатия</li>
					<li>Неуверенность в себе</li>
				</ul>
				<div class="contacts">
					<p class="phone"><b>Контакт:</b> +7-958-698-9878</p>
					<a href="#!" class="viber">
						<img src="img/graduates-viber.svg" alt="">
					</a>
					<a href="#!" class="telegram">
						<img src="img/graduates-telegram.svg" alt=""></a>
					<a href="#!" class="whatsapp">
						<img src="img/graduates-whatsapp.svg" alt="">
					</a>
				</div>
				<a href="graduate-consultation.html" class="button">Оставить заявку</a>
			</div>
			<div class="graduates-video">
				<a href="/video.php?video=review&index=13" class="graduates-video--link">
					<img src="files/poster-grad1.png" alt="">
				</a>
			</div>
		</li>
	</ul>
	<p class="graduates-graduation"><b>Выпуск:</b> 17.11.2020</p>
	<ul class="graduates-list">
		<li class="graduates-item">
			<div class="graduates-img">
				<img src="files/grad5.png" alt="">
				<a href="graduate-card.html" class="graduates-link">Подробнее</a>
			</div>
			<div class="graduates-info">
				<a href="graduate-card.html" class="name">Елена Крутикова</a>
				<p class="city"><b>Город:</b> Екатеринбург</p>
				<ul>
					<li>Измена</li>
					<li>Развод</li>
					<li>Чувство вины</li>
					<li>Боязнь отношений</li>
					<li>Стресс</li>
					<li>Страх и одиночество</li>
					<li>Депрессия</li>
					<li>Апатия</li>
					<li>Неуверенность в себе</li>
				</ul>
				<div class="contacts">
					<p class="phone"><b>Контакт:</b> +7-958-698-9878</p>
					<a href="#!" class="viber">
						<img src="img/graduates-viber.svg" alt="">
					</a>
					<a href="#!" class="telegram">
						<img src="img/graduates-telegram.svg" alt=""></a>
					<a href="#!" class="whatsapp">
						<img src="img/graduates-whatsapp.svg" alt="">
					</a>
				</div>
				<a href="graduate-consultation.html" class="button">Оставить заявку</a>
			</div>
			<div class="graduates-video">
				<a href="/video.php?video=review&index=13" class="graduates-video--link">
					<img src="files/poster-grad1.png" alt="">
				</a>
			</div>
		</li>
		<li class="graduates-item">
			<div class="graduates-img">
				<img src="files/grad6.png" alt="">
				<a href="graduate-card.html" class="graduates-link">Подробнее</a>
			</div>
			<div class="graduates-info">
				<a href="graduate-card.html" class="name">Евгения Наконечная</a>
				<p class="city"><b>Город:</b> Хошимин</p>
				<ul>
					<li>Измена</li>
					<li>Развод</li>
					<li>Чувство вины</li>
					<li>Боязнь отношений</li>
					<li>Стресс</li>
					<li>Страх и одиночество</li>
					<li>Депрессия</li>
					<li>Апатия</li>
					<li>Неуверенность в себе</li>
				</ul>
				<div class="contacts">
					<p class="phone"><b>Контакт:</b> +7-958-698-9878</p>
					<a href="#!" class="viber">
						<img src="img/graduates-viber.svg" alt="">
					</a>
					<a href="#!" class="telegram">
						<img src="img/graduates-telegram.svg" alt=""></a>
					<a href="#!" class="whatsapp">
						<img src="img/graduates-whatsapp.svg" alt="">
					</a>
				</div>
				<a href="graduate-consultation.html" class="button">Оставить заявку</a>
			</div>
			<div class="graduates-video">
				<a href="/video.php?video=review&index=13" class="graduates-video--link">
					<img src="files/poster-grad1.png" alt="">
				</a>
			</div>
		</li>
		<li class="graduates-item">
			<div class="graduates-img">
				<img src="files/grad7.png" alt="">
				<a href="graduate-card.html" class="graduates-link">Подробнее</a>
			</div>
			<div class="graduates-info">
				<a href="graduate-card.html" class="name">Евгения Кривич</a>
				<p class="city"><b>Город:</b> Копенгаген</p>
				<ul>
					<li>Измена</li>
					<li>Развод</li>
					<li>Чувство вины</li>
					<li>Боязнь отношений</li>
					<li>Стресс</li>
					<li>Страх и одиночество</li>
					<li>Депрессия</li>
					<li>Апатия</li>
					<li>Неуверенность в себе</li>
				</ul>
				<div class="contacts">
					<p class="phone"><b>Контакт:</b> +7-958-698-9878</p>
					<a href="#!" class="viber">
						<img src="img/graduates-viber.svg" alt="">
					</a>
					<a href="#!" class="telegram">
						<img src="img/graduates-telegram.svg" alt=""></a>
					<a href="#!" class="whatsapp">
						<img src="img/graduates-whatsapp.svg" alt="">
					</a>
				</div>
				<a href="graduate-consultation.html" class="button">Оставить заявку</a>
			</div>
			<div class="graduates-video">
				<a href="/video.php?video=review&index=13" class="graduates-video--link">
					<img src="files/poster-grad1.png" alt="">
				</a>
			</div>
		</li>
	</ul>
</div>

include ./footer.jade