include ./header.jade

<div class="graduate-consultation">
	<h1>консультация у выпускника</h1>
	<div class="consultation-form">
		<form action="#">
			<input type="text" class="text" placeholder="ваше имя" required minlength="3">
			<input type="number" class="text" placeholder="номер телефона" required minlength="11">
			<div class="consultation-coupon">
				<div class="consultation-coupon--line1">1 сеанс</div>
				<div class="consultation-coupon--line2">(до 3-х часов)</div>
				<div class="consultation-coupon--line3">$40</div>
			</div>
			<p>Я соглашаюсь на обработку моих персональных данных<br>Я подтверждаю, что мне больше 18 лет</p>
			<button class="button">записаться на консультацию</button>
		</form>
	</div>
</div>

include ./footer.jade