<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width">
	<title>ЛДОУ</title>
	<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(65422297, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/65422297" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
	<link rel="stylesheet" type="text/css" href="css/head.css">
</head>
<body>
<div class="wrap">
	<div class="header cls">
		<div class="header-in">
			<nav class="tm-panel def-menu">
				<ul>
					<li><a href="#about">О ЛДОУ</a></li>
					<li><a href="#course">О КУРСЕ</a></li>
					<li><a href="history.html">ИСТОРИЯ</a></li>
					<li><a class="on-desktop" href="#reviews">ОТЗЫВЫ</a></li>
					<li class="on-mobile"><a href="reviews.html">ОТЗЫВЫ</a></li>
					<li><a href="price.html">СТОИМОСТЬ</a></li>
					<li><a class="on-desktop" href="#contacts">КОНТАКТЫ</a></li>
					<li class="on-mobile"><a href="contacts.html">КОНТАКТЫ</a></li>
					<li><a href="consultation.html">КОНСУЛЬТАЦИЯ</a></li>
					<li><a href="graduates.html">ВЫПУСКНИКИ</a></li>
				</ul>
			</nav>	
			<div class="tm">
				<div class="tm-trigger"></div>
				<a href="./" class="tm-logo"><img src="img/logo-pc.svg" alt=""></a>
			</div>
		</div>
	</div>
