include ./header.jade
	<div class="history">
		<h1>История психотехники ЛДОУ</h1>
		<div class="history-card">
			<div class="history-img">
				<img src="img/vladimir.png" alt="Владимир Крутиков">
			</div>
			<div class="history-white">Давайте знакомиться, меня зовут <strong>Владимир Крутиков</strong>. <br>Я являюсь <strong>автором психотехники ЛДОУ</strong> и практикующим специалистом по устранению психологических проблем.</div>
		</div>

		<div class="history-transp">
			<div class="history-transp--in"><strong>С середины 90-х г</strong> я занимался программированием и алгоритмизацией программного обеспечения.
			</div>
		</div>

		<div class="history-transp">
			<div class="history-transp--in"><strong>С 2008 г</strong> занимаюсь бизнесом в сфере информационных технологий, маркетинга и видеопродакшна. 
			</div>
		</div>

		<div class="history-transp">
			<div class="history-transp--in"><strong>С 2011 по 2015 гг</strong> занимался тренингами персональной эффективности.
			</div>
		</div>

		<div class="history-transp">
			<div class="history-transp--in"><strong>С 2014 до 2019 гг</strong> я работал по психотехнике ТФВ. За годы практики через меня прошли сотни клиентов и были получены тысячи качественных изменений в их восприятии.
			</div>
		</div>

		<div class="history-transp special">
			<div class="history-transp--in">Трансформация Фильтров Восприятия (ТФВ) - психотехника, разработаная Иваном Пирогом в 2013 году, которая дала мне серьезную базу знаний и инструменты для работы с психикой человека.
			</div>
			<div class="history-transp--ad">Всем, кто стремится к самосовершенствованию, я рекомендую сходить к нему на обучение.</div>
		</div>

		<div class="history-transp">
			<div class="history-transp--in"><strong>В конце 2019 г</strong>, ко мне домой на Бали, прилетела целая семья на очные сеансы, во главе с <strong>Александром Петровым</strong> (благодарю его, за доверие). Работая с семьей Александра (5 человек), я наблюдал их взаимоотношения.
			</div>
		</div>

		<div class="history-transp">
			<div class="history-transp--in">Благодаря навыкам алгоритмизации, <strong>я смог отследить причинно-следственные связи,</strong> в их реакциях и поведении. На основании полученных данных создал и проверил гипотезу. <strong>Гипотеза сработала.</strong>
			</div>
		</div>

		<div class="history-transp">
			<div class="history-transp--in">Так и <strong>появилась психотехника ЛДОУ</strong>, которая каждый день подтверждает свою необычайную эффективность.
			</div>
		</div>


	</div>
include ./footer.jade