include ./header.jade
	<article class="policy">
		<h1>Правила обработки персональных данных</h1>
		
		<p>Соблюдение Вашей конфиденциальности важно для нас. По этой причине, мы разработали Политику Конфиденциальности, которая описывает, как мы используем и храним Вашу информацию. Пожалуйста, ознакомьтесь с нашими правилами соблюдения конфиденциальности и сообщите нам, если у вас возникнут какие-либо вопросы.

		<h2>Сбор и использование персональной информации</h2>

		<p>Под персональной информацией понимаются данные, которые могут быть использованы для идентификации определенного лица либо связи с ним.

		<p>От вас может быть запрошено предоставление вашей персональной информации в любой момент, когда вы связываетесь с нами.

		<p>Ниже приведены некоторые примеры типов персональной информации, которую мы можем собирать, и как мы можем использовать такую информацию.

		<h2>Какую персональную информацию мы собираем:</h2>

		<p>Когда вы оставляете заявку на сайте, мы можем собирать различную информацию, включая ваши имя, номер телефона, адрес электронной почты и т.д.

		<h2>Как мы используем вашу персональную информацию:</h2>

		<p>Собираемая нами персональная информация позволяет нам связываться с вами и сообщать об уникальных предложениях, акциях и других мероприятиях и ближайших событиях. Время от времени, мы можем использовать вашу персональную информацию для отправки важных уведомлений и сообщений.

		<p>Мы также можем использовать персональную информацию для внутренних целей, таких как проведения аудита, анализа данных и различных исследований в целях улучшения услуг предоставляемых нами и предоставления Вам рекомендаций относительно наших услуг.

		<p>Если вы принимаете участие в розыгрыше призов, конкурсе или сходном стимулирующем мероприятии, мы можем использовать предоставляемую вами информацию для управления такими программами.

		<h2>Раскрытие информации третьим лицам</h2>

		<p>Мы не раскрываем полученную от Вас информацию третьим лицам.

		<h3></h3>Исключения:

		<p>В случае если необходимо — в соответствии с законом, судебным порядком, в судебном разбирательстве, и/или на основании публичных запросов или запросов от государственных органов на территории РФ — раскрыть вашу персональную информацию. Мы также можем раскрывать информацию о вас если мы определим, что такое раскрытие необходимо или уместно в целях безопасности, поддержания правопорядка, или иных общественно важных случаях.
		<p>В случае реорганизации, слияния или продажи мы можем передать собираемую нами персональную информацию соответствующему третьему лицу – правопреемнику.

		<h2>Защита персональной информации</h2>

		<p>Мы предпринимаем меры предосторожности — включая административные, технические и физические — для защиты вашей персональной информации от утраты, кражи, и недобросовестного использования, а также от несанкционированного доступа, раскрытия, изменения и уничтожения.

		<h2>Соблюдение вашей конфиденциальности на уровне компании</h2>

		<p>Для того чтобы убедиться, что ваша персональная информация находится в безопасности, мы доводим нормы соблюдения конфиденциальности и безопасности до наших сотрудников, и строго следим за исполнением мер соблюдения конфиденциальности.
		

	</article>
include ./footer.jade