include ./header.jade
	<article class="programm">
		<h1>программа курса</h1>
		<ol class="programm-ol">
			<li>теория</li>
			<li>психотехника</li>
			<li>практика</li>
			<li>сертификация</li>
		</ol>
		<section>
			<h2>1 день</h2>
			<p>- Знакомство<br>- Благодарности<br>- История техники<br>- Психотехника ЛДОУ<br>- Принадлежности для тренинга<br>- График обучения</p>
		</section>
		<section>
			<h2>2 ДЕНЬ</h2>
			<p>- Сознание и подсознание<br>- 3 семилетних цикла взросления<br>- Познание и оценочные убеждения<br>- Оценочное убеждение<br>- Почему это слово<br>- Убежденность<br>- Аргументы и доводы<br>- Функция и массив ОУ<br>- Категории ОУ<br>- Основания для запуска ОУ</p>
		</section>
		<section>
			<h2>3 ДЕНЬ</h2>
			<p>- Процесс мышления<br>- Гештальт<br>- Идеализация<br>- Антиидеализация<br>- Эмоции<br>- 4 типа эмоций<br>- Негативный прогноз<br>- Мыслительная линия</p>
		</section>

		

	</article>
include ./footer.jade