include ./header.jade

<div class="reviews">
	<h1>Отзывы клиентов выпускников</h1>
	<div class="tabs">
		<a href="#!" class="tabs--item video active">видео-отзывы</a>
		<a href="#!" class="tabs--item more">ещё отзывы</a>
	</div>
	<form class="reviews-form">
		<input type="text" placeholder="введите имя выпускника" class="reviews-form--input">
		<button type="submit" class="reviews-form--button button">Найти</button>
	</form>
	<div class="reviews-list video active">
		<a href="/video.php?video=review&index=12" class="main-reviews--bigvid">
			<div class="bigvid--img">
				<img src="files/pcrev1.jpg" alt="">
			</div>
			<span>Отзыв Ивану Егорову<br> от Лидии Цветочной</span>
		</a>
		<a href="/video.php?video=review&index=13" class="main-reviews--bigvid">
			<div class="bigvid--img">
				<img src="files/pcrev2.jpg" alt="">
			</div>
			<span>Отзыв Ивану Егорову<br> от Елизаветы Дмитриевой</span>
		</a>
		<a href="/video.php?video=review&index=14" class="main-reviews--bigvid">
			<div class="bigvid--img">
				<img src="files/pcrev3.jpg" alt="">
			</div>
			<span>Отзыв Ивану Егорову<br> от Максима Карпатского</span>
		</a>
		<a href="/video.php?video=review&index=15" class="main-reviews--bigvid">
			<div class="bigvid--img">
				<img src="files/pcrev8.jpg" alt="">
			</div>
			<span>Отзыв Ивану Егорову<br> от Розы Анисимовы</span>
		</a>
		<a href="/video.php?video=review&index=16" class="main-reviews--bigvid">
			<div class="bigvid--img">
				<img src="files/pcrev7.jpg" alt="">
			</div>
			<span>Отзыв Ивану Егорову<br> от Станислава Васнецова</span>
		</a>
		<a href="/video.php?video=review&index=17" class="main-reviews--bigvid">
			<div class="bigvid--img">
				<img src="files/pcrev6.jpg" alt="">
			</div>
			<span>Отзыв Ивану Егорову<br> от Дмитрия Сергеева</span>
		</a>
		<a href="/video.php?video=review&index=12" class="main-reviews--bigvid">
			<div class="bigvid--img">
				<img src="files/pcrev1.jpg" alt="">
			</div>
			<span>Отзыв Ивану Егорову<br> от Лидии Цветочной</span>
		</a>
		<a href="/video.php?video=review&index=13" class="main-reviews--bigvid">
			<div class="bigvid--img">
				<img src="files/pcrev2.jpg" alt="">
			</div>
			<span>Отзыв Ивану Егорову<br> от Елизаветы Дмитриевой</span>
		</a>
		<a href="/video.php?video=review&index=14" class="main-reviews--bigvid">
			<div class="bigvid--img">
				<img src="files/pcrev3.jpg" alt="">
			</div>
			<span>Отзыв Ивану Егорову<br> от Максима Карпатского</span>
		</a>
		<a href="/video.php?video=review&index=15" class="main-reviews--bigvid">
			<div class="bigvid--img">
				<img src="files/pcrev8.jpg" alt="">
			</div>
			<span>Отзыв Ивану Егорову<br> от Розы Анисимовы</span>
		</a>
		<a href="/video.php?video=review&index=16" class="main-reviews--bigvid">
			<div class="bigvid--img">
				<img src="files/pcrev7.jpg" alt="">
			</div>
			<span>Отзыв Ивану Егорову<br> от Станислава Васнецова</span>
		</a>
		<a href="/video.php?video=review&index=17" class="main-reviews--bigvid">
			<div class="bigvid--img">
				<img src="files/pcrev6.jpg" alt="">
			</div>
			<span>Отзыв Ивану Егорову<br> от Дмитрия Сергеева</span>
		</a>
		<a href="/video.php?video=review&index=12" class="main-reviews--bigvid">
			<div class="bigvid--img">
				<img src="files/pcrev1.jpg" alt="">
			</div>
			<span>Отзыв Ивану Егорову<br> от Лидии Цветочной</span>
		</a>
		<a href="/video.php?video=review&index=13" class="main-reviews--bigvid">
			<div class="bigvid--img">
				<img src="files/pcrev2.jpg" alt="">
			</div>
			<span>Отзыв Ивану Егорову<br> от Елизаветы Дмитриевой</span>
		</a>
		<a href="/video.php?video=review&index=14" class="main-reviews--bigvid">
			<div class="bigvid--img">
				<img src="files/pcrev3.jpg" alt="">
			</div>
			<span>Отзыв Ивану Егорову<br> от Максима Карпатского</span>
		</a>
		<a href="/video.php?video=review&index=15" class="main-reviews--bigvid">
			<div class="bigvid--img">
				<img src="files/pcrev8.jpg" alt="">
			</div>
			<span>Отзыв Ивану Егорову<br> от Розы Анисимовы</span>
		</a>
		<a href="/video.php?video=review&index=16" class="main-reviews--bigvid">
			<div class="bigvid--img">
				<img src="files/pcrev7.jpg" alt="">
			</div>
			<span>Отзыв Ивану Егорову<br> от Станислава Васнецова</span>
		</a>
		<a href="/video.php?video=review&index=17" class="main-reviews--bigvid">
			<div class="bigvid--img">
				<img src="files/pcrev6.jpg" alt="">
			</div>
			<span>Отзыв Ивану Егорову<br> от Дмитрия Сергеева</span>
		</a>
	</div>
	<div class="reviews-list more">
		<div class="reviews-list--col">
			<div class="reviews-item">
				<div class="reviews-item--header">
					<div class="reviews-item--img">
						<img src="img/review-img.png" alt="">
					</div>
					<div class="reviews-item--info">
						<p class="name">Отзыв Василию Иванову от Лидии Цветочной</p>
						<p class="date">23.08.2020</p>
					</div>
				</div>
				<div class="reviews-item--body">Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.</div>
			</div>
			<div class="reviews-item">
				<div class="reviews-item--header">
					<div class="reviews-item--img">
						<img src="img/review-img.png" alt="">
					</div>
					<div class="reviews-item--info">
						<p class="name">Отзыв Ивану Егорову от Лидии Цветочной</p>
						<p class="date">23.08.2020</p>
					</div>
				</div>
				<div class="reviews-item--body">Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.</div>
			</div>
			<div class="reviews-item">
				<div class="reviews-item--header">
					<div class="reviews-item--img">
						<img src="img/review-img.png" alt="">
					</div>
					<div class="reviews-item--info">
						<p class="name">Отзыв Андрею Чернову от Лидии Цветочной</p>
						<p class="date">23.08.2020</p>
					</div>
				</div>
				<div class="reviews-item--body">Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.</div>
			</div>
		</div>
		<div class="reviews-list--col">
			<div class="reviews-item">
				<div class="reviews-item--header">
					<div class="reviews-item--img">
						<img src="img/review-img.png" alt="">
					</div>
					<div class="reviews-item--info">
						<p class="name">Отзыв Сергею Велесову от Лидии Цветочной</p>
						<p class="date">23.08.2020</p>
					</div>
				</div>
				<div class="reviews-item--body">Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.</div>
			</div>
			<div class="reviews-item">
				<div class="reviews-item--header">
					<div class="reviews-item--img">
						<img src="img/review-img.png" alt="">
					</div>
					<div class="reviews-item--info">
						<p class="name">Отзыв Ивану Антонову от Лидии Цветочной</p>
						<p class="date">23.08.2020</p>
					</div>
				</div>
				<div class="reviews-item--body">Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.</div>
			</div>
			<div class="reviews-item">
				<div class="reviews-item--header">
					<div class="reviews-item--img">
						<img src="img/review-img.png" alt="">
					</div>
					<div class="reviews-item--info">
						<p class="name">Отзыв Евгении Андреевой от Лидии Цветочной</p>
						<p class="date">23.08.2020</p>
					</div>
				</div>
				<div class="reviews-item--body">Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.</div>
			</div>
		</div>
	</div>
</div>

include ./footer.jade