include ./header.jade

<div class="reviews">
	<h1>Отзывы клиентов выпускников</h1>
	<div class="tabs">
		<a href="#!" class="tabs--item video active">видео-отзывы</a>
		<a href="#!" class="tabs--item more">ещё отзывы</a>
	</div>
	<input list="cookies" type="text" placeholder="введите имя выпускника" class="reviews--input">
	<datalist id="cookies">
		<option value="Иван Егоров">
		<option value="Татьяна Евдокимова">
		<option value="Руслан Зуев">
		<option value="Александр Петров">
		<option value="Елена Крутикова">
		<option value="Евгения Наконечная">
		<option value="Евгения Кривич">
	</datalist>
	<div class="reviews-list video active">
		<a href="/video.php?video=review&index=12" class="main-reviews--bigvid" data-graduate="Иван Егоров">
			<div class="bigvid--img">
				<img src="files/pcrev1.jpg" alt="">
			</div>
			<span>Отзыв Ивану Егорову<br> от Лидии Цветочной</span>
		</a>
		<a href="/video.php?video=review&index=13" class="main-reviews--bigvid" data-graduate="Евгения Наконечная">
			<div class="bigvid--img">
				<img src="files/pcrev2.jpg" alt="">
			</div>
			<span>Отзыв Евгении Наконечной<br> от Елизаветы Дмитриевой</span>
		</a>
		<a href="/video.php?video=review&index=14" class="main-reviews--bigvid" data-graduate="Руслан Зуев">
			<div class="bigvid--img">
				<img src="files/pcrev3.jpg" alt="">
			</div>
			<span>Отзыв Руслану Зуеву<br> от Максима Карпатского</span>
		</a>
		<a href="/video.php?video=review&index=15" class="main-reviews--bigvid" data-graduate="Иван Егоров">
			<div class="bigvid--img">
				<img src="files/pcrev8.jpg" alt="">
			</div>
			<span>Отзыв Ивану Егорову<br> от Розы Анисимовы</span>
		</a>
		<a href="/video.php?video=review&index=16" class="main-reviews--bigvid" data-graduate="Александр Петров">
			<div class="bigvid--img">
				<img src="files/pcrev7.jpg" alt="">
			</div>
			<span>Отзыв Александру Петрову<br> от Станислава Васнецова</span>
		</a>
		<a href="/video.php?video=review&index=17" class="main-reviews--bigvid" data-graduate="Иван Егоров">
			<div class="bigvid--img">
				<img src="files/pcrev6.jpg" alt="">
			</div>
			<span>Отзыв Ивану Егорову<br> от Дмитрия Сергеева</span>
		</a>
		<a href="/video.php?video=review&index=12" class="main-reviews--bigvid" data-graduate="Иван Егоров">
			<div class="bigvid--img">
				<img src="files/pcrev1.jpg" alt="">
			</div>
			<span>Отзыв Ивану Егорову<br> от Лидии Цветочной</span>
		</a>
		<a href="/video.php?video=review&index=13" class="main-reviews--bigvid" data-graduate="Иван Егоров">
			<div class="bigvid--img">
				<img src="files/pcrev2.jpg" alt="">
			</div>
			<span>Отзыв Ивану Егорову<br> от Елизаветы Дмитриевой</span>
		</a>
		<a href="/video.php?video=review&index=14" class="main-reviews--bigvid" data-graduate="Иван Егоров">
			<div class="bigvid--img">
				<img src="files/pcrev3.jpg" alt="">
			</div>
			<span>Отзыв Ивану Егорову<br> от Максима Карпатского</span>
		</a>
		<a href="/video.php?video=review&index=15" class="main-reviews--bigvid" data-graduate="Иван Егоров">
			<div class="bigvid--img">
				<img src="files/pcrev8.jpg" alt="">
			</div>
			<span>Отзыв Ивану Егорову<br> от Розы Анисимовы</span>
		</a>
		<a href="/video.php?video=review&index=16" class="main-reviews--bigvid" data-graduate="Иван Егоров">
			<div class="bigvid--img">
				<img src="files/pcrev7.jpg" alt="">
			</div>
			<span>Отзыв Ивану Егорову<br> от Станислава Васнецова</span>
		</a>
		<a href="/video.php?video=review&index=17" class="main-reviews--bigvid" data-graduate="Иван Егоров">
			<div class="bigvid--img">
				<img src="files/pcrev6.jpg" alt="">
			</div>
			<span>Отзыв Ивану Егорову<br> от Дмитрия Сергеева</span>
		</a>
		<a href="/video.php?video=review&index=12" class="main-reviews--bigvid" data-graduate="Иван Егоров">
			<div class="bigvid--img">
				<img src="files/pcrev1.jpg" alt="">
			</div>
			<span>Отзыв Ивану Егорову<br> от Лидии Цветочной</span>
		</a>
		<a href="/video.php?video=review&index=13" class="main-reviews--bigvid" data-graduate="Иван Егоров">
			<div class="bigvid--img">
				<img src="files/pcrev2.jpg" alt="">
			</div>
			<span>Отзыв Ивану Егорову<br> от Елизаветы Дмитриевой</span>
		</a>
		<a href="/video.php?video=review&index=14" class="main-reviews--bigvid" data-graduate="Иван Егоров">
			<div class="bigvid--img">
				<img src="files/pcrev3.jpg" alt="">
			</div>
			<span>Отзыв Ивану Егорову<br> от Максима Карпатского</span>
		</a>
		<a href="/video.php?video=review&index=15" class="main-reviews--bigvid" data-graduate="Иван Егоров">
			<div class="bigvid--img">
				<img src="files/pcrev8.jpg" alt="">
			</div>
			<span>Отзыв Ивану Егорову<br> от Розы Анисимовы</span>
		</a>
		<a href="/video.php?video=review&index=16" class="main-reviews--bigvid" data-graduate="Иван Егоров">
			<div class="bigvid--img">
				<img src="files/pcrev7.jpg" alt="">
			</div>
			<span>Отзыв Ивану Егорову<br> от Станислава Васнецова</span>
		</a>
		<a href="/video.php?video=review&index=17" class="main-reviews--bigvid" data-graduate="Иван Егоров">
			<div class="bigvid--img">
				<img src="files/pcrev6.jpg" alt="">
			</div>
			<span>Отзыв Ивану Егорову<br> от Дмитрия Сергеева</span>
		</a>
	</div>
	<div class="reviews-list more">
		<div class="reviews-list--col">
			<div class="reviews-item" data-graduate="Иван Егоров">
				<div class="reviews-item--header">
					<div class="reviews-item--img">
						<img src="img/review-img.png" alt="">
					</div>
					<div class="reviews-item--info">
						<p class="name">Отзыв Ивану Егорову от Лидии Цветочной</p>
						<p class="date">23.08.2020</p>
					</div>
				</div>
				<div class="reviews-item--body">Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.</div>
			</div>
			<div class="reviews-item" data-graduate="Евгения Кривич">
				<div class="reviews-item--header">
					<div class="reviews-item--img">
						<img src="img/review-img.png" alt="">
					</div>
					<div class="reviews-item--info">
						<p class="name">Отзыв Евгении Кривич от Лидии Цветочной</p>
						<p class="date">23.08.2020</p>
					</div>
				</div>
				<div class="reviews-item--body">Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.</div>
			</div>
			<div class="reviews-item" data-graduate="Иван Егоров">
				<div class="reviews-item--header">
					<div class="reviews-item--img">
						<img src="img/review-img.png" alt="">
					</div>
					<div class="reviews-item--info">
						<p class="name">Отзыв Ивану Егорову от Лидии Цветочной</p>
						<p class="date">23.08.2020</p>
					</div>
				</div>
				<div class="reviews-item--body">Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.</div>
			</div>
		</div>
		<div class="reviews-list--col">
			<div class="reviews-item" data-graduate="Евгения Наконечная">
				<div class="reviews-item--header">
					<div class="reviews-item--img">
						<img src="img/review-img.png" alt="">
					</div>
					<div class="reviews-item--info">
						<p class="name">Отзыв Евгении Наконечной от Лидии Цветочной</p>
						<p class="date">23.08.2020</p>
					</div>
				</div>
				<div class="reviews-item--body">Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.</div>
			</div>
			<div class="reviews-item" data-graduate="Руслан Зуев">
				<div class="reviews-item--header">
					<div class="reviews-item--img">
						<img src="img/review-img.png" alt="">
					</div>
					<div class="reviews-item--info">
						<p class="name">Отзыв Руслану Зуеву от Лидии Цветочной</p>
						<p class="date">23.08.2020</p>
					</div>
				</div>
				<div class="reviews-item--body">Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.</div>
			</div>
			<div class="reviews-item" data-graduate="Руслан Зуев">
				<div class="reviews-item--header">
					<div class="reviews-item--img">
						<img src="img/review-img.png" alt="">
					</div>
					<div class="reviews-item--info">
						<p class="name">Отзыв Руслану Зуеву от Лидии Цветочной</p>
						<p class="date">23.08.2020</p>
					</div>
				</div>
				<div class="reviews-item--body">Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу. Никогда бы не подумал, что есть хоть какой-то способ, так быстро влияющий на человека. Сука магия. Не иначе. Обычно не пишу никаких отзывов, но сейчас это касается меня лично, моего внутреннего состояния и мира, в котором я живу.</div>
			</div>
		</div>
	</div>
</div>

include ./footer.jade